### update()

- It is used to update the elements of one dictionary to another dictionary
- It is used to combine two dictionary 

Syntax: 

    dict_1.update(dict_2)
    
  update() method takes a dictionary as an argument or as an input
  
__Note__:- The elements of dictionary 2 will be added or updated to the dictionary 1

In [1]:
d = {i:i**2 for i in range(1,11) if i%2 ==0}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [2]:
d2 = {i:i**3 for i in range(1,11) if i%2 !=0}
print(d2)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [3]:
d.update(d2)

In [4]:
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [5]:
d1 = {1:1, 2:4}
d2 = {1:1, 2:8, 3:27}
d1.update(d2)
print(d1)

{1: 1, 2: 8, 3: 27}

In [6]:
dict_a = {'name':'Shyam','age':25, 'salary':24000, 'Isworking':True}
dict_b = {'name':'Ram', 'age': 55, 'salary': 55000, 'Isworking':False}

dict_a.update(dict_b)

In [7]:
print(dict_a)

{'name': 'Ram', 'age': 55, 'salary': 55000, 'Isworking': False}

### pop()

- It returns the value at a specified key from the dictionary and removes the element at that particular key from the dictionary.
- For all the invalid keys, it will raise an error 

Syntax: 

    dictionary_name.pop(key)

In [8]:
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [9]:
d.pop(7)

343

In [10]:
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 9: 729}

In [11]:
d.pop(8)

64

In [12]:
print(d)

{2: 4, 4: 16, 6: 36, 10: 100, 1: 1, 3: 27, 5: 125, 9: 729}

### popitem()

- It returns the last element and removes it from the dictioanry

In [13]:
d = {i:i*3 for i in range(1,20)}
print(d)

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30, 11: 33, 12: 36, 13: 39, 14: 42, 15: 45, 16: 48, 17: 51, 18: 54, 19: 57}

In [15]:
d.popitem()

(19, 57)

In [16]:
print(d)

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30, 11: 33, 12: 36, 13: 39, 14: 42, 15: 45, 16: 48, 17: 51, 18: 54}

### fromkeys()

- It is used to assign the same value to mutiple keys.

Synatx: 
        
        dict.fromkeys(iterable, value)
        
 __Note__:- The iterable should have keys

In [19]:
names = {'Rajesh', 'Karan', 'Aman', 'Priya', 'Abha'} # they will act as keys
# {'Rajesh':'Learnbay', 'Karan':'Learnbay', 'Aman':'Learnbay', 'Priya':'Learnbay', 'Abha':Learnbay}

In [22]:
comp = dict.fromkeys(names, 'Learnbay')
print(comp)

{'Rajesh': 'Learnbay', 'Abha': 'Learnbay', 'Priya': 'Learnbay', 'Karan': 'Learnbay', 'Aman': 'Learnbay'}

### get()

- It takes a key as an argument or an input and returns the value at that particular key
- For a invalid key, it will return None

Synatx:

    comp.get('Abha')

In [23]:
comp.get('Abha')

'Learnbay'

In [27]:
print(comp.get('Mayank'))

None

In [24]:
d

{1: 3,
 2: 6,
 3: 9,
 4: 12,
 5: 15,
 6: 18,
 7: 21,
 8: 24,
 9: 27,
 10: 30,
 11: 33,
 12: 36,
 13: 39,
 14: 42,
 15: 45,
 16: 48,
 17: 51,
 18: 54}

In [25]:
d.get(11)

33

### setdefaults()

- It takes a key as an argument 
- If the key is already there, then it will return the value at that particular key
- It the key does not exist, then it creates one and assign None to that key
- We can pass both the keys and the values as well

In [28]:
names

{'Abha', 'Aman', 'Karan', 'Priya', 'Rajesh'}

In [29]:
names = list(names)

In [30]:
names

['Rajesh', 'Abha', 'Priya', 'Karan', 'Aman']

In [31]:
cities = ['Chennai', 'Bengaluru', 'Noida', 'Mumbai', 'Chandigarh']

In [32]:
emp = dict(zip(names, cities))
print(emp)

{'Rajesh': 'Chennai', 'Abha': 'Bengaluru', 'Priya': 'Noida', 'Karan': 'Mumbai', 'Aman': 'Chandigarh'}

In [33]:
print(emp.setdefault('Priya'))

Noida

In [34]:
print(emp.setdefault('Mayank'))

None

In [35]:
print(emp)

{'Rajesh': 'Chennai', 'Abha': 'Bengaluru', 'Priya': 'Noida', 'Karan': 'Mumbai', 'Aman': 'Chandigarh', 'Mayank': None}

In [36]:
print(emp.setdefault('Chandni', 'Jalandhar'))

Jalandhar

In [37]:
print(emp)

{'Rajesh': 'Chennai', 'Abha': 'Bengaluru', 'Priya': 'Noida', 'Karan': 'Mumbai', 'Aman': 'Chandigarh', 'Mayank': None, 'Chandni': 'Jalandhar'}

#### clear()

- It removes all the elements from the dictionary and makes the dictionary empty

In [38]:
comp

{'Rajesh': 'Learnbay',
 'Abha': 'Learnbay',
 'Priya': 'Learnbay',
 'Karan': 'Learnbay',
 'Aman': 'Learnbay'}

In [39]:
comp.clear()

In [40]:
comp

{}

### copy()

- It copies all the element of a dictioanry and going to create a new dictionary

In [41]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
d2 = d.copy()

In [43]:
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [44]:
print(id(d), id(d2))

2610342476672 2610327777088

### Functions

- A function is a block of code that gets executed as and when it is called 
- A function is used to reuse a code over and over again
- By using function, we write the code once and we can use it n number of time in the same program
- A function helps us to reduce the lines of code in a program

Synatax: 

##### function declaration or declaring a function
    def function_name(): 
        code 
        return some_value
        
##### calling a function
         function_name()

In [49]:
# declaring a function
def sum_of_two_number(a,b):
    c = a+b
    return c

#calling a function
sum_of_two_number(9,8)

17

In [51]:
sum_of_two_number(1,6)

7

In [52]:
sum_of_two_number(100,100000)

100100

In [53]:
print(a)

NameError: name 'a' is not defined

In [54]:
print(b)

NameError: name 'b' is not defined

In [55]:
print(c)

NameError: name 'c' is not defined

### Return and print

- A function may or may not have a return value 
- return statement is used to return a value form a function
- return statment returns a value back to the function
- we assign a function call to a variable, so that it can be handles later on
- If we want to use a result of a function, we have to assign it to a variable
- return statement will terminate the function 

__Note__: - print statement does not return anything, it returns a none datatype

### Global Variable vs local variable 

- Global variables

        - These are those variables that once declared have the scope everywhere in the entire program 
        
- Local variable 

        - These are those variable which are defined from a function, which have a limited scope and it can be accessed outside that function

In [59]:
a = 10 # global variable 

def abc():
    a = 5 # local variable 
    print(a)
    
print(a)
abc()

10
5

In [78]:
a = 10 # global variable

def dummy():
    a = 5
    x = a+1
    return x
    a = 5 # local 
print(a)
dummy()

10

6

In [81]:
a = 10

def dummy():
    '''a function will give preference to a local variable, 
    if no ther then it will give the preference to the global variable declared'''
     
#     a = 100
    x = a -99
    return a

print(a)
dummy()

10

10

In [84]:
a=5
def dummy():
# 	global a
	x=a+10
	print(x)
	a=7
	return a


dummy()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [92]:
# since we have declared the local variable after the operation it will noit going to have any value stored in it
# and it will not take the global variable since we have declared the local variable inside the function
a = 10
def dummy():
    x = a+1
#     a = 5
    return x

# umm sir what about this one
dummy()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [91]:
a = 10
def dummy():
    a = 5
    x = a+1
    return x

# so this will work
dummy()

11

In [94]:
def vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in input_string:
        if char in vowels:
            count += 1

    return count

vowels('My name is Mayank ghai')

7