# Data types

1. Fundamental (Basic )

- int :- Any number without any decimal point eg -99 , 0 , 99 
- float :- Any number with any decimal point eg -99.5434 , 0.0 , 99.54354 
- complex :- Any number that can be written in a form of a+bj wher a is the real number b is the imag
- bool :- True / False
- string :- Anything written inside '..' , ".." , '''...''' , """.."""
- None


2. Derived data types
   
- list
- tuple
- dictionary
- set

In [10]:
a = 35


print(a , type(a))

35 <class 'int'>

In [13]:
a = -34.65


print(a , type(a))

-34.65 <class 'float'>

In [14]:
a = 0.0


print(a , type(a))

0.0 <class 'float'>

In [19]:
a = 23+7j

print(a , type(a))
print(a.real)
print(a.imag)

(23+7j) <class 'complex'>
23.0
7.0

In [20]:
a = True


print(a , type(a))

True <class 'bool'>

In [21]:
a = False


print(a , type(a))

False <class 'bool'>

In [22]:
True + True + True

3

In [ ]:
True ---> 1
False ---> 0

In [23]:
a = 'Hello world' 


print(a , type(a))

Hello world <class 'str'>

In [24]:
a = '43' 


print(a , type(a))

43 <class 'str'>

In [25]:
a = 'True' 

print(a , type(a))

True <class 'str'>

In [31]:
a = 'this is pythons class' 

print(a , type(a))

this is pythons class <class 'str'>

In [32]:
a = 'this is python's class' 

print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (4002252862.py, line 1)

In [40]:
a = "this is python's. class" 

print(a , type(a))

this is python's. class <class 'str'>

In [34]:
a = "this 
is python's 
class" 

print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (4147176953.py, line 1)

In [35]:
a = '''this 
is python's 
class''' 

print(a , type(a))

this
is python's
class <class 'str'>

In [36]:
a = """this 
is python's 
class""" 

print(a , type(a))

this
is python's
class <class 'str'>

In [ ]:
a = """this 
is python's 
class""" 

print(a , type(a))

In [39]:
a = '''Today is the anniversary of the publication of Robert Frost’s 
iconic poem “Stopping by Woods on a Snowy Evening,” a fact that spurred the
Literary Hub office into a long conversation about their favorite poems, the most 
iconic poems written in English, and which poems we should all have already read 
(or at least be reading next). Turns out, despite frequent (false) claims that poetry is dead and/or irrelevant
and/or boring, there are plenty of poems that have sunk deep into our collective consciousness as cultural icons. 
(What makes a poem iconic? For our purposes here, it’s primarily a matter of cultural ubiquity, 
though unimpeachable excellence helps any case.) So for those. of you who were not present for our 
epic office argument, I have listed some of them here.'''

print(a , type(a))

Today is the anniversary of the publication of Robert Frost’s
iconic poem “Stopping by Woods on a Snowy Evening,” a fact that spurred the
Literary Hub office into a long conversation about their favorite poems, the most
iconic poems written in English, and which poems we should all have already read
(or at least be reading next). Turns out, despite frequent (false) claims that poetry is dead and/or irrelevant
and/or boring, there are plenty of poems that have sunk deep into our collective consciousness as cultural icons.
(What makes a poem iconic? For our purposes here, it’s primarily a matter of cultural ubiquity,
though unimpeachable excellence helps any case.) So for those. of you who were not present for our
epic office argument, I have listed some of them here. <class 'str'>

In [41]:
a = None 

print(a , type(a))

None <class 'NoneType'>

In [ ]:
     emp_name      salary      age

        xyz        5345345      23
        abc         None        34
        lmn        5432234      None

In [45]:
s = [1,2,None,4,5]

In [46]:
s = [1,2,0,4,5]

In [48]:
[1,2,3,4,5]

15/5

3.0

In [49]:
[1,2,0,4,5]

12/5

2.4

In [50]:
[1,2,None,4,5]

12/4

3.0

# List


- Anything written inside [] and each elements are seperated by ,
- mutable

In [51]:
a = [23,34,345,56]

print(a , type(a))

[23, 34, 345, 56] <class 'list'>

# tuple


- Anything written inside () and each elements are seperated by ,
- immutable

In [57]:
a = ('abc',34,34.5,56 , (23,34,543))

print(a , type(a))

('abc', 34, 34.5, 56, (23, 34, 543)) <class 'tuple'>

In [54]:
a = [23,34,345,56]

a[0] = 999999999

a

[999999999, 34, 345, 56]

In [55]:
a = (23,34,345,56)

a[0] = 999999999

a

TypeError: 'tuple' object does not support item assignment

In [ ]:
     emp_name      salary      age       adhar       pan

        xyz        5345345      23        345345     435345
        abc         534534      34        34534       345345
        lmn        5432234      23        345        654

# set


- Anything written inside {} and each elements are seperated by ,
- collection of unique value

In [58]:
a = {23,34,345,56 ,56,56,56,56,56,56,56,56}

print(a , type(a))

{56, 345, 34, 23} <class 'set'>

In [59]:
a = {'xyz' , 'abc' , 'lmn' , 'xyz' , 'xyz'}

print(a , type(a))

{'abc', 'xyz', 'lmn'} <class 'set'>

# Dictionary

- Anything written inside {}
- It is a collection of a key and a value

In [60]:
a = {'name' : 'xyz' , 'age':45 , 'salary':6757567}

print(a , type(a))

{'name': 'xyz', 'age': 45, 'salary': 6757567} <class 'dict'>

In [61]:
a = {'name' : 'xyz' , 'age':45 , 'salary':6757567}

print(a , type(a))

len(a)

{'name': 'xyz', 'age': 45, 'salary': 6757567} <class 'dict'>

3

In [63]:
a = {'name' : 'xyz' , 'age':45 , 'salary':6757567}

print(a , type(a))

{'name': 'xyz', 'age': 45, 'salary': 6757567} <class 'dict'>

In [65]:
a = ['xyz' , 45 , 6757567]

print('Name : ' , a[0])
print('Age : ' , a[1])
print('Salary : ' , a[2])

Name :  xyz
Age :  45
Salary :  6757567

In [66]:
a = [ 45 , 6757567 , 'xyz']

print('Name : ' , a[0])
print('Age : ' , a[1])
print('Salary : ' , a[2])

Name :  45
Age :  6757567
Salary :  xyz

In [67]:
a = {'name' : 'xyz' , 'age':45 , 'salary':6757567}

print('Name : ' , a['name'])
print('Age : ' , a['age'])
print('Salary : ' , a['salary'])

Name :  xyz
Age :  45
Salary :  6757567

In [71]:
a = { "age":45 , 'salary':6757567 , 'name' : 'xyz'}

print('Name : ' , a['name'])
print('Age : ' , a['age'])
print('Salary : ' , a['salary'])

Name :  xyz
Age :  45
Salary :  6757567

In [ ]:
a = { "age":45 , 'salary':6757567 , 'name' : 'xyz'}

print('Name : ' , a['name'])
print('Age : ' , a['age'])
print('Salary : ' , a['salary'])

# Type casting

- Converting 1 data type to another

In [ ]:
a = 78

print(a , type(a))

In [76]:
# Syntax 1

a = 78

print(float(a) , type(float(a)))

78.0 <class 'float'>

In [77]:
a

78

In [79]:
# Syntax 2

a = float(78)

print(a , type(a))

78.0 <class 'float'>

In [80]:
a

78.0

In [88]:
a = int(123.9999999)

print(a , type(a))

123 <class 'int'>

In [90]:
a = round(123.2345)

print(a , type(a))

123 <class 'int'>

In [ ]:
0.5---> bigger

In [98]:
a = bool(345345)

print(a , type(a))

True <class 'bool'>

In [95]:
a = bool(0.00000001)

print(a , type(a))

True <class 'bool'>

In [96]:
a = bool(0+0j)

print(a , type(a))

False <class 'bool'>

In [99]:
a = bool(None)

print(a , type(a))

False <class 'bool'>

In [101]:
a = bool('')

print(a , type(a))

False <class 'bool'>

In [ ]:
int --> 0 is false and rest all are True
float ---> 0.0 is False and rest all are True
complex --> 0+0j is false rest all are True
None --> Is always False
string --> empty string is false and rest all are True


[] , () , {}

In [102]:
a = '1234'

print(a , type(a))

1234 <class 'str'>

In [103]:
a = int('1234')

print(a , type(a))

1234 <class 'int'>

In [104]:
a = int('1234abc')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '1234abc'

In [105]:
a = int('123.456')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '123.456'

In [106]:
a = float('123.456')

print(a , type(a))

123.456 <class 'float'>

In [107]:
a = float('123')

print(a , type(a))

123.0 <class 'float'>

In [108]:
a = int('123')

print(a , type(a))

123 <class 'int'>

In [112]:
a = int('123.567')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '123.567'

In [118]:
a = float('123')

print(a , type(a))

123.0 <class 'float'>

# eval

In [113]:
a = eval('123')

print(a , type(a))

123 <class 'int'>

In [114]:
a = eval('123.565')

print(a , type(a))

123.565 <class 'float'>

In [115]:
a = eval('12+7j')

print(a , type(a))

(12+7j) <class 'complex'>

In [116]:
a = eval('[2,3,4,5]')

print(a , type(a))

[2, 3, 4, 5] <class 'list'>

In [126]:
a = '123'

print(a , type(a))

123 <class 'str'>