# Datatype Sets (and Frozen Sets)

In [ ]:
#Sets are a special datatype in Python. They are loosely meant to perform mathematical set operations such as union, 
# intercection etc. 

# As in mathematical sets, a set in Python cannot have duplicate elements. 

#Sets in Python are : 

#1. A derived data type. 
#2. They are mutable themselves.
#3. However, the objects (references) in sets must be of immutable type. They must be unique
#4. Sequential i.e. containing other objects(or specifically the reference to the memory id of those objects)
#5. UNORDERED - here is where sets differ from most(all?) other datatypes. The sequence of input in sets is not maintained
# i.e. the elements in the set may appear in any order and may even differ from iteration to iteration. (Note - mostly, if 
# run iteration one after the other in same program - USUALLY the output order is the same - but no guarantees. However, 
# users have noticed that output differs when program is stopped and restarted - output order changes. All this is because
# of a Hash seed randomisation which is default in Python and is a security measure).
#6. Since Sets are unordered - the do not support indexing or slicing. 
#7. Since they are sequential, they can be iterated over but the output order cannot be guaranteed. 
#8. Heterogenous

In [ ]:
set1 = set('abcdefghijklmnopqrstuvwxyz')

print(set1)

In [ ]:
set1 = {7,14,2,3,17,19,75, 4, 'a', 'Z', 2+3j}
set2 = {10.2, 14,3,21, 'Z', 'x', 100}

set3 = set1.union(set2)

print(set3)

In [ ]:
lst1 = list('abcdefabcdeghijklmnop')

print(lst1)

In [ ]:
set1 = set('abcdefghijklmnop')

print(set1)

In [ ]:
for x in set1:
    print(x)

In [ ]:
#Initialising sets
set1 = {1,2,3,4,1,7,3}

print(set1)
print(type(set1))

In [ ]:
set2 = {}

print(set2)
print(type(set2))

In [ ]:
import numpy as np

lst1 = list(np.random.randint(1,100,200))

print(lst1)
print(len(lst1))

In [ ]:
lst2 = list(set(lst1))


# lst2 = []
# for x in lst1:
#     if x not in lst2:
#         lst2.append(x)
print(lst2)
print(len(lst2))

In [ ]:
lst2.sort()

print(lst2)

In [ ]:
set2 = set(lst2)

print(set2)

In [ ]:
lst = list((1,2,3,4))

print(lst)

In [ ]:
set2 = set((1,2,3,4,1,7,3))

#As with other constructors we have seen for lists and tuples, there must be only one iterable in the call to the set 
# constructor or it throws an error

print(set2)

In [ ]:
set2 = set([1,2,3,4,1,7,3])

print(set2)

In [ ]:
set3 = set('abcdef')

print(set3)

In [ ]:
print(set3[0])

In [ ]:
for x in set3:
    print(x)

In [ ]:
set4 = set()

print(type(set4))

In [ ]:
set5 = {}

print(set5)
print(type(set5))

In [ ]:
#Note how the input order has not been maintained in the above case.

In [ ]:
#Set operations and Methods

In [2]:
 set4 = set([1,2,(7,8,9),'abc',('xyz', [100,200])])
    
print(set4)

TypeError: unhashable type: 'list'

In [ ]:
#Note the error above since we are trying to use a mutable datatype in sets. 

set5 = set([1,2,'abc',['xyz', 'pqrst']])
print(set5)

In [ ]:
tup1 = (1,2,3,[100,200,300])

print(tup1)
print(type(tup1))

set5 = set(tup1)

In [ ]:
set6 = {1,2,'abc',('xyz', 'pqrst'),tup1}

print(set6)

In [ ]:
#Note how I cannot trick the set into accepting a mutable type inside the immutable tup1 object. 

tup2 = 1,2,3

print(tup2)
print(type(tup2))

In [ ]:
set7 = set([1,2,'abc',('xyz', 'pqrst'),tup2])

print(set7)

In [ ]:
#

In [3]:
#len() - Python built-in len() function works on Sets since they are sequential or collection of objects. 

set_len = len(set4)

print(set_len)

5

In [ ]:
#Iteration on sets works.

set7 = set(range(20))
print(set7)

In [ ]:
for x in set7:
    print(x)

In [ ]:
lst1 = list(range(1,100))
lst2 = list(range(1,1000,10))

#print(lst1)

In [ ]:
#print(lst2)

In [ ]:
lst3 = lst1+lst2

print(lst3)

In [ ]:
setset = set(lst3)

print(setset)

In [ ]:
set_lst = sorted(setset)

print(set_lst)

In [ ]:
print(setset)

In [ ]:
set_lst = sorted(set(lst3))

print(set_lst)

In [ ]:
print(set7)

In [ ]:
for x in set7:
    print(x)

In [ ]:
set1 = sorted(set('xyzabcpqrdef'))

print(set1)

In [ ]:
set2 = set(set1)

print(set2)

In [ ]:
print(max(set2))

In [ ]:
#Note however, the output order cannot be guaranteed, if output order needs to be maintained, it is best to convert the
#set to another datatype. 

lst3 = list(set7)

print(lst3)

In [ ]:
#Once converted to list, the order of lst3 will be maintained from iteration to iteration, program run to program run, 
# machine to machine, Python Interpreter and implementation version to Python interpreter and implementation.

In [ ]:
print(dir(list))

In [ ]:
lst1 = [7, 8, 9, 12, 14, 12, 23]
lst2 = [0, 13, 3, 8, 9, 14, 37,31,27, 8.0]
set4x = [7,8, 21, 17, 47, 51]

setl1 = set(lst1)
setl2 = set(lst2)
set1 = setl1.union(lst2, set4x)

print(set1)
print(setl1)
print(setl2)

In [ ]:
set4 = setl1.update(setl2, set4x)

print(set4)
print(setl1)
print(setl2)

In [ ]:
set1a = setl1|lst2
print(set1a)

In [5]:
set1 = {7, 8, 9, 12, 14, 12, 23}

In [6]:
#Membership operators in sets work as we have seen in other datatypes.
print(set1)

{23, 7, 8, 9, 12, 14}

In [7]:
print(2 in set1)

False

In [8]:
print(8 in set1)

True

In [9]:
print(2 not in set1)

True

In [10]:
print(8 not in set1)

False

In [11]:
#.add() method adds an element to a python set. 

set1 = set('abcdefghij')
print(set1)
id1 = id(set1)
print(id1)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'c'}
2081999208224

In [12]:
set1.add('k')

print(set1)
print(id(set1))

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'k', 'c'}
2081999208224

In [ ]:
returnset = set1.add('l')

print(returnset)
print(set1)
print(id(set1))

In [ ]:
set1.add('a')

print(set1)
print(id(set1))

In [ ]:
id2 = id(set1)
print(set1)

In [ ]:
print(returnset)

In [ ]:
print(id1, id2)

In [ ]:
#A set is mutable (but elements of a set should be immutable) so the memory id after add does not change. Add modifies the
# original set

set2 = set1.add(200)

print(set1)
print(set2)

In [ ]:
#As you can see, there is no return from the add method and therefore variable set2 returned None.

In [ ]:
set1.add(20200)

print(set1)

In [ ]:
set1.add(20200)

print(set1)

In [ ]:
#As you see, the element was not added to set as it was already present and sets cannot hold duplicate values.

In [ ]:
set1.add(201,1001)

print(set1)

In [ ]:
#We cannot add two elements at a time using the add function. 

#As lists and dictionaries are mutable, they cannot be added to sets. Tuples can be added but they will added as one single
# element of the set (with the caveat that the tuple itself does not contain a mutable object as we saw previously)

In [14]:
set1.add(1,2)

print(set1)

TypeError: set.add() takes exactly one argument (2 given)

In [13]:
print(set1)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'k', 'c'}

In [16]:
#.discard() method for sets removes an element from the set. It takes one parameter the element to be removed. If the
# element is present, it is removed, if not the original set is unchanged. 

set2 = set1.discard('c')

print(set1)
print(set2)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'k'}
None

In [ ]:
#Note - no return from the discard method.

In [17]:
set1.discard(1001)

print(set1)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'k'}

In [ ]:
set1.discard(1,2)
print(set1)

In [ ]:
#Note - how there is no error if element not found and set remains unchanged.

In [18]:
#.remove() method for sets removes specified element from the set. It takes one parameter, the element to be removed. If the
# element is present it removes it, if not it raises a KeyError

print(set1)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'j', 'k'}

In [ ]:
set1.add(200)

In [ ]:
print(set1)

In [19]:
set2 = set1.remove('j')

print(set1)
print(set2)

{'f', 'a', 'i', 'e', 'b', 'g', 'd', 'h', 'k'}
None

In [ ]:
#Note how the element is removed from set1 but the original set is modified and there is no return.

In [ ]:
print(set1)

In [20]:
set1.remove(72)

print(set1)

KeyError: 72

In [ ]:
#.pop() method on sets - removes a random element from the set (usually the top printed element from the set). .pop() method
# returns the popped element which we can save to a variable. It takes no arguments. 

print(set1)

In [21]:
set_pop = set1.pop()

print(set1)
print(set_pop)

{'a', 'i', 'e', 'b', 'g', 'd', 'h', 'k'}
f

In [ ]:
print(type(set1.pop()))

In [ ]:
print(type(set.pop))

In [ ]:
set2 = {'xyz','abc', 'Python', 'Abracadabra', 'Rikki'}

print(set2)

In [ ]:
set_pop2 = set2.pop()

print(set2)
print(set_pop2)

In [22]:
print(set1)
print(id(set1))

{'a', 'i', 'e', 'b', 'g', 'd', 'h', 'k'}
2081999208224

In [23]:
set1.clear()

print(set1)
print(id(set1))

set()
2081999208224

In [ ]:
#.update() method on set - takes any element(or iterable), converts it to sets and updates the original set. There is no
# return in the output. 

set1 = {1,2,3,4,7,8}

In [ ]:
# set2 = sorted(set1)

# print(set2)

In [ ]:
lst1 = list(range(5))
lst2 = list(range(10,15))
lst3 = list(range(20,25))


print(lst1)
print(lst2)
print(lst3)

In [ ]:
zipd = list(zip(lst1,lst2,lst3))

print(zipd)

In [ ]:
a,b,c = zip(*zipd)
a = list(a)
b = list(b)
c = list(c)

print(a)
print(b)
print(c)

In [ ]:
print(dir(set))

In [ ]:
lst1 = list(range(100))

lst100 = list(range(1,1000,10))

set1 = sorted(set(lst1+lst100))

print(set1)

In [ ]:
print(dir(set))

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8}

print(set1)
print(set2)

In [2]:
# Properties of sets

#1. Derived datatype
#2. Mutable themselves
#3. Holds immutable objects and Unique
#4. The objects in sets can be heterogenous
#5. Unordered therefore do not support subscription.
#6. Iterable - (but output order cannot be guaranteed)

# Methods seen so far:

add, clear, copy, discard, pop, remove

# Difference discard - wont throw error if element not present, remove will. 

# Pop - removes random element from set (usually the first element but cannot be guaranteed)

# Remove and discard - do not return anything - modify the original set. 
# pop - returns the element that was popped.

In [3]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
+, -, /, *.... when used in overloaded form - cannot be used between different datatypes.

### Union Method

In [12]:
set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,6}

In [13]:
set3 = set1.union(set2)

print(set1)
print(set2)
print(set3)

{1, 2, 3, 4, 5, 6}
{8, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
print('Before update', set1)

set4 = set1.update(set2)

print('After update', set1)
print(set2)
#print(set3)
print(set4)

Before update {1, 2, 3, 4, 5, 6}
After update {1, 2, 3, 4, 5, 6, 7, 8}
{8, 5, 6, 7}
None

In [ ]:
# Duplicates are not allowed.


# Sets are mutable
# They can only contain immutable objects.

In [14]:
set5 = {9,10,11,12}
set6 = {14,15,16}

In [16]:
set7 = set1.union(set2,set5,set6)

print(set7)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16}

In [17]:
set8 = set1.update(set2,set5,set6)

print(set8)
print(set1)

None
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16}

In [19]:
lst1 = list(range(17,21))

print(lst1)

[17, 18, 19, 20]

In [20]:
set9 = set1.union(lst1)

print(set9)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20}

In [21]:
set10 = set1.update(lst1)

print(set1)
print(set10)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20}
None

In [30]:
set1 = set(range(5))
set2 = set(range(5,11))
set3 = set(range(11,16))
set4 = range(16,21)

In [26]:
print(set1)
print(set2)
print(set3)
print(set4)

{0, 1, 2, 3, 4}
{5, 6, 7, 8, 9, 10}
{11, 12, 13, 14, 15}
[16, 17, 18, 19, 20]

In [28]:
set5 = set1 | set2 | set3 | set4

print(set5)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [31]:
set5 = set1.union(set2,set3,set4)

print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [ ]:
set1 = {1,2,3,4,5,6}

print(set1)

In [ ]:
setlst = set1.union(lst1)

print(setlst)

In [ ]:
# union method is only a set method. Can I do :

In [ ]:
set12 = set1 | set1

print(set12)

In [ ]:
set1 = set(list(range(5)))
set2 = set(list(range(1,51,10)))
set3 = list(range(100,501, 100))

print(set1)
print(set2)
print(set3)

In [ ]:
set4 = set1.union(set2,set3)

print(set4)

In [ ]:
set5 = set1 | set2 | set3

print(set5)

In [ ]:
# Operators can only work between same datatype

In [ ]:
set6 = set1.update(set2, set3)

print(set1)

In [ ]:
set1 = set('abcdef')

str2 = 'efghij'

print(set1)
print(str2)

In [ ]:
set3 = set1.update(str2)
print(set1)

In [ ]:
#Note here how the object 'efghij' was converted to a set of individual characters since it is an iterable before the 
# update was performed. To actually perform update operation using single element 'efghij', we can put it in another 
# iterable. 

set3 = ['efghij']


set3x = set(set3)

print(set3x)

In [ ]:
set1.update(set3)
print(set1)

In [ ]:
set1.update(set2)
print(set1)

In [ ]:
dict1 = dict.fromkeys(set2)

print(dict1)

In [ ]:
set1 = set('abcd')

set1.update(dict1)
print(set1)

#Note how only the keys from dictionary are upated to set.

In [ ]:
# Note how set object does not support indexing. 

print(set1[0])

In [ ]:
#Or slicing

print(set1[:-2])

In [ ]:
#Or item assigment

set2[0] = 'x'

print(set2)

In [ ]:
#.clear() method on sets. It takes no parameters and returns no value. It clears the set on which it has been called on. 


set4 = set1.clear()

print(set1)
print(type(set1))
print(len(set1))
print(set4)

In [ ]:
#Aliasing on sets works the same as any other datatype. 

#While aliasing, all changes in original and vice-versa will reflect on both variables since it is only a reference.

#While copying - immutable objects will not show a change between original and the copy since memory id of the object
# contained will change if the immutable object is changed.

In [ ]:
a = someset 

b = a

c = a.copy()

In [ ]:
#However, since sets, though mutable themselves, cannot hold a mutable datatype - there is no purpose of deepcopy in this
#case. Copy and deepcopy will behave the same./

#Sets do not support slicing so there is no copy from slicing.

p = set('abcde')

q = p

r = p.copy()

import copy

s = copy.deepcopy(p)

print(p,q,r,s, sep='\n')

In [ ]:
p.add('f')

In [ ]:
print(f'Original object p = {p}.', '\n')

In [ ]:
print(f'Aliased variable q = {q}.', '\n')

In [ ]:
print(f'Copied object r = {r}.', '\n')

In [ ]:
print(f'Deep Copied object s = {s}.', '\n')

In [ ]:
#.union() method returns a set of unique values of all the iterables defined in parameters. Parameters can be any number of
#iterables.

set1 = set('abcde')
set2 = set('fghij')
set3 = set('acegxyz')

print(set1)
print(set2)
print(set3)

In [ ]:
set4 = set1.union(set2,set3)

In [ ]:
print(set4)

In [ ]:
print(sorted(set4))

In [ ]:
set1 = set('abcde')
lst2 = list(set2)
lst3 = list(set3)

print(type(lst2), type(lst3))

In [ ]:
set5 = set1.union(lst2, lst3)

print(set1)
print(lst2)
print(lst3)
print(set5)

In [ ]:
#Union operation can also be performed with the | operator

set6 = set1 | set2 | set3

print(set6)

In [ ]:
# However, the | operator does not allow using other datatypes except sets. 

set7 = set1 | lst2 | lst3

print(set7)

In [ ]:
print(set1)

In [ ]:
print(set1)
print(set2)

In [ ]:
set11 = set('abcde')
set12 = set('cdefgh')

set6 = set11 | set12

print(set6)

print(set11)
print(set12)

In [ ]:
#Note how the original set from a Union method or | operator remains unchanged.

In [ ]:
#set14 = set1.union_update(set2)


print(dir(set))

In [ ]:
#.intersection() method of sets. Returns the values that are common across all sets.

In [ ]:
set1 = set('abcde')
set2 = set(list('cdefghij'))
set3 = set('xyzcde')

In [42]:
set1 = set(range(5))
set2 = set(range(3,7))
set3 = set(range(4,8))
set4 = list(range(10))

print(set1)
print(set2)
print(set3)
print(set4)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{4, 5, 6, 7}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
set14 = set1.intersection(set2, set3, set4)



print(set14)

{4}

In [ ]:
lst2 = list(set2)
lst3 = list(set3)

set5 = set1.intersection(lst2, lst3)

print(set1,lst2, lst3, set4, sep = '\n')

#Works with different iterable datatypes

In [38]:
print(set1)
print(set2)
print(set3)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{4, 5, 6, 7}

In [39]:
set4 = set1.intersection_update(set2)

print(set1)
print(set4)

{3, 4}
None

In [43]:
print(set4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
# & operator for intersection

set6 = set1 & set2 & set3 & set4

print(set6)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [ ]:
set3 = list(set3)

print(set3)

In [ ]:
lst1 = list('abcd')
lst2 = list('befg')
lst3 = list('bhij')


set4 = lst1 & lst2 & lst3


print(set4)

In [ ]:
# & operator doesnt work with different datatypes

set7 = set1 & set2 & lst3

print(set7)

In [ ]:
print(set1)
print(set2)
print(set3)

In [ ]:
set3 = set(set3)
set4 = set('xyzpqrst')

print(set1)
print(set2)
print(set3)
print(set4)

In [ ]:
set5 = set1 | set2 & set3 ^ set4

print(set5)

In [ ]:
print(set1 | set2)
print(set2 & set3)
print(set3 ^ set4)

In [ ]:
#intersecton_update() method - updates the caller set with the elements common across all the sets. 

set8 = set1.intersection_update(set2,set3)

print(set1)
print(set2)
print(set3)
print(set8)

In [ ]:
#As seen, it updates the original set and there is no return value.

In [ ]:
set1 = set('abcde')
lst2 = list('cdefghij')
lst3 = list('xyzcde')

set1.intersection_update(lst2, lst3)

print(set1)

In [ ]:
#Works with other iterables as well.

set1 = set('abcde')
elem1 = ['c', 'd', 'e','abcde']
elem2 = ['xyz', 'c','d','e']

set1.intersection_update(elem1, elem2)

print(set1)

In [ ]:
a union b = b union a
a intersection b = b intersection a

a difference b not same as b difference a

In [ ]:
#.difference() method in sets. Returns a new set which has only the values from the first set which are not present in
# the other sets. It can take multiple sets as parameters at a time but remember that only whatever is not present in the
# other sets from first set will be returned.

set1 = set('abcdepqr')
set2 = set('efghicde')

set3 = set1.difference(set2)

In [45]:
print(set1)
print(set2)
print(set3)
print(set4)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{4, 5, 6, 7}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Note how the set1 and set2 remain unchanged and a new set with the different elements is returned.

In [48]:
set4 = set1.difference(set2,set3)

print(set4)

{0, 1, 2}

In [ ]:
set1 = set('abcdepqr')
set2 = set('efghicde')
set4 = set('xyzpq')

set3 = set1.difference(set2, set4)

print(set1)
print(set2)
print(set4)
print(set3)

In [ ]:
#So far, with union and intersection, the order of the set on which the function is being called did not matter. 

#set1.union(set2) is the same as set2.union(set1) (even if more iterables were used as parameters)

#Or

# set1.intersection(set2) is the same as set2.intersection(set1) (even if more iterables were used as parameters)

In [ ]:
set1 = set('abcdepqr')
set2 = set('efghicdex')
set4 = set('xyzfg')


print(sorted(set1))
print(sorted(set2))

#However, for difference method, the order provided to the sets matters since it is only returning output as items from
#left hand side set which are not present in the right hand side set. The difference items from set 2 are not considered
# part of the output UNLESS we change the order.

In [ ]:
print(set2)
print(set1)
print(set4)

In [ ]:
set3 = set1.difference(set2)
set4 = set2.difference(set1)

print(set3)
print(set4)

In [ ]:
print(set1)
print(set2)
print(set4)

In [ ]:
set5 = set2.difference(set1, set4)
print(set5)

In [ ]:
print(set1)
print(set2)

In [ ]:
#The difference method will take any iterable, convert to sets and perform the difference
# operation. But the '-' operator will only take sets as input to perform the difference operator.

set4 = set1 - set2

print(set1)
print(set2)
print(set4)

In [ ]:
set1 = set('abcdepqr')
set2 = set('efghicdex')
set3 = set('xyzcdepq')

In [53]:
set4 = list(range(10))

In [54]:
print(set1)
print(set2)
print(set3)
print(set4)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{4, 5, 6, 7}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
set5 = set1 - set2 - set3

print(set5)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [ ]:
lst2 = list('efghicdex')

set5 = set1 - lst2

print(set5)

In [ ]:
#difference_update() method - updates the original set with the difference of two or more sets.

In [ ]:
set1 = set('abcdepqr')
set2 = set('efghicdex')
set3 = set('xyzcdepq')

print(sorted(set1))
print(sorted(set2))
print(sorted(set3))

In [49]:
print(set1)
print(set2)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}

In [50]:
set4 = set1.difference_update(set2)

print(set1)
print(set4)

{0, 1, 2}
None

In [51]:
set1 = set(range(5))

In [ ]:
#As seen, there is no return from the difference_update method and original set is updated.

In [ ]:
#symmetric_difference() method in Python returns the elements that are present in either of the sets but not in both i.e. 

# symemetric_difference = set union - set intersection

set1 = set('abcdepqr')
set2 = set('efghicdex')
set3 = set('xyzcdepq')

print(sorted(set1))
print(sorted(set2))

In [57]:
print(set1)
print(set2)
print(set3)
print(set4)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{4, 5, 6, 7}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
set4 = set1.symmetric_difference(set2, set3)

print(set1)
print(set2)
print(set4)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [ ]:
# Unlike the other operations of union, intersection and difference though - symmetric_difference takes only one argument.


set5 = set1.symmetric_difference(set2)

print(set5)

In [ ]:
# And the ^ (caret) operator is used for symmetric_differnce in Python. As with the other methods, ^ operator will only
# allow operation to be performed between two sets. 

set1 = set('abcde')
lst2 = list('fghicde')

set3 = set1.symmetric_difference(lst2)

print(set1)
print(lst2)
print(set3)

In [ ]:
set1 = set('abcde')
set2 = set('fghicde')

In [60]:
set3 = set1 ^ set2

print(set1)
print(set2)
print(set3)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}
{0, 1, 2, 5, 6}

In [ ]:
set1 = set('abcde')
lst2 = list('fghicde')

set3 = set1 ^ lst2

print(set1)
print(lst2)
print(set3)

In [ ]:
#.symmetric_difference_update method updates the original set and takes only 1 parameter. It modifies the original set
# and returns nothing.

In [61]:
set1 = set(range(5))
set2 = set(range(3,7))

set3 = set1.symmetric_difference_update(set2)

print(set1)
print(set2)
print(set3)

{0, 1, 2, 5, 6}
{3, 4, 5, 6}
None

In [ ]:
b is subset of a if all elements of b are present in a
a is superset of b if it contains all the elements of b


every set is a subset and superset of itself by definition. 

Besides the elements contained in b, if a has more elements, then a is a PROPER superset of b and b is a PROPER subset of a.

In [71]:
#issubset() method on sets - checks if ALL the elements are present in another. The set which we have to check for (whether
# it is a subset) will be passed as the caller object i.e. on the left and the superset(the set which is supposed to 
#contain all the elements) is on the right. It returns a boolean value True or False

set1 = set('abc')
set2 = set('abcde')

set3 = set1.issubset(set2)

print(set3)

True

In [72]:
print(set1 < set2) # Proper subset

True

In [73]:
print(set1 <= set2) # Same as issubset

True

In [ ]:
x = 10

lst1.insert(x+10,'hello')

In [ ]:
set4 = set('abcxy')

print(set1.issubset(set2, set4))

In [74]:
print(set1)
print(set2)

{'c', 'a', 'b'}
{'b', 'd', 'c', 'a', 'e'}

In [75]:
#It can only check for one subset at a time. 

#Meanwhile, if a is subset of b, b is not neccessarily a subset of a. It MAY be but is more likely a superset of a. 

print(set2.issuperset(set1))

True

In [ ]:
#We can also use operators to check for whether a set is a subset of another(or superset of another - more on that later).

In [ ]:
Do not have function to check proper subset and superset. But we DO have operators to check for proper subset and superset.

In [80]:
set1 = set('abc')
set2 = set('abc')
print(set1)
print(set2)

{'c', 'a', 'b'}
{'c', 'a', 'b'}

In [81]:
print(set2.issuperset(set1))

True

In [82]:
print(set2 >= set1) #set1 is subset of set2

True

In [83]:
print(set2 > set1) # Proper superset

False

In [ ]:
print(set1.issubset(set2))

In [ ]:
print(set1 < set2)

In [ ]:
set4 = set('abcde')

print(set2)
print(set4)

In [ ]:
print(set4 < set2) #set4 is proper subset

In [ ]:
print(set1)
print(set2)

In [ ]:
result = set1 > set2
print(result)

#As with issubset - it returns True if set1 if all elements of set1 are present in set2.

In [ ]:
result = set1 < set2

print(result)

In [ ]:
print(set1)

In [ ]:
set3 = set('abcde')

print(set1 < set3)

In [ ]:
set1 = set('abc')
set2 = set('abcde')
set3 = set('abcde')

In [ ]:
print(set2 > set3)

In [ ]:
set1 = set('abcde')
set2 = set('cdefghij')

print(set1 <= set2)

In [ ]:
set1 = set('abcde')
set2 = set('abcde')

print(set1.issubset(set2))
print(set2.issubset(set1))

In [ ]:
# A set is considered a subset of itself. It fits the definition - all elements of the set are present in itself.


print(set1.issubset(set1))

In [ ]:
#However, for practical purposes we may need to check if a set is a PROPER subset of another i.e. all elements of set1 are
# present in set2 AND Set1 and Set2 are NOT equal. For this, we can use the < operator on sets. 

set1 = set('abcde')
set2 = set('abcdefghi')

print(set1 < set2)

In [ ]:
set1 = set('abcde')
set2 = set('abcde')

print(set1 < set2)

In [ ]:
#We can also check for equality of sets. 

print(set1 == set2)

In [ ]:
print(set1 != set2) # -   !# denotes NOT equal

In [ ]:
set1 = set('abcde')
set2 = set('fghij')

print(set1 == set2)
print(set1 != set2)

In [ ]:
set1 = set('abc')
lst2 = list('abcde')

print(set1.issubset(lst2))

#Allows any other iterable to be used.

In [ ]:
lst2 = list('abcde')

print(set1 < lst2)

In [ ]:
#The operators do not allow different datatypes to be compared. 

print(set1 <= lst2)

In [ ]:
print(set1)

In [ ]:
print(set1.issubset('abcde') #Note here how the 'abcde' is converted to a set and then checked returning true.

In [ ]:
print(set1.issubset(['a','b','c','d','e']))

In [ ]:
#A set will return True for both a subset and a superset of itself.

In [ ]:
#issuperset() method checks if a set contains all the elements of another set. The super set which is supposed to contain
# all the elements of the second set is called the superset and is on the left. Meanwhile, the subset or the set which 
# may contain the elements of the superset, is on the right. If a is a superset of b, b is subset of a. 

set1 = set('abcde')
set2 = set('abc')

print(set1.issuperset(set2))

In [ ]:
print(set2.issuperset(set1))

In [ ]:
set1 = set('abcde')
set2 = set('abcde')

print(set1.issubset(set2))
print(set2.issuperset(set1))

In [ ]:
#A set will return as super set of itself. 

print(set1.issuperset(set1))

In [ ]:
#We can also use operators to check if a set is a superset of another. 

set1 = set('abcdefghij')
set2 = set('abcde')

print(set1 > set2)

In [ ]:
set1 = set('abcde')
set2 = set('abcde')

print(set1 >= set2)

In [ ]:
print(set1 > set2)

In [ ]:
#As with subsets - the > operator returns True only if set 1 contains all the elements of set2 AND is not
# equal to set 2.

In [85]:
#Allows any other iterable to be used.  

set1 = set('abcde')
lst2 = set('abc')
set3 = set('fghi')
print(set1.issuperset(lst2))

True

In [ ]:
#isdisjoint() - will check that two sets have no common elements between them. Returns true if it finds no common elements
# false if one or more common elements found.

set1 = set('abcde')
set2 = set('fghij')
set3 = set('xyz')

print(set1.isdisjoint(set2))

In [ ]:
# It takes only one parameter
print(set1.isdisjoint(set2,set3))

In [ ]:
set1 = set('abc')
set2 = set('abcde')
set3 = set('fghij')

In [88]:
print(set1.isdisjoint(set3))

True

In [ ]:
#Allows other datatypes to be used.

lst2 = list('fghijjgkghiiiff')

print(set1.isdisjoint(lst2))

In [ ]:
set1 = set()
set2 = set()

print(set1.isdisjoint(set2))

In [ ]:

print(set1.isdisjoint('fghij'))

In [ ]:
set1 = set('abcde')
lst1 = list('fghij')
print(set1.isdisjoint(lst1))

In [ ]:
set1.add('x')

print(set1)

In [ ]:
set4 = set()

print(set4)
print(type(set4))

In [ ]:
print(set1.isdisjoint(set4))

In [ ]:
set1 = set('abcde')
set2 = set('xyzpq')

print(set2 < set1)

In [ ]:
sets are mutable
can contain only immutable datatypes



# Frozensets are simply IMMUTABLE sets

In [ ]:
#As we have seen - sets themselves are mutable but contain immutable objects. However, if we need AN IMMUTABLE set which
# only contains unique values, we can use Frozen sets - another built-in datatype in Python.\

#1. Frozensets are derived datatypes.
#2. They are immutable. 
#3. The elements in a frozenset are immutable. So, unlike sets - no addition or removal of elements can be performed.
#4. They are sequential
#5. They are unordered. 
#6. They do not support slicing, indexing or item assignment
#7. They are iterable.

#They can take any iterable and be converted to a frozenset.

In [89]:
set1 = set('abcde')

fset1 = frozenset('abcde')

print(set1)
print(fset1)
print(type(fset1))

{'b', 'd', 'c', 'a', 'e'}
frozenset({'b', 'd', 'c', 'a', 'e'})
<class 'frozenset'>

In [90]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
# Methods that work on sets    - Do Not work on Frozen sets

add - No
clear - No
copy - Yes
difference - Yes
difference_update - No
discard - No
intersection - Yes
intersection_update - No
isdisjoint - Yes
issubset - Yes
issuperset - Yes
pop - No
remove - No
symmetric_difference - Yes
symmetric_difference_update - No
union - Yes
update - No

In [ ]:
# Cannot use the following methods from sets for frozensets
# add, remove, discard, pop, update, intersection_update, difference_update, sym_diff_update, clear

In [ ]:
frozensets are immutable with immutable datatype stored

In [ ]:
print(dir(frozenset))

In [ ]:
fset1.add('f')

In [ ]:
fset1.remove('e')

In [ ]:
fset2 = frozenset('fghij')

print(fset2)

In [ ]:
fset1 | fset2

In [ ]:
fset3 = fset1|fset2

print(fset3)

In [ ]:
#Though we can perform some operations on frozensets which will all create new frozenset objects. More on that later.

In [ ]:
print(dir(frozenset))

In [ ]:
fset4 = fset1.union(fset2)

print(fset4)

In [ ]:
print(dir(frozenset))

In [ ]:
fset5 = fset1.update(fset2)

print(fset5)

In [ ]:
lst1 = list('abcde')

print(lst1)

fset3 = frozenset(lst1)

print(fset3)

In [ ]:
tup1 = tuple('abcde')

fset4 = frozenset(tup1)
print(fset4)

In [ ]:
dict1 = dict.fromkeys(tup1)

print(dict1)

In [ ]:
fset5 = frozenset(dict1)

print(fset5)

In [ ]:
#As you will see, frozenset takes only the key values of the dictionary. Though we could convert the key, value pairs to 
# tuples and then put them in a frozenset. 

tup2 = tuple(dict1.items())
print(tup2)

In [ ]:
fset6 = frozenset(tup2)

print(fset6)

set6x = set(tup2)

print(set6x)

In [ ]:
lst3 = [1,2,3,4,[5,6,7],8,9]

fset7 = frozenset(lst3)

In [ ]:
#Note - just like with sets - we cannot trick frozenset to accept a mutable object as its element. Once frozenset is created
# it cannot be modified. It is very useful when we want to save sensitive information, like in cybersecurity or in 
# identity management on financial applications or government official information. Once saved the frozenset object
# associated with a user or id, has to be completely replaced in case of modificiations. 

#However, we can perform certain operations on frozen sets. 

fset1 = frozenset('abcde')
fset2 = frozenset('cdefghij')

fset3 = fset1.union(fset2)

print(fset1)
print(fset2)
print(fset3)

In [ ]:
fset3x = fset1 | fset2

print(fset3x)

In [ ]:
fset4 = frozenset('xyz')

fset3y = fset1.union(fset2, fset4)

print(fset3y)

In [ ]:
fset3xx = fset1 | fset2 | fset4

print(fset3xx)

#Multiple union operations are possible with both the method and the operator.

In [ ]:
fset1 = frozenset('abcde')
lst2 = list('fghij')

fset2 = fset1.union(lst2)

print(fset2)

In [ ]:
fset3 = fset1 | lst2

print(fset3)

In [ ]:
fset14 = frozenset('xyzabcd')
fset15 = frozenset('abcd')

fset16 = fset14.intersection(fset15)
print(fset16)

In [ ]:
#As with sets, the operator does not allow other datatypes to perform the union function.

#### Going forward, please hold true that operators between derived datatypes will not permit operations between different
#### datatypes (Except the * operator in the case of lists and tuples - where duplicate elements is not an issue - which 
#### performs a multiplication operation between the elements of the datatype and the integer). <For dictionaries, sets and 
#### frozensets - since the elements must be unique - the multiplication operator is not available.

### As such, will not be performing tests of operators between different datatypes.

In [ ]:
#Intersection

fset1 = frozenset('abcde')
fset2 = frozenset('cdefghij')
fset3 = frozenset('cdexyz')

fset4 = fset1.intersection(fset2, fset3)

print(fset4)

In [ ]:
fset5 = fset1 & fset2 & fset3

print(fset5)

In [ ]:
#Difference.  

fset6 = fset1.difference(fset2)

print(fset6)

In [ ]:
fset6 = fset1 - fset2

print(fset6)

In [ ]:
fset7 = fset1.difference(fset2, fset3)
print(fset7)

In [ ]:
fset8 = fset1 - fset2 - fset3

print(fset8)

In [ ]:
#Symmetric difference. Can only be performed between two sets. Not more. 

fset1 = frozenset('abcde')
fset2 = frozenset('cdefghi')

fset3 = fset1.symmetric_difference(fset2)

print(fset3)

In [ ]:
fset4 = fset1 ^ fset2

print(fset4)

In [ ]:
fset5 = frozenset('xyz')

fset6 = fset1.symmetric_difference(fset2)

print(fset6)

In [ ]:
set20 = set(fset5)

print(set20)

In [ ]:
set4 = set('1,2,3,4')
print(set4)
print(type(set4))

In [ ]:
set5 = set([1,2,3,4])
print(set5)
print(type(set5))

In [ ]:
set6 = set('praju')
print(set6)
print(type(set6))

In [ ]:
print(dir(frozenset))

In [1]:
# Properties of sets

#1. Derived
#2. Mutable
#3. Iterable
#4. Does not support subcription
#5. Heterogenous
#6. Values in set must be unique and immutable type.
#7. Unordered

In [ ]:
# Operations on sets

# union, intersection, difference, symmetric_difference

In [6]:
set1 = set('abcde')
set2 = list('cfg')
set3 = list('cdehij')

set4 = set1.union(set2, set3)

print(sorted(list(set4)))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [8]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
set1 = set('abcde')
set2 = set('cfg')
set3 = set('cdehij')

set4 = set1

print(sorted(list(set4)))