### Sets and Frozen Sets

In [ ]:
# Sets are a datatype in Python that helps us deal with mathematical sets. 

# Properties:

# 1. Derived Datatype
# 2. Sets themselves are mutable
# 3. But sets can only hold IMMUTABLE Datatypes that are Unique. i.e. No duplicates. The elements can be heterogenous as
# long as all the elements are immutable.
# 4. Sets are unordered i.e. the input output order is not maintained and cannot be guaranteed. 
     # -Since they are unordered they do not support subscription.
# 5. Iteration is supported but output order of the iteration cannot be guaranteed.

In [1]:
set1 = set('abcdefghijklmnopqrstuvwxyz')

print(set1)

{'w', 'b', 'z', 'd', 'f', 'i', 'm', 'l', 'v', 'k', 'r', 'h', 't', 'g', 'o', 'y', 'u', 'c', 'j', 'q', 'e', 'n', 'p', 'x', 's', 'a'}

In [2]:
set1.add(10)

print(set1)

{'w', 10, 'b', 'z', 'd', 'f', 'i', 'm', 'l', 'v', 'k', 'r', 'h', 't', 'g', 'o', 'y', 'u', 'c', 'j', 'q', 'e', 'n', 'p', 'x', 's', 'a'}

In [3]:
set1[5]

TypeError: 'set' object is not subscriptable

In [4]:
set1 = {2,4,6,8,4}

print(set1)

{8, 2, 4, 6}

In [5]:
set1 = {2,10.2,2+3j,'Ashish',[2,4,6,8]}

print(set1)

TypeError: unhashable type: 'list'

In [6]:
set1 = {2,10.2,2+3j,'Ashish'}

print(set1)

{2, 10.2, (2+3j), 'Ashish'}

In [ ]:
# No duplicate elements and no mutable elements

# x = [1,2,3]
# y = [1,2,4]
# set1 = [2,10.2,2+3j,'Ashish',x,y]

# y[2] = 3

# y = [1,2,3]

In [7]:
for elem in set1:
    print(elem)

2
10.2
(2+3j)
Ashish

In [8]:
# initialisation of sets

In [9]:
set1 = {2,4,6,8}

print(set1)

{8, 2, 4, 6}

In [11]:
lst1 = [1,10.2,'Bharath', 10.2,100,100]

In [12]:
set1 = set(lst1)

print(set1)

{1, 10.2, 'Bharath', 100}

In [13]:
set1 = set('ashish')

print(set1)

{'i', 's', 'a', 'h'}

In [14]:
tup1 = (1,2,3,4,'Bharath', 10.2)

set1 = {10,20,'Ashish', 'Dipali',tup1}

print(set1)

{10, 'Ashish', 20, 'Dipali', (1, 2, 3, 4, 'Bharath', 10.2)}

In [15]:
tup1 = (1,2,3,4,'Bharath', 10.2, [10,20,30])
tup2 = (1,2,3,4,'Bharath', 10.2, [10,20,40])

set1 = {10,20,'Ashish', 'Dipali',tup1}

print(set1)

TypeError: unhashable type: 'list'

In [16]:
import numpy as np

range1 = np.random.randint(1,100,25)

print(range1)

[23 62 14 86 18 32 35 99 45 55 78 47 80 97 64 83 23 58  2 27 46 78 18 23
 47]

In [18]:
set1 = set(range1)

print(set1)

{2, 14, 18, 23, 27, 32, 35, 45, 46, 47, 55, 58, 62, 64, 78, 80, 83, 86, 97, 99}

In [19]:
set2 = sorted(set1)

print(set2)

[2, 14, 18, 23, 27, 32, 35, 45, 46, 47, 55, 58, 62, 64, 78, 80, 83, 86, 97, 99]

In [20]:
set3 = set(sorted(set1))

print(set3)

{2, 14, 18, 23, 27, 32, 35, 45, 46, 47, 55, 58, 62, 64, 78, 80, 83, 86, 97, 99}

In [21]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
# Set methods

# add
# clear
# copy
# discard
# pop
# remove

# difference
# difference_update
# intersection
# intersection_update
# symmetric_difference
# symmetric_difference_update
# union
# update

# isdisjoint
# isssubset
# issuperset

In [26]:
set1 = set('abcdefghij')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [23]:
# add method - adds an element to the set at a random position

var1 = set1.add('k')

print(var1)
print(set1)

None
{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'k', 'h', 'a', 'c'}

In [24]:
# clear method - clears the set

print(id(set1))

set1.clear()

print(id(set1))

2639274138080
2639274138080

In [25]:
print(set1)

set()

In [27]:
set1 = set('abcdefghij')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [28]:
print(id(set1))

set2 = set1.copy()

print(set2)
print(id(set2))

2639274138080
{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}
2639274138304

In [29]:
lst1 = np.random.randint(1,10,25)

print(lst1)

[6 1 7 8 9 4 1 9 4 4 2 8 6 3 7 9 9 4 9 4 6 3 8 9 7]

In [30]:
lst2 = list(set(lst1))

print(lst2)

[1, 2, 3, 4, 6, 7, 8, 9]

In [36]:
# discard - removes the specified element from the set and if the element is not present the set remains unchanged. 
# remove - removes the specified element from the set and if the element is not present throws an error.

# They take one parameter the element to be removed. 
# Modifies original set - no return.


set1 = set('abcdefghij')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [33]:
set1.remove('f')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'i', 'h', 'a', 'c'}

In [35]:
set1.discard('f')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'i', 'h', 'a', 'c'}

In [37]:
set1.discard('F')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [38]:
set1.remove('F')

print(set1)

KeyError: 'F'

In [43]:
# pop - removes a RANDOM element from the set. Though it is noticed that USUALLY the FIRST element of the set is 'popped', 
# this CANNOT be guaranteed to run the same way every time.

set1 = set('abcdefghij')

print(set1)

{'j', 'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [44]:
popped = set1.pop()

print(popped)
print(set1)

j
{'e', 'g', 'b', 'd', 'f', 'i', 'h', 'a', 'c'}

In [48]:
# Union and union update

set1 = set('abcde')
set2 = set('bcjka')
set3 = set('jbcml')
set3 = set1.union(set2)

print(set3)

{'j', 'e', 'b', 'd', 'k', 'a', 'c'}

In [46]:
# operators - Union operator - |

set4 = set1 | set2

print(set4)

{'j', 'e', 'b', 'd', 'k', 'a', 'c'}

In [49]:
set1 = set('abcde')
set2 = set('bcjka')
set3 = set('jbcml')
set5 = set1.union(set2,set3)

print(set5)

{'l', 'j', 'e', 'b', 'd', 'k', 'm', 'a', 'c'}

In [50]:
set6 = set1 | set2 | set3

print(set6)

{'l', 'j', 'e', 'b', 'd', 'k', 'm', 'a', 'c'}

In [53]:
lst3 = list('jbcml')

print(lst1)

['j', 'b', 'c', 'm', 'l']

In [54]:
# Difference between using union function and operators.

set7 = set1.union(set2, lst3)

print(set7)

{'l', 'j', 'e', 'b', 'd', 'k', 'm', 'a', 'c'}

In [55]:
# overloaded operators like +, >,<,|, &...etc will ONLY work between the same datatypes.

In [56]:
set8 = set1 | set2 | lst3

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [57]:
# update methods of each function - i.e. union(update), intersection(intersection_update), difference(difference_update) &
# symmetric_difference(symmetric_difference_update) will UPDATE the original set and have NO output.

set1 = set('abcde')
set2 = set('jkbcla')
set3 = set('dmlen')


set3 = set1.union(set2)

print(set3)

{'l', 'j', 'e', 'b', 'd', 'k', 'a', 'c'}

In [58]:
print(set1)
print(set2)

{'e', 'b', 'd', 'a', 'c'}
{'l', 'j', 'b', 'k', 'a', 'c'}

In [59]:
print(id(set1))

set4Up = set1.update(set2)

print(set4Up)
print(set1)
print(id(set1))
print(set2)

2639274138976
None
{'l', 'j', 'e', 'b', 'd', 'k', 'a', 'c'}
2639274138976
{'l', 'j', 'b', 'k', 'a', 'c'}

In [62]:
# intersection & intersection update

set1 = set('abcde')
set2 = set('jkbcla')
set3 = set('dmlbcen')

set4 = set1.intersection(set2)

print(set4)

{'c', 'a', 'b'}

In [63]:
set5 = set1.intersection(set2,set3)

print(set5)

{'b', 'c'}

In [64]:
lst3 = list('dmlbcen')

print(lst3)

['d', 'm', 'l', 'b', 'c', 'e', 'n']

In [65]:
set6 = set1.intersection(set2, lst3)

print(set6)

{'c', 'b'}

In [66]:
#intersection operator - &

set7 = set1 & set2

print(set7)

{'c', 'a', 'b'}

In [67]:
set8 = set1 & set2 & set3

print(set8)

{'b', 'c'}

In [68]:
set9 = set1 & set2 & lst3

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [69]:
set1 = set('abcde')
set2 = set('jkbcla')
set3 = set('dmlbcen')

set4In = set1.intersection_update(set2)

print(set4In)
print(set1)
print(set2)

None
{'c', 'a', 'b'}
{'l', 'j', 'b', 'k', 'a', 'c'}

In [ ]:
# set1.union(set2) or set2.union(set1)
# set1.intersection(set2) or set2.intersection(set1)
# set1.symmetric_difference(set2) or set2.symmetric_difference(set1)

# All the above have no difference in the output. 

# Difference method though will have a difference in the output depending on the order of the input sets.

# set1.difference(set2) or set2.difference(set1) - are not the same.

In [ ]:
# difference and difference_update

In [73]:
set1 = set('abcde')
set2 = set('jkbcla')
set3 = set('mlcen')

set4 = set1.difference(set2)

print(set4)

{'d', 'e'}

In [71]:
set4Inv = set2.difference(set1)

print(set4Inv)

{'l', 'j', 'k'}

In [74]:
set5 = set1.difference(set2, set3)

print(set5)

{'d'}

In [75]:
lst3 = list('mlcen')

set6 = set1.difference(set2, lst3)

print(set6)

{'d'}

In [76]:
# difference operator = -

set5 = set1 - set2

print(set5)

{'d', 'e'}

In [77]:
set6 = set1 - set2 - lst3

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [78]:
# difference_update

set1 = set('abcde')
set2 = set('jkbcla')
lst3 = list('mlcen')

set4DU = set1.difference_update(lst3)

print(set4DU)
print(set1)

None
{'b', 'd', 'a'}

In [79]:
# symmetric_difference and symmetric_difference_update 

set1 = set('abcde')
set2 = set('jkbcla')
set3 = set('mlcen')

set4 = set1.symmetric_difference(set2)

print(set4)

{'l', 'j', 'k', 'e', 'd'}

In [80]:
set5 = set1.symmetric_difference(set2,set3)

print(set5)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [81]:
# symmetric_difference operator ^

set6 = set1 ^ set2

print(set6)

{'l', 'j', 'k', 'e', 'd'}

In [82]:
# symmetric_difference_update

set7SDU = set1.symmetric_difference_update(set2)

print(set7SDU)
print(set1)
print(set2)

None
{'l', 'j', 'e', 'd', 'k'}
{'l', 'j', 'b', 'k', 'a', 'c'}

In [83]:
#subset, superset, isdisjoint

set1 = set('abc')
set2 = set('abcde')

print(set1.issubset(set2))

True

In [84]:
# operator for subset - <=

print(set1 <= set2)

True

In [85]:
set1 = set('abcde')
set2 = set('abcde')

print(set1.issubset(set2))

True

In [86]:
print(set1 <= set2)

True

In [87]:
# Operator for PROPER subset - <

print(set1 < set2)

False

In [88]:
set1 = set('abc')
set2 = set('abcde')

print(set2.issuperset(set1))

True

In [89]:
print(set1.issuperset(set2))

False

In [90]:
# operator for superset - >= 
print(set2 >= set1)

True

In [91]:
#operator for PROPER supserset

set1 = set('abcde')
set2 = set('abcde')

print(set2 > set1)

False

In [92]:
# isdisjoint

set1 = set('abcde')
set2 = set('jklmno')
set3 = set('abclmn')


print(set1.isdisjoint(set2))

True

In [93]:
print(set2.isdisjoint(set3))

False

In [94]:
set1 = set('abcde')
set2 = set('abcde')
set3 = set('abc')

print(set1 == set2)

print(set2 == set3)

True
False

In [95]:
# Can we have NESTED sets i.e. set in a set - NO

# Can we have nested FROZEN sets - i.e. frozenset in frozenset - Yes

### Frozen sets

In [ ]:
# Frozen sets are simply IMMUTABLE sets. 

#1. Derived
#2. Immutable
#3. Immutable and Unique (can be heterogenous immutable types)
#4. Unordered
#5. Subscription - not supported
#6. Iterable.

In [96]:
# FrozenSet methods

# copy

# difference
# intersection
# symmetric_difference
# union

# isdisjoint
# isssubset
# issuperset

In [97]:
print(dir(frozenset))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [98]:
fset1 = frozenset([1,2,3,4])

print(fset1)

frozenset({1, 2, 3, 4})

In [99]:
fset1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [100]:
print(type(fset1))

<class 'frozenset'>