LB_DSC_19thApril_WKDY_MR_2024

Mohit Chaudhary 7011883015

Q1. Initialize a dictionary "emp_info" with below details
 In - emp_info['Tom']
 Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

 In - emp_info['Kathy']
 Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [12]:
emp_info = { 'Tom': {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},       # intializing dictionary
            'Kathy': {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
           }

print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

Q2. Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [28]:
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
new_dic  = dict(zip(emp_key, emp1_val)), dict(zip(emp_key, emp2_val)), dict(zip(emp_key, emp3_val))                # zipping list emp_key with emp_value lists to convert to dictionary
print('The required Output is: ','\n', dict(zip(lst1, new_dic)))                                                                                           # zipping into dictionary

The required Output is:
 {'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

Q3. # Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [33]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print('The key value of history is:',sampleDict["class"]["student"]["marks"]["history"])

The key value of history is: 80

Q4. # Initialize dictionary with default values. Inputs are:-
 employees = ['Kelly', 'Emma', 'John']
 defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [39]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

employee_dict = {employee: defaults for employee in employees}            # looping in employees and storing as dictionary

print('The required output is:','\n',employee_dict)

The required output is:
 {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

Q5. # In gene expression, mRNA is transcribed from a DNA template. 
 The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
 Write a function that returns the mRNA transcript given the sequence of a DNA strand.

 Use a dictionary to provide the mapping of DNA to RNA bases.

In [50]:
def dna_to_mrna(dna_sequence):           # Mapping dictionary from DNA bases to RNA bases
    dict_1 = {'A':'U',
              'T':'A',
              'C':'G',
              'G':'C'}
    mrna_sequence = ''.join([dict_1[i] for i in dna_sequence])      # Converting the DNA sequence to the corresponding mRNA sequence
    return mrna_sequence


dna_sequence = input('Enter the DNA sequence:')
mrna_sequence = dna_to_mrna(dna_sequence)
print('The Corresponding MRNA sequence is:',mrna_sequence)

Enter the DNA sequence: ATCG

The Corresponding MRNA sequence is: UAGC

Q6. # Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
In - count_letter('google.com')
Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [56]:
def count_letter(word):
    count = {}                           # Initialize an empty dictionary to hold the letter counts    
    for char in word:                    # Iterate over each character in the string       
        if char in count:             
            count[char] += 1             # If the character is already in the dictionary, increment its count
        else:
            count[char] = 1              # If the character is not in the dictionary, add it with a count of 1           
    return count

word = input('Enter a String:')
result = count_letter(word)              # calling the declared funtion to perform count of Alphabets
print('The count of each Alphabet in the entered string is:','\n',result)

Enter a String: www.google.com

The count of each Alphabet in the entered string is:
 {'w': 3, '.': 2, 'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}

Q7. # A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
 Write a function that computes the base composition of a given DNA sequence.

 In - baseComposition("CTATCGGCACCCTTTCAGCA")
 Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
 In - baseComposition("AGT")
 Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [64]:
def baseComposition(dna_sequence):   
    base_count = {'A': 0, 'T': 0, 'C': 0, 'G': 0}        # Initialize the dictionary with all nucleotide bases set to 0
        
    for i in dna_sequence:                               # Iterate over each character in the DNA sequence       
        if i in base_count:                              
            base_count[i] += 1                           # Increment the count for the corresponding base           
    return base_count

dna_sequence1 = "CTATCGGCACCCTTTCAGCA"
result1 = baseComposition(dna_sequence1)                 # calling the declared funtion to compute base composition
print(f'The computed base composition of a given DNA sequence {dna_sequence1} is:',result1)  

dna_sequence2 = "AGT"
result2 = baseComposition(dna_sequence2)
print(f'The computed base composition of a given DNA sequence {dna_sequence2} is:',result2)

The computed base composition of a given DNA sequence CTATCGGCACCCTTTCAGCA is: {'A': 4, 'T': 5, 'C': 8, 'G': 3}
The computed base composition of a given DNA sequence AGT is: {'A': 1, 'T': 1, 'C': 0, 'G': 1}

Q8.  [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
 1. d = {"Name": "Tom" }
 2. d["Name"] = "Tom"
 3. d.update({"Name": "Tom" })
 4. d.setdefault("Name", "Tom")
 5. None of the above.

In [2]:
# checking 1
d={}                                              # empty dictionary initialized
d = {"Name": "Tom" }
d

{'Name': 'Tom'}

In [3]:
# checking 2
d={}                                              # empty dictionary initialized
d["Name"] = "Tom"
d

{'Name': 'Tom'}

In [4]:
# checking 3
d={}                                              # empty dictionary initialized
d.update({"Name": "Tom" })
d

{'Name': 'Tom'}

In [5]:
# checking 4
d={}                                              # empty dictionary initialized
d.setdefault("Name", "Tom")
d

{'Name': 'Tom'}

A we can see that all scenarios are assigning "d" with {"Name":"Tom"},
So the right option is 5. None of the above

Q9 [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
 1. d.keys()
 2. d.values()
 3. d.items()
 4. d.popitem()
 5. None of the above.

In [6]:
# checking 1
d = {"a":1, "b":2}
d.keys()

dict_keys(['a', 'b'])

In [4]:
# checking 2
d = {"a":1, "b":2}
d.values()

dict_values([1, 2])

In [5]:
# d.values() returns dict_values([1, 2]), Converting this to a list would give
list(d.values())

[1, 2]

In [8]:
# checking 3
d = {"a":1, "b":2}
d.items()

dict_items([('a', 1), ('b', 2)])

In [9]:
# checking 4
d = {"a":1, "b":2}
d.popitem()

('b', 2)

The code d.values() returns dict_values([1, 2]), Converting this to a list give [1,2], so the correct option is 2

Q10.  [MCQ] Which of the following declarations is not valid for 'dict' type? 1. d = {"Name": "Tom" 
2. . d = { (1,3,4): 4.5
3. 3. d = { ["First", "Last"]: (1,3
4. d = { 1: 0.4 }
5.# 5. None of the above

In [6]:
# checking 1
d={}                                              # empty dictionary initialized
d = {"Name": "Tom" }
d

{'Name': 'Tom'}

In [7]:
# checking 2
d={}                                              # empty dictionary initialized
d = { (1,3,4): 4.5 }
d

{(1, 3, 4): 4.5}

In [8]:
# checking 3
d={}                                              # empty dictionary initialized
d = { ["First", "Last"]: (1,3) }
d

TypeError: unhashable type: 'list'

In [9]:
# checking 4
d={}                                              # empty dictionary initialized
d = { 1: 0.4 }
d

{1: 0.4}

In option no 3, the declarations is not valid for 'dict' type because dictionary keys must be of an immutable type

Q 11. Write a function reverseLookup(dictionary, value) that takes in a dictionary and a value as arguments and returns a sorted list of all keys that contains the value. The function will return an empty list if no match is found.
In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)  Out - ['a']
In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)  Out - ['b', 'c']
In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)  Out - []

In [11]:
def reverseLookup(dictionary, value):                               # defining function
    key_empty_list=[]                                               # creatng an empty list
    for i in dictionary:                                            # iterating in elements of dictionary
        if dictionary[i]== value:                                   # checking if the dictionary value matches the entered value
            key_empty_list.append(i)                                # the key is appended to the key_empty_list list.
    return sorted(key_empty_list)                                   # Returning sorted list appended using loop

print('The Output is:',reverseLookup({'a': 1, 'b': 2, 'c': 2}, 1))  
print('The Output is:',reverseLookup({'a': 1, 'b': 2, 'c': 2}, 2)) 
print('The Output is:',reverseLookup({'a': 1, 'b': 2, 'c': 2}, 3))

The Output is: ['a']
The Output is: ['b', 'c']
The Output is: []

Q12.Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
In - invertDictionary({'a':3, 'b':3, 'c':3})
Out - {3: ['a', 'c', 'b']}
In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [12]:
def invertDictionary(d):                        # defining function
    inverted = {}                               # creatng an empty dictionary
    for key, value in d.items():                # iterating in key & value pair of dictionary
        if value not in inverted:               # checking if value is not in empty dictionary
            inverted[value] = [key]             # value is stored in inverted with the value as the key in list
        else:
            inverted[value].append(key)         # the original key is appended to the list of keys associated with that value
    return inverted                             # returning dictionary inverted

print('The Output is:',invertDictionary({'a': 1, 'b': 2, 'c': 3, 'd': 2})) 
print('The Output is:',invertDictionary({'a': 3, 'b': 3, 'c': 3}))         
print('The Output is:',invertDictionary({'a': 2, 'b': 1, 'c': 2, 'd': 1}))

The Output is: {1: ['a'], 2: ['b', 'd'], 3: ['c']}
The Output is: {3: ['a', 'b', 'c']}
The Output is: {2: ['a', 'c'], 1: ['b', 'd']}

Q13. Write a function that converts a sparse vector into a dictionary as described above.
In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
Out - {0: 1, 3: 2, 7: 3, 12: 4}
In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
In - convertVector([0, 0, 0, 0, 0])
Out - {}

In [14]:
def convertVector(vector):                                # defining function
    out_dict = {}                                         # creatng an empty dictionary
    for index, value in enumerate(vector):                # iterating in index postion & value of vector list using enumerate function
        if value != 0:                                    # checking for non zero values
            out_dict[index] = value                       # storing index of non zero values as keys of dictionary
    return out_dict


print('The Output is:',convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))  
print('The Output is:',convertVector([1, 0, 1, 0, 2, 0, 1, 0, 0, 1, 0]))        
print('The Output is:',convertVector([0, 0, 0, 0, 0]))

The Output is: {0: 1, 3: 2, 7: 3, 12: 4}
The Output is: {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
The Output is: {}

Q14. Write a function that converts a dictionary back to its sparse vector representation.
In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
In - convertDictionary({})
Out - []

In [15]:
def convertDictionary(dict_1):                             # defining function
    if not dict_1:                                         
        return []                                          # If the dictionary is empty then function returns an empty list
    max_index = max(dict_1.keys())                         # finding maximum no of entries required in vector list
    vector = [0] * (max_index + 1)                         # Initially filling all values as 0 in required vector list
    for index, value in dict_1.items():                    # iterating to index postion of non zero values 
        vector[index] = value                              # assigning values as per index postion in vector list
    return vector

print('The Output is:',convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))  
print('The Output is:',convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))  
print('The Output is:',convertDictionary({}))

The Output is: [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
The Output is: [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
The Output is: []

Q 15 Given a Python dictionary, Change Bradâ€™s salary to 8500 sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500}      'emp2': {'name': 'Emma', 'salary': 8000,
      'emp3': {'name': 'Brad', 'salary': 650}
      
      Expected up
      sampleDc {
       'emp1': {'name': 'Jhon', 'salary' 5}
        'emp2': {'name': 'Emma', 'salary 00
         'emp3': {'name': 'Brad', 'salay:5}

In [19]:
sampleDict = {
      'emp1': {'name': 'Jhon', 'salary': 7500},
      'emp2': {'name': 'Emma', 'salary': 8000},
      'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 6500}}

In [20]:
sampleDict['emp3']['salary']=8500                       # Changing salary of emp3 (Brad)
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Q16. Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
  'Physics': 82,   'Math': 65,  'history': 75
 }

Expected Output Math

In [21]:
sampleDict = { 'Physics': 82, 'Math': 65, 'history': 75 }

min_key = min(sampleDict, key=sampleDict.get)                 # Using the min function with a custom key to find min value key

print(min_key)

Math

Q17. Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
}

 Expected Output
 {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "location": "New york"
 }

In [28]:
sampleDict = {"name": "Kelly",
              "age": 25,
              "salary": 8000,
              "city": "New York"
}

sampleDict['location'] = sampleDict.pop('city')         # Rename 'city' key to 'location' as only way is to remove city data from dictionary and store it as location
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}

Q18. Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}

Expected Output: True

In [29]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
for i in sampleDict.values():                       # iterating in values of dictionary sampleDict
    if i==200:                                      # checking if 200 is present in values
        print('True')

True

Q19. Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
   "age":25,
  "salary": 8000,
   "city": "New york"
  
 }
 keysToRemove = ["name", "salary"]

 Expected Output:
 {'city': 'New york', 'age': 25}

In [30]:
sampleDict = {"name": "Kelly",
              "age":25,
              "salary": 8000,
              "city": "New york"
}
sampleDict.pop('name') and sampleDict.pop('salary')         # removing 'name' & 'salary' together using and operator
sampleDict

{'age': 25, 'city': 'New york'}