### 4. if -elif- else Statement

Syntax:-
    
    if condition:
       code
    elif condition:
        code 
    else:
        code

In [1]:
#take 3 numbers from the user and going to check the maximum among the three

a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
c = int(input('Enter the Third number: '))

if a>b and a>c:
    print(f'{a} is the maximum among the three')
elif b>a and b>c:
    print(f'{b} is the maximum among the three')
else:
    print(f'{c} is the maximum among the three')

Enter the first number: 3
Enter the second number: 5
Enter the Third number: 10
10 is the maximum among the three

In [3]:
#take 4 numbers from the user and going to check the maximum among the four

a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
c = int(input('Enter the Third number: '))
d = int(input('Enter the fourth number: '))

if a>b and a>c and a>d:
    print(f'{a} is the maximum among the four')
elif b>a and b>c and b>d:
    print(f'{b} is the maximum among the four')
elif c>a and c>b and c>d:
    print(f'{c} is the maximum among the four')
else:
    print(f'{d} is the maximum among the four')

Enter the first number: 3
Enter the second number: 10
Enter the Third number: 5
Enter the fourth number: 7
10 is the maximum among the four

### Nested if.....else Statemenst

Syntax:-
    
       if condition_1:
           code -1
           if condition_2:
               code -3 
               if codition_3:
                   code-5
                else:
                   code - 6
           else:
               code -4
       else:
           CODE -2

##### if a student score 90 or more in all the three subjects(math, science and english) then the student has Well done!!! , 
##### if a student score <90 marks in any subject then it should try again

In [5]:
math = int(input('Enter the marks in Maths: '))
science = int(input('Enter the marks in Science: '))
eng = int(input('Enter the marks in English: '))

if math >= 90:
    if eng >= 90:
        if science >= 90:
            print('Well done')
        else:
            print('Try again in Science')
    else:
        print('Try again in english')
else:
    print('Try again in Maths')

Enter the marks in Maths: 91
Enter the marks in Science: 87
Enter the marks in English: 93
Try again in Science

In [11]:
math = int(input('Enter the marks in Maths: '))
science = int(input('Enter the marks in Science: '))
eng = int(input('Enter the marks in English: '))

if math >= 90 :
    if eng >= 90:
        if science >= 90
            print('Well done')
        else:
            print('Try again in Science')
    else:
        print('Try again in English')
else:
    print('Try again in Maths ')

Enter the marks in Maths: 10
Enter the marks in Science: 20
Enter the marks in English: 30
Try again in Maths

In [17]:
# Take an alphabet from the user and check whetehr the alphabet is a vowel or a consonant

vowels = 'aeiouAEIOU'

a = input('Enter an alphabet: ')
if a.isalpha():
    if a in vowels:
        print(f'{a} is a Vowel')
    else:
        print(f'{a} is a consonant')
else:
    print(f'{a} is not an alphabet')

Enter an alphabet: p
p is a consonant

In [28]:
num = input('Enter a number: ') #input - string
if num.isnumeric():
    if int(num) % 2 == 0:
        print('Even number')
    else:
        print('odd number')
else:
    print('Invalid Input!, Enter a valid number')

Enter a number: h
Invalid Input!, Enter a valid number

### Loops

- Loops is a concept that we use to execute a code repeatedly

In [30]:
#Print Hello
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [32]:
print('Hello\n'*5)

Hello
Hello
Hello
Hello
Hello

In [ ]:
my_str = 'Python'

my_str[0] = p
my_str[1] = y

### Types of Loops 

- for loop  
- while loop

### for loop `

- It is always applied on an iterable object (string, list, tuples, range, dictionary, set, frozenset)

Syntax:
    
    for variable in iterable:
        code
        code
        
 The variable is a place holder which is going to hold the element of the iterable for a specific periof of time

In [33]:
my_str = 'Python Class' # "p"+'y'+'t'.............

for i in my_str:
    print(i)

P
y
t
h
o
n

C
l
a
s
s

In [34]:
lst = [10,12,13,14,15,16]

for i in lst:
    print(i)

10
12
13
14
15
16

### Iteration

- Transversing upon the elements of an iterable from the beginning to the end is known as iteration
- The number of iteration is equal to the number of elements inside the iterable object

In [35]:
t = (True, 'Python', {1,2,3}, 50, 10+20j)

for i in t:
    print(i)

True
Python
{1, 2, 3}
50
(10+20j)

In [36]:
d = {'name':'Mayank Ghai', 'age':28, 'City':'Bengaluru', 'Company':'TCS'}

for i in d:
    print(i)

name
age
City
Company

In [38]:
for i in d.values():
    print(i)

Mayank Ghai
28
Bengaluru
TCS

In [39]:
for i in d.items():
    print(i)

('name', 'Mayank Ghai')
('age', 28)
('City', 'Bengaluru')
('Company', 'TCS')

#### for loop does not work over Numeric data-types (int, float, complex)

In [40]:
for i in 11:
    print(i)

TypeError: 'int' object is not iterable

In [41]:
for i in 100.00:
    print(i)

TypeError: 'float' object is not iterable

In [42]:
for i in 10+30j:
    print(i)

TypeError: 'complex' object is not iterable

In [43]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [44]:
#cummulative sum

lst = [1,2,3,4,5,6,7,8,9,10]

sum = 0
for i in lst:
    sum = sum+i
    print(sum)

print(f"the total sum will be {sum}")

1
3
6
10
15
21
28
36
45
55
the total sum will be 55

In [ ]:
sum = 0
i = 1
sum = 0+1 ---->sum = 1

sum =1 
i = 2
sum = 1+2 -----> sum = 3

In [45]:
# a program to mimc the enumerate 

my_str = 'Python Class'

for i in range(len(my_str)):
    print(i, my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n
6
7 C
8 l
9 a
10 s
11 s

In [46]:
for i, j in enumerate(my_str):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n
6
7 C
8 l
9 a
10 s
11 s

In [48]:
# Length 
count = 0
for i in range(len(my_str)):
    count = count+1
    
print(count)

12

In [49]:
for i in range(5, -1, -1):
    print(i, my_str[i])

5 n
4 o
3 h
2 t
1 y
0 P

In [50]:
my_str = 'Python' #[-1,-2, -3, -4, -5, -6]

for i in range(-1, -7, -1):
    print(i, my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [51]:
for i in range(-1, -len(my_str)-1, -1):
    print(i, my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [57]:
#Print every alternate elements inside a list using loops
lst = [10,20,30,40,50,60,70,80]

for i in range(0, len(lst), 2):
    print(lst[i])

10
30
50
70

In [58]:
#Print every alternate elements inside a list using loops but in reverse
for p in range(-1,-len(lst),-2):
    print(lst[p])

80
60
40
20

In [59]:
my_str = "Peter piper picked a pack of pickeled peppers"

#count all the occurance of p 
count = 0

for i in my_str:
    if i == 'P' or i == 'p':
        count += 1 # count = count + 1

print(count)

9

In [60]:
my_str = "Peter piper picked a pack of pickeled peppers"

# print all the index for all the occurance of the P

for i in range(0, len(my_str)):
    if my_str[i] == 'P' or my_str[i] == 'p':
        print(i)

0
6
8
12
21
29
38
40
41

In [62]:
my_str = "Peter piper Picked a pack of Pickeled pePpers"

# print all the index for all the occurance of the P

for i in range(0, len(my_str)):
    if my_str[i] == 'P' :
        print(i)

0
12
29
40

In [64]:
my_str = "this is a Python class"

# Print all the characters that are available at the even index
for i in range(0,len(my_str)):
    if(i%2==0):
        print(i, my_str[i])

0 t
2 i
4
6 s
8 a
10 P
12 t
14 o
16
18 l
20 s

In [68]:
my_str = 'This is a Python class.'
my_str.split()

['This', 'is', 'a', 'Python', 'class.']

In [ ]:
This
is
a
Python
Class

In [70]:
j=0
for i in range(j,len(my_str)):
  if(my_str[i]==' ' or my_str[i] == '.'):
    print(my_str[j:i])
    j=i+1
    i=j+1

This
is
a
Python
class