## How list and tuples are actually different ?

In [1]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [3]:
print(id(lst))

2104038551872

In [4]:
lst.append(9)

In [5]:
lst

[1, 2, 3, 4, 5, 9]

In [6]:
print(id(lst))

2104038551872

In [9]:
lst.remove(2)

In [10]:
lst

[1, 3, 4, 5, 9]

In [11]:
lst.extend(['mayank', 2+8j, True])

In [15]:
lst.extend(99)

TypeError: 'int' object is not iterable

In [13]:
b = lst #aliasing

In [14]:
b

[1, 3, 4, 5, 9, 'mayank', (2+8j), True]

In [7]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [8]:
t.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t_1 = t + (9,8,'mayabk')

In [17]:
t_1

(1, 2, 3, 4, 5, 9, 8, 'mayabk')

In [18]:
print(id(t), id(t_1))

2104051552944 2104053644224

## Dictionary 

- a dictionary is a collection of a key and a value pair 
- it will be in curly bracket {}
- every key:value pair is seperated by a comma(,)
    - keys can have immutable datatype such as int, float, strings, tuples
    - values can have mutable datatype 
- key has to be unique and values can be duplicated

In [19]:
d = {'name':'Mayank', 'age':32, 'city':'Bengaluru'}
d

{'name': 'Mayank', 'age': 32, 'city': 'Bengaluru'}

In [20]:
e = {'name':['mayank', 'priya', 'ajay', 'abha'], 'age': [32,28,24,31], 'city':['bengaluru', 'indore', 'goa', 'chandigarh']}

In [21]:
e

{'name': ['mayank', 'priya', 'ajay', 'abha'],
 'age': [32, 28, 24, 31],
 'city': ['bengaluru', 'indore', 'goa', 'chandigarh']}

In [22]:
type(d)

dict

In [23]:
e.keys()

dict_keys(['name', 'age', 'city'])

In [24]:
e.values()

dict_values([['mayank', 'priya', 'ajay', 'abha'], [32, 28, 24, 31], ['bengaluru', 'indore', 'goa', 'chandigarh']])

In [26]:
e['name']

['mayank', 'priya', 'ajay', 'abha']

In [27]:
e['age']

[32, 28, 24, 31]

In [28]:
e['city']

['bengaluru', 'indore', 'goa', 'chandigarh']

## Set

- Anything which we can be written in a curly backet {}
- comma is used to seperate different elements 
- a set can have hetrogenous (diffetent types) datatype
- a set does not allow any duplicate elements 
- a non sequence datatype mean it doesnot follow indexing
- it is an unordered collection 
- sets are going to be mutable

In [29]:
s = {4,1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,1}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
a = 'mayank ghai'

In [46]:
print(set(a))

{'k', 'a', 'n', 'h', 'g', 'i', 'm', ' ', 'y'}

In [47]:
b = "MaYaNk GhAi 123456"

In [49]:
print(set(b))

{'k', 'a', 'A', 'G', '5', '6', 'M', 'Y', 'h', '1', '2', 'i', '3', 'N', ' ', '4'}

In [36]:
ord('1') # is a function to find an ASCII code of a particular alphabet

49

### Frozenset

- whenever we pass an iterable (String, list, tuple, sets) inside a frozenset() then it will become a frozenset
- comma is used to seperate different elements 
- a frozenset can have hetrogenous (diffetent types) datatype
- a frozenset does not allow any duplicate elements 
- a non sequence datatype mean it doesnot follow indexing
- it is an unordered collection 
- they are immuatble

In [37]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
a = frozenset(s)
print(a,type(a))

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9}) <class 'frozenset'>

In [40]:
b

'MaYaNk GhAi 123456'

In [43]:
d = frozenset(b)
print(d)

frozenset({'k', 'a', 'A', 'G', '5', '6', 'M', 'Y', 'h', '1', '2', 'i', '3', 'N', ' ', '4'})

### Mutable and Immutable

##### Mutable data-types 

- any datatype where we can change the values or we can add or remove the values are called mutable datatype
- if something is added or removed the memory space where the things are added or removed will going to remain the same as when the object was first declared 
##### - list, dictionary, sets

In [52]:
lst = [1,2,4,5,6]

In [53]:
print(id(lst))

2104055357696

In [54]:
lst.append(10)

In [55]:
lst

[1, 2, 4, 5, 6, 10]

In [56]:
print(id(lst))

2104055357696

#### Immutable Datatype

- any datatype where change cannot happen that means one an object is created they have a fixed space 
- we cannot add anything to them 
##### - int, float, complex, string, boolean, tuples, frozenset, None

In [50]:
a = 'Rohan'

In [51]:
a[0] = 'S'

TypeError: 'str' object does not support item assignment

In [ ]:
Classification of Datatype 

- Primitive and Derived 
- Numerical, Sequenec and Mapping
        - Numerical ----> int, float and complex
        - Sequenec ------> strings, list, tuples range, sets and frozenset
        - Mapping ------> Dictionary

## Type-Casting

- it convert a datatype to another datatype

In [61]:
a = 10
print(a, type(a))

10 <class 'int'>

In [62]:
b = float(a)
print(b,type(b))

10.0 <class 'float'>

In [63]:
c = str(a)
print(c, type(c))

10 <class 'str'>

In [65]:
d = complex(a)
print(d,type(d))

(10+0j) <class 'complex'>

In [66]:
e = bool(a)
print(e, type(e))

True <class 'bool'>

### Types of Type Casting

- implicit type casting -----> this will be done by the interpreter on its own
- explicit type casting -----> these are  done by us

In [68]:
#implicit type casting

a = 2  #2.0+0j
b = 5.9 #5.9+oj
c = 10+0j #10.0+0j

d = a+b+c

print(d, type(d))

(17.9+0j) <class 'complex'>

#### Precedence ------> int<float<complex

In [69]:
# explicit type casting

a = input('Enter a NUmber: ')

Enter a NUmber: 1234

In [70]:
print(type(a))

<class 'str'>

In [73]:
b = int(input('Enter a Number: '))

Enter a Number: 1234

In [74]:
print(type(b))

<class 'int'>

In [75]:
c = int(input('Enter a Number: '))

Enter a Number: 1234'

ValueError: invalid literal for int() with base 10: "1234'"

In [76]:
d = float(input('Enter a Number: '))

Enter a Number: 1234

In [77]:
d

1234.0

# Input and Output functions

- Input function -----> takes the argument from the user 
- Ouput function ------> display the outcome on the screen (print function)

In [78]:
a = input('Enter you name: ')

Enter you name: Mayank Atul Ghai

In [79]:
print(a)

Mayank Atul Ghai

### Variable Naming Conventions 

- Variable can have any alphabet (A-Z, a-z)
- Variable can have any number (0-9)
- you can use _(underscore) as well but you cannot use any special characters in a variable name (!,@,#,$,%,^,&,*,(,),-,+)
- you variable can be a alpha-numeric term -----> combination of aphabets and numbers
- you cannnot used any of the reserved keywords
- you variable name should always start from an alphabet 
- variables are case sensitive 
- Always try toi write you variable in lowercase (exception of Constant)

In [80]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### mayank, mayank_ghai, m3, M_3 -------> valid variable names

### 9mayank, 123_mayank ------> invalid

In [82]:
Mayank = 'Ghai'

In [84]:
Mayank

'Ghai'

### mayank_atul_ghai -----> snake type writting

In [85]:
mayank = 10
Mayank = 20
MAYANK = 30

In [86]:
lst

[1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1]