### Datatype Strings

In [4]:
# Universal Encoding systems are used to translate numbers to characters and vice versa. 

# The main 3 encoding systems used are : 

# Ascii - 128 characters
# CP1252 - 128 characters. Similar to ASCII, used by Windows systems but with a different system of number to character mapping than ASCII. 
# Unicode - UTF8 - 114,000+ characters, UTF16 - 65,000 (or 134,000+) characters, UTF32 - 134000+ characters. 

# UTF8 is the most common of the Unicode encoding systems and is synonymous with Unicode - many a times used interchangeably.

In [6]:
# Initialising strings

str1 = 'Hello Taniya'
str2 = "Hello Taniya"
str3 = '''Hello Taniya'''


print(str1, type(str1))
print(str2, type(str2))
print(str3, type(str3))

Hello Taniya <class 'str'>
Hello Taniya <class 'str'>
Hello Taniya <class 'str'>

In [8]:
str1 = "Dinesh's friend Ebi is asking a question"

print(str1)

Dinesh's friend Ebi is asking a question

In [9]:
str2 = 'Ebi says "Rikki, I dont think you have covered CP1252 and Unicode"'

print(str2)

Ebi says "Rikki, I dont think you have covered CP1252 and Unicode"

In [10]:
str3 = '''Dinesh's friend Ebi says "Rikki, I dont think you have covered CP1252 and Unicode".'''

print(str3)

Dinesh's friend Ebi says "Rikki, I dont think you have covered CP1252 and Unicode".

In [11]:
str1 = '''Dinesh kept repeating Betty had some butter but the butter was bitter so Betty bought some better butter to make the 
bitter butter better'''

print(str1)

Dinesh kept repeating Betty had some butter but the butter was bitter so Betty bought some better butter to make the
bitter butter better

In [12]:
str1 = 'Dinesh kept repeating Betty had some butter but the butter was bitter so Betty bought some better butter to make \
the bitter butter better'

In [ ]:
# Use of single, double and triple quotes and the use of \ to continue on next line. 

# Triple quotes are the most versatile amongst the 3 - can be used to enclose text containing single or double quotes as
# well as for multiline strings.

In [13]:
str1 = str(10)

print(str1, type(str1))

10 <class 'str'>

In [14]:
x = 10

print(x, type(x))

str1 = str(x)

print(str1, type(str1))

10 <class 'int'>
10 <class 'str'>

In [15]:
for char in str1:
    print(char, end = ' | ')

1 | 0 |

In [16]:
y = 10.2

print(y, type(y))

strfloat = str(y)

print(strfloat, type(strfloat))

10.2 <class 'float'>
10.2 <class 'str'>

In [17]:
for char in strfloat:
    print(char, end = ' | ')

1 | 0 | . | 2 |

In [18]:
lst1 = [1,2,3,4,5]

print(lst1)

strlst = str(lst1)

print(strlst, type(strlst))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] <class 'str'>

In [20]:
for char in strlst:
    print(char)

[
1
,

2
,

3
,

4
,

5
]

In [21]:
tup1 = 1,2,3

print(tup1)

(1, 2, 3)

In [22]:
strtup = str(tup1)

for char in strtup:
    print(char)

(
1
,

2
,

3
)

In [23]:
str1 = str(10)

print(str1)

10

In [24]:
str2 = str(10,20)

print(str2)

TypeError: str() argument 2 must be str, not int

In [25]:
str3 = str([10,20])

print(str3)

[10, 20]

In [26]:
str4 = str((10,20))

print(str4)

(10, 20)

In [27]:
# Properties

# 1. Fundamental
# 2. Single character string is single object but multi-character strings is a collection
# 3. Iterable
# 4. Immutable
# 5. Subscription - Indexing and slicing are supported. Assignment is not supported.

In [ ]:
# If a new string being initialised follows identifier rules then:

# Checked against a pool of strings, if it does not exist - the object is created and added to the pool. 
# If it already exists, then new object not initialised and same memory ID given to the object we want to create.

In [29]:
str1 = 'Betty bought some butter'

In [ ]:
# Extract 'u' from above string using positive indexing

In [30]:
str1[8]

'u'

In [31]:
# Last 'u' using negative indexing

str1[-5]

'u'

In [34]:
# Extract 'some'

str1[13:17]

'some'

In [35]:
print(str1)

Betty bought some butter

In [37]:
# From 'bought' only extract 'b','u' and 'h'

In [38]:
str1[6:12:2]

'buh'

In [40]:
str1[-14:-19:-2]

'hub'

In [42]:
str1[10:5:-2]

'hub'

In [43]:
str1[5:10:-2]

''

In [46]:
print(len(str1))

24

In [45]:
lst1 = list(range(100))

print(len(lst1))

100

In [47]:
# Concatenation of strings

# Joining of strings using the overloaded + operator

str1 = 'I'
str2 = 'India!'

print(str1+ ' ' + 'love ' + str2)

I love India!

In [48]:
# Multiplication of strings

str1 = 'I will not trouble Rikki in class!'

print((str1+'\n')*100)

I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!
I will not trouble Rikki in class!

In [49]:
# Operators = will work only between the same datatype (exception between integer and float where they are arithmetic operators)

In [50]:
print('I love' + [' India!'])

TypeError: can only concatenate str (not "list") to str

In [ ]:
# Comparison operators also between datatypes

In [51]:
str1 = 'Bharath'
str2 = 'Bharath'

print(str1 == str2)

True

In [72]:
str1 = 'Bharath'
str2 = 'Bharath'

print(str1 == str2)

True

In [73]:
print(str1 != str2)

False

In [ ]:
#>, <, >=, <= between strings

In [53]:
print(ord('B'))
print(ord('b'))

66
98

In [54]:
print('B' > 'b')

False

In [55]:
print('B' < 'b')

True

In [60]:
str1 = 'akash'

sum1 = 0
for x in str1:
    print(ord(x))
    sum1 += ord(x)
    
print(sum1)

97
107
97
115
104
520

In [61]:
str2 = 'bjash'

sum2 = 0
for x in str2:
    print(ord(x))
    sum2 += ord(x)
    
print(sum2)

98
106
97
115
104
520

In [62]:
print(str1 == str2)

False

In [63]:
print(str1 > str2)

False

In [64]:
print(str1 >= str2)

False

In [ ]:
# == Equality - then the strings are checked that each and every character is the same.

In [ ]:
# Comparison operators >, <, >=, <=

'akash'   > 'ajash'

In [65]:
print('akash' > 'bjash')

False

In [66]:
print('akash' > 'ajash')

True

In [67]:
# Membership operators

print('a' in 'akash')

True

In [68]:
print('a' not in 'akash')

False

In [69]:
lst1 = list('abcdef')

print(lst1)

['a', 'b', 'c', 'd', 'e', 'f']

In [70]:
print('a' in lst1)

True

In [71]:
print('a' not in lst1)

False

In [74]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### String Methods

count
find
rfind
index
rindex

#### String changing methods
replace
strip
lstrip
rstrip

split
partition
rpartition
splitlines


capitalize
swapcase
title
upper
casefold
center
ljust
rjust

join

zfill





##### String checking methods
startswith
endswith
isalpha
isalnum
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper

# Other methods
expandtabs
maketrans, translate
format

In [83]:
# Count method is used to count the number of occurrences of a substring in a string

# It takes 3 parameters:

# 1. Substring to be found - Mandatory
# 2. Start index from where to start searching. Optional 
# 3. End index where to stop searching - Optional. If end is to be given, then start parameter must also be specified (even
# if specified as 0 to denote beginning of string)

In [76]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'


x = str1.count('b')

print(x)

11

In [77]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'


x = str1.count('but')

print(x)

5

In [80]:
str1.rfind('but')

105

In [79]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'


x = str1.count('but',19)

print(x)

4

In [82]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'


x = str1.count('but',19,104)

print(x)

4

In [ ]:
# Find method, index method will look for the substring in the string and return the index position of the FIRST element of
# the FIRST occurrence of the substring.

In [ ]:
# Difference between find and index (rfind and rindex also) is that if the substring is not found - find (and rfind) will
# return -1 and we can let our program continue while accounting for return of -1. With index(and rindex) our program will
# throw an error and stop at the point that substring is not found <this can be handled using exception handling but we shall
# be covering that in later topics>.

In [ ]:
# find, index, rfind, rindex - take 3 parameters

#1. Substring to be found - Mandatory
#2. Start index - Optional
#3. Stop index - optional

In [84]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'


x = str1.find('b')
y = str1.index('b')
print(x)
print(y)

6
6

In [85]:
x = str1.find('but')
y = str1.index('but')
print(x)
print(y)

18
18

In [86]:
str1[18:21]

'but'

In [87]:
str1[x:x+len('but')]

'but'

In [88]:
x = str1.find('x')
print(x)

-1

In [89]:
y = str1.index('x')
print(y)

ValueError: substring not found

In [90]:
# rfind, rindex - Starts searching from right and goes to left and returns index position of FIRST element of FIRST 
# Occurrence of substring - WITH POSITIVE INDEX numbers!!!

print(str1)

Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better

In [91]:
a = str1.rfind('but')
b = str1.rindex('but')

print(a)
print(b)

105
105

In [92]:
print(len(str1))

118

In [95]:
print(a-len(str1))

-13

In [96]:
print(str1[-13:-10])

but

In [98]:
print(str1)

a = str1.find('but', 19)
b = str1.rfind('but', 100)

print(a)
print(b)

Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better
25
105

In [99]:
print(str1)

a = str1.find('but', 19,100)
b = str1.rfind('but', 19,100)

print(a)
print(b)

Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better
25
79

In [ ]:
# Find ALL the occurences of 'but' in given string. Count the occurrences and print their index positions. In the end print
# total count.

# Must use find method!

In [1]:
# Deepayan

str1='Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better'
str2='but'
b=[]
while (str1.find(str2)!=-1):
    b.append (str1.find(str2))
    str1=str1.replace(str2,'*'*len(str2),1)
print(b)
print(len(b))

[18, 25, 33, 79, 105]
5

In [3]:
# sandeep

str1='Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better'
number_of_occurances = 0
search_string = "but"
index = 0
while index < len(str1):
    if(str1.find(search_string,index,index+len(search_string)) != -1):
        number_of_occurances+=1
        print(f"Count of occurances of {search_string} is {number_of_occurances} until index position {str1.find(search_string,index,index+len(search_string))} ")
    index+=1              
print(f"Total number of occurances : {number_of_occurances}")

Count of occurances of but is 1 until index position 18
Count of occurances of but is 2 until index position 25
Count of occurances of but is 3 until index position 33
Count of occurances of but is 4 until index position 79
Count of occurances of but is 5 until index position 105
Total number of occurances : 5

In [7]:
# rikki

str1='Betty bought some butter but the butter was bitter so Betty bought some better butter to make the \
bitter butter better'

count = 0
idx = -1
to_find = 'but'

while True:
    idx = str1.find(to_find, idx+1)
    if idx != -1:
        count += 1
        print('Count till this point', count, 'Index position', idx)
    else:
        break

print('Final count is ', count)

Count till this point 1 Index position 18
Count till this point 2 Index position 25
Count till this point 3 Index position 33
Count till this point 4 Index position 79
Count till this point 5 Index position 105
Final count is  5

In [8]:
str1[105:108]

'but'

In [9]:
# Mehak

str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'

a = str1.find('but')
b = str1.index('but')    
print('first position of but = ', a)
print('first index of but = ', b)
print('lenght of string = ', len(str1))

x = 0 
print('\n', str1, '\n')
for char in str1:

    a = str1.find('but', x, len(str1))
    b = str1.index('but', x, len(str1))
    x = a +1
    print('value of find = ',a)
    print('value of index = ',b)
    print('value of x = ', x)

first position of but =  18
first index of but =  18
lenght of string =  118

 Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better

value of find =  18
value of index =  18
value of x =  19
value of find =  25
value of index =  25
value of x =  26
value of find =  33
value of index =  33
value of x =  34
value of find =  79
value of index =  79
value of x =  80
value of find =  105
value of index =  105
value of x =  106

ValueError: substring not found

In [12]:
# Taniya

count=0
list1 = []
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'
sub_str = 'but'
for i in range(0,len(str1)):
    result=str1.find(sub_str,i,i+len(sub_str))
    if (result!=-1):
        count=count+1
        list1.append(result)
        
print(count) #prints the number of occurences of sub_string
print(list1) #prints the index of occurences of sub_string

5
[18, 25, 33, 79, 105]

In [13]:
count = 0

str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'
sub_str = 'but'

for idx in range(len(str1)):
    if str1[idx:idx+len(sub_str)] == sub_str:
        count += 1
        print(count, idx)

1 18
2 25
3 33
4 79
5 105

In [ ]:
# replace method - replaces sub_str to be found in original string with given substring

# Replace method takes 3 parameters:

#1. Sub string to be found - Mandatory
#2. String to replace the found sub string - Mandatory
#3. Count (not keyword) just integer - Optional - Max counts to replace.

In [15]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'
sub_str = 'but'
sub_str_rep = '***'

str2 = str1.replace(sub_str, sub_str_rep)

print(str2)

Betty bought some ***ter *** the ***ter was bitter so Betty bought some better ***ter to make the bitter ***ter better

In [16]:
print(str1)

Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better

In [17]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'
print(id(str1))
sub_str = 'but'
sub_str_rep = '***'

str1 = str1.replace(sub_str, sub_str_rep)

print(str1)
print(id(str1))

2280174355712
Betty bought some ***ter *** the ***ter was bitter so Betty bought some better ***ter to make the bitter ***ter better
2280174354832

In [21]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter \
better'
sub_str = 'but'
sub_str_rep = '***'

str2 = str1.replace(sub_str, sub_str_rep, 3)

print(str2)

Betty bought some ***ter *** the ***ter was bitter so Betty bought some better butter to make the bitter butter better

In [ ]:
# strip method - defaults to removing white spaces from both sides of string. Can be asked to remove some other characters
# instead of white spaces

In [22]:
str1 = 'rikki'
str2 = '     rikki     '
str3 = '   rikki'
str4 = 'rikki      '

a = str1.strip()
b = str2.strip()
c = str3.strip()
d = str4.strip()

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
rikki 5
rikki 5
rikki 5

In [23]:
str1 = 'rikki'
str2 = '     rikki     '
str3 = '   rikki'
str4 = 'rikki      '
str5 = '   r i k k i     '

a = str1.strip()
b = str2.strip()
c = str3.strip()
d = str4.strip()
e = str5.strip()

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))
print(e, len(e))

rikki 5
rikki 5
rikki 5
rikki 5
r i k k i 9

In [26]:
str1 = 'rikki'
str2 = '***     rikki     ***'
str3 = '**   rikki*'
str4 = '**rikki     ***'

a = str1.strip('* ')
b = str2.strip('* ')
c = str3.strip('* ')
d = str4.strip('* ')

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
rikki 5
rikki 5
rikki 5

In [27]:
str1 = 'rikki'
str2 = '* ** ***     rikki *** *   **    ***'
str3 = '**   rikki*  ** ***   '
str4 = '**rikki   **     ***'

a = str1.strip('* ')
b = str2.strip('* ')
c = str3.strip('* ')
d = str4.strip('* ')

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
rikki 5
rikki 5
rikki 5

In [30]:
str1 = 'rikki'
str2 = '* ** *X*X*     rikki *** *X   *X*    ***'
str3 = '*X*   rikki*  *X* ***   '
str4 = '*X*rikki   *X*     ***'

a = str1.strip('X *')
b = str2.strip('* X')
c = str3.strip('* X')
d = str4.strip('* X')

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
rikki 5
rikki 5
rikki 5

In [ ]:
# lstrip only strips specified(or default space) characters from left side
# rstrip only strips specified(or default space) characters from right side

In [31]:
str1 = 'rikki'
str2 = '* ** *X*X*     rikki *** *X   *X*    ***'
str3 = '*X*   rikki*  *X* ***   '
str4 = '*X*rikki   *X*     ***'

a = str1.lstrip('X *')
b = str2.lstrip('* X')
c = str3.lstrip('* X')
d = str4.lstrip('* X')

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
rikki *** *X   *X*    *** 25
rikki*  *X* ***    18
rikki   *X*     *** 19

In [32]:
str1 = 'rikki'
str2 = '* ** *X*X*     rikki *** *X   *X*    ***'
str3 = '*X*   rikki*  *X* ***   '
str4 = '*X*rikki   *X*     ***'

a = str1.rstrip('X *')
b = str2.rstrip('* X')
c = str3.rstrip('* X')
d = str4.rstrip('* X')

print(a, len(a))
print(b, len(b))
print(c, len(c))
print(d, len(d))

rikki 5
* ** *X*X*     rikki 20
*X*   rikki 11
*X*rikki 8

In [ ]:
# split function

# Split function splits string at specified separator character (default is space).
# Output from split is a list of separated strings.
# Separator will NOT be part of output list.

# It takes two parameters:

#1. Separator - On which character(s) to perform the split (can take any substring). if not provided, will default to single
# white space - Optional
#2. maxsplit - Optional - Maximum number of times to perform a split.

In [41]:
str1 = 'Betty bought some butter but the butter was bitter'

output_lst = str1.split()

print(output_lst)

['Betty ', 'ought some ', 'utter ', 'ut the ', 'utter was ', 'itter']

In [43]:
str1 = 'Betty bought some butter but the butter was bitter'

output_lst = str1.split('b')

print(output_lst)

['Betty ', 'ought some ', 'utter ', 'ut the ', 'utter was ', 'itter']

In [44]:
strX = 'b'.join(output_lst)

print(strX)

Betty bought some butter but the butter was bitter

In [47]:
str1 = 'Betty bought some butter but the butter was bitter'

output_lst = str1.split(maxsplit = 4)

print(output_lst)

['Betty', 'bought', 'some', 'butter', 'but the butter was bitter']

In [ ]:
# join function - JOINS an input iterable of strings together on specified character.

In [35]:
str2 = ' '.join(output_lst)

print(str2)

Bettyboughtsomebutterbutthebutterwasbitter

In [37]:
output_tup = tuple(output_lst)

print(output_tup)

('Betty', 'bought', 'some', 'butter', 'but', 'the', 'butter', 'was', 'bitter')

In [38]:
str3 = ' '.join(output_tup)

print(str3)

Betty bought some butter but the butter was bitter

In [39]:
str4 = '*'.join(output_tup)

print(str4)

Betty*bought*some*butter*but*the*butter*was*bitter

In [ ]:
str5 = '*'.join('Pallav')

print(str5)

In [40]:
lst1 = list('Pallav')

print(lst1)

['P', 'a', 'l', 'l', 'a', 'v']

In [ ]:
# partition, rpartition

In [49]:
str1 = 'Betty bought some butter but the butter was bitter'

part_lst = str1.partition('butter')

print(part_lst)

('Betty bought some ', 'butter', ' but the butter was bitter')

In [ ]:
# Difference between split and partition

#1. Split - splits on EVERY occurrence of separator. Partition will only split on the FIRST occurrence of separator
#2. Split - can have infinite elements as output in a list. Partition will ALWAYS have 3 outputs ONLY in a tuple. 
#3. Split - does not include separator in output list. Partition - DOES include separator in output tuple (if found).
#4. Split - Defaults to white space if parameter not provided. Partition - MUST have the separator provided.

In [50]:
str1 = 'Betty bought some butter but the butter was bitter'

part_lst = str1.rpartition('butter')

print(part_lst)

('Betty bought some butter but the ', 'butter', ' was bitter')

In [51]:
str1 = 'Betty bought some butter but the butter was bitter'

part_lst = str1.partition('mutter')

print(part_lst)

('Betty bought some butter but the butter was bitter', '', '')

In [53]:
str1 = 'Betty bought some butter but the butter was bitter'

part_lst = str1.rpartition('mutter')

print(part_lst)

('', '', 'Betty bought some butter but the butter was bitter')

In [ ]:
# splitlines - Splits a string on line boundaries. 

# \n - New line
# \r - Return carriage
# \r\n - Return carriage / New line

In [57]:
str1 = 'Jack and Jill went up the hill \nTo fetch a pail of water \nJack fell down and broke his crown\nand Jill came \
tumbling after'

print(str1)

Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
and Jill came tumbling after

In [59]:
str1 = 'Jack and Jill went up the hill \nTo fetch a pail of water \nJack fell down and broke his crown\nand Jill came \
tumbling after'

print(str1)

Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
and Jill came tumbling after

In [60]:
str1 = 'Jack and Jill went up the hill \nTo fetch a pail of water \nJack fell down and broke his crown\nand Jill came \
tumbling after'

split_str1 = str1.splitlines()
print(split_str1)

['Jack and Jill went up the hill ', 'To fetch a pail of water ', 'Jack fell down and broke his crown', 'and Jill came tumbling after']

In [61]:
str1 = 'Jack and Jill went up the hill \rTo fetch a pail of water \nJack fell down and broke his crown\r\nand Jill came \
tumbling after'

split_str1 = str1.splitlines()
print(split_str1)

['Jack and Jill went up the hill ', 'To fetch a pail of water ', 'Jack fell down and broke his crown', 'and Jill came tumbling after']

In [63]:
str1 = 'Jack and Jill went up the hill \rTo fetch a \t pail of water \nJack fell down and broke his crown\r\nand Jill came \
tumbling after'


#print(str1)
split_str1 = str1.splitlines()
print(split_str1)

['Jack and Jill went up the hill ', 'To fetch a \t pail of water ', 'Jack fell down and broke his crown', 'and Jill came tumbling after']

In [80]:
str1 = 'Jack and Jill went up the hill \r\nTo fetch a pail of water \n Sagar fell down and broke his crown \nand Jill came \
tumbling after'


print(str1)
split_str1 = str1.splitlines(keepends = True)
print(split_str1)

Jack and Jill went up the hill
To fetch a pail of water
 Sagar fell down and broke his crown
and Jill came tumbling after
['Jack and Jill went up the hill \r\n', 'To fetch a pail of water \n', ' Sagar fell down and broke his crown \n', 'and Jill came tumbling after']

In [81]:
 
split_str1[2] = 'Jack' + split_str1[2][6:]
print(split_str1)

['Jack and Jill went up the hill \r\n', 'To fetch a pail of water \n', 'Jack fell down and broke his crown \n', 'and Jill came tumbling after']

In [82]:
str3 = ''.join(split_str1)

print(str3)

Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
and Jill came tumbling after

In [83]:
# zfill

str1 = '11011'

str1Z1 = str1.zfill(8)

print(str1Z1)

00011011

In [84]:
str1 = '11011'

str1Z1 = str1.zfill(16)

print(str1Z1)

0000000000011011

In [86]:
str1 = '-11011'

str1Z1 = str1.zfill(8)

print(str1Z1)

-0011011

In [88]:
str1 = '+11011'

str1Z1 = str1.zfill(8)

print(str1Z1)

+0011011

In [89]:
str1 = 'rikki'

str1R1 = str1.zfill(12)

print(str1R1)

0000000rikki

In [91]:
# 1101 = 13
# 10100 = 20
# 100000 = 32

lst1 = ['1101', '10100', '100000']
lst2 = []
for x in range(len(lst1)):
    lst2.append(lst1[x].zfill(8))
    
    
print(lst2)

['00001101', '00010100', '00100000']

In [2]:
# Center, ljust, rjust methods

# Center method - Aligns the given input text in the middle of the output string. 

# It takes two parameters:

#1. Length of output string required - Mandatory

# - In case the number of characters to be added (after including the input string character length) is odd - then the
# extra one character will come on the right. 

#2. Fill character - Optional. Defaults to space but can be specified. Only one character can be specified - no more. 

str1 = 'Sandeep'

str2 = str1.center(20)

print(str2)
print(len(str2))

      Sandeep
20

In [4]:
print('*'+str2+'*')

*      Sandeep       *

In [5]:
print(len('*'+str2+'*'))

22

In [7]:
# 6 spaces + 7 char Sandeep + 7 spaces

# 7 spaces + 6 char text + 7 spaces

In [8]:
str3 = str1.center(20, '$')

print(str3)

TypeError: The fill character must be exactly one character long

In [9]:
# Will only allow to specify one fill character, not more. Below will not work. 

str3 = str1.center(20, '$%')

print(str3)

TypeError: The fill character must be exactly one character long

In [15]:
# ljust - justifies the input string to the left of the output string and fills extra characters on the right
# rjust - justifies the input string to the right of the output string and fills extra characters on the left. 

# Like center method - they take two parameters. 

#1. Length of output string - mandatory
#2. Fill character - optional. Defaults to white space and only one character can be specified.

In [10]:
str1 = 'Rashmika'

str2 = str1.ljust(20)

print(str2)

Rashmika

In [11]:
str1 = 'Rashmika'

str2 = str1.ljust(20, '*')

print(str2)

Rashmika************

In [12]:
str1 = 'Rashmika'

str2 = str1.rjust(20)

print(str2)

            Rashmika

In [14]:
str1 = 'Rashmika'

str2 = str1.rjust(20, '*')

print(str2)

************Rashmika

In [26]:
# lower
# upper
# capitalize
# swapcase
# title

In [17]:
# upper - makes all the characters in the string in upper case.
str1 = 'Betty bought some butter but the butter was bitter.'

str2 = str1.upper()

print(str2)

BETTY BOUGHT SOME BUTTER BUT THE BUTTER WAS BITTER.

In [18]:
# lower - makes ALL the characters in the string in lower case.

str3 = str1.lower()

print(str3)

betty bought some butter but the butter was bitter.

In [19]:
# capitalize makes only the FIRST character of the string in capital, all other characters are converted to lower case if
# not already lower case. 

str4 = str1.capitalize()

print(str4)

Betty bought some butter but the butter was bitter.

In [23]:

str5 = 'Hi there.how Are you doing?'

str6 = str5.capitalize()

print(str6)

Hi there.how are you doing?

In [24]:
# Title - makes the first character of every word into capital and rest lower case. 

str1 = 'betty bOugHT somE buttEr but the ButTer wAs biTTER'

str2 = str1.title()

print(str2)

Betty Bought Some Butter But The Butter Was Bitter

In [25]:
# Swapcase - swaps upper to lower and lower to upper case. 

str1 = 'Betty Bought Some Butter But The Butter Was Bitter'

str2 = str1.swapcase()

print(str2)

bETTY bOUGHT sOME bUTTER bUT tHE bUTTER wAS bITTER

# String checking methods. 

startswith - X
endswith - X
isalpha - X
isalnum - X
isascii - X
isdecimal 
isdigit
isidentifier - X
islower - X
isnumeric
isprintable - X
isspace - X
istitle - X
isupper - X

In [27]:
# Startwith, endswith - returns true false for whether specified string starts with or ends with the particular character(s)

# They take 3 parameters:

#1. SubString to be checked for at beginning or end of strings. - Mandatory
#2. Start index - Optional - From input string - where to begin checking. 
#3. End index - optional - From input string - where to end checking

str1 = 'Rajia says hello'

print(str1.startswith('R'))
print(str1.endswith('o'))

True
True

In [28]:
str1 = 'Rajia says hello'

print(str1.startswith('Raj'))
print(str1.endswith('llo'))

True
True

In [29]:
str1 = ' Rajia says hello '

print(str1.startswith('Raj'))
print(str1.endswith('llo'))

False
False

In [34]:
str1 = ' Rajia says hello '

print(str1.startswith('Raj', 1, len(str1)))
print(str1.endswith('llo',0,-1))

True
True

In [38]:
# isalpha - checks if all the characters are alphabets

str1 = 'Vivek'
str2 = 'Vivek93'
str3 = 'Vivek@gmail.com'

print(str1.isalpha())
print(str2.isalpha())
print(str3.isalpha())

True
False
False

In [39]:
# isalnum - checks if all the characters are alphabets or numbers. Any others will throw false.
str1 = 'Vivek'
str2 = 'Vivek93'
str3 = 'Vivek@gmail.com'

print(str1.isalnum())
print(str2.isalnum())
print(str3.isalnum())

True
True
False

In [41]:
# islower - checks if the ALPHABETS are in lower case. Numbers and other characters are ignored.

str1 = 'Vivek'
str2 = 'Vivek93'
str3 = 'Vivek@gmail.com'
str4 = 'vivek'
str5 = 'vivek@gmail.com'
str6 = 'vivek93'

print(str1.islower())
print(str2.islower())
print(str3.islower())
print(str4.islower())
print(str5.islower())
print(str6.islower())

False
False
False
True
True
True

In [43]:
# isupper - checks if the ALPHABETS are in upper case. Numbers and other characters are ignored.

str1 = 'VIVEK'
str2 = 'VIVEK93'
str3 = 'VIVEK@GMAIL.COM'
str4 = 'vivek'
str5 = 'vivek@gmail.com'
str6 = 'vivek93'

print(str1.isupper())
print(str2.isupper())
print(str3.isupper())
print(str4.isupper())
print(str5.isupper())
print(str6.isupper())

True
True
True
False
False
False

In [47]:
# isascii - checks if the character(s) is(are) part of the ascii table. 

str1 = 'Ravi'
str2 = '\u2164Ravi'

print(str1)
print(str2)
print(str1.isascii())
print(str2.isascii())

Ravi
Ravi
True
False

In [48]:
#isspace - checks if all the characters in the string are spaces. 

str1 = 'Bharath'
str2 = 'B h a r a t h'
str3 = ' '
str4 = ' '*20

print(str1.isspace())
print(str2.isspace())
print(str3.isspace())
print(str4.isspace())

False
False
True
True

In [49]:
for x in range(10):
    print(x, '---->', chr(x))

0 ---->  
1 ----> 
2 ----> 
3 ----> 
4 ----> 
5 ----> 
6 ----> 
7 ----> 
8 ----> 
9 ---->

In [50]:
for x in range(65,128):
    print(x, '--->', chr(x))

65 ---> A
66 ---> B
67 ---> C
68 ---> D
69 ---> E
70 ---> F
71 ---> G
72 ---> H
73 ---> I
74 ---> J
75 ---> K
76 ---> L
77 ---> M
78 ---> N
79 ---> O
80 ---> P
81 ---> Q
82 ---> R
83 ---> S
84 ---> T
85 ---> U
86 ---> V
87 ---> W
88 ---> X
89 ---> Y
90 ---> Z
91 ---> [
92 ---> \
93 ---> ]
94 ---> ^
95 ---> _
96 ---> `
97 ---> a
98 ---> b
99 ---> c
100 ---> d
101 ---> e
102 ---> f
103 ---> g
104 ---> h
105 ---> i
106 ---> j
107 ---> k
108 ---> l
109 ---> m
110 ---> n
111 ---> o
112 ---> p
113 ---> q
114 ---> r
115 ---> s
116 ---> t
117 ---> u
118 ---> v
119 ---> w
120 ---> x
121 ---> y
122 ---> z
123 ---> {
124 ---> |
125 ---> }
126 ---> ~
127 ---> 

In [ ]:
# isprintable - checks if the character(s) is/are printable characters. It checks this in the UNICODE table and if classified
# as printable there will return True else False.

In [51]:
str1 = chr(9)

print(str1)

In [52]:
str2 = chr(65)

print(str2)

A

In [53]:
print(str1.isprintable())
print(str2.isprintable())

False
True

In [54]:
# istitle method - is SUPPOSED to check if all the first characters of each word are capitalised. 

str1 = 'Betty Bought Some Butter'
str2 = 'Betty bought some butter'

print(str1.istitle())
print(str2.istitle())

True
False

In [55]:
# isidentifier - checks if the string follows identifier rules. However, DOES NOT check if it is already a keyword. For that
# we can use the keyword library and iskeyword method

str1 = 'antara'


print(str1.isidentifier())

True

In [57]:
str1 = 'Antara B'


print(str1.isidentifier())

False

In [60]:
str2 = 'for'

print(str2.isidentifier())

True

In [61]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [64]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [65]:
print(keyword.iskeyword(str2))

True

In [66]:
print(str2.isidentifier(), keyword.iskeyword(str2))

True True

In [67]:
str2 = 'sameer'

print(str2.isidentifier(), keyword.iskeyword(str2))

True False

In [68]:
str2 = 'Sameer S'

print(str2.isidentifier(), keyword.iskeyword(str2))

False False

In [69]:
lst1 = list('ABCDE')

print(lst1)

['A', 'B', 'C', 'D', 'E']

In [70]:
lst1.isupper()

AttributeError: 'list' object has no attribute 'isupper'

In [77]:
# program to check if input is a float or not. 

str1 = '10000.27230131'

splitstr = str1.split('.')

if len(splitstr)== 2:
    if splitstr[0].isdecimal() and splitstr[1].isdecimal():
        print('Is float')
    else:
        print("Not float")
else:
    print('Not float')

Is float

In [84]:
#abhijeet

str1 = '123.372\u2164'

print(str1)
if str1.count('.') == 1 and str1.replace('.', "").isdecimal():
    print('True')
else:
    print('False')

123.372
False

In [98]:
#anshu

str_float='-123.3\u2164'
if a[0] == '-' or a[0]=='+':
    a = a[1:]


x= str_float.replace('.','',1)
print(x.isdecimal())

False

In [94]:
#DS

a = '-0.123\u2164'
if a[0] == '-' or a[0]=='+':
    a = a[1:]
print(a)
b= a.split('.')


if(len(b) == 2):
    if(b[0].isdecimal() and b[1].isdecimal()):
        print("given number is a float")
    else:
        print("given number is not a float")
else:
    print("given input is invalid for float")

0.123
given number is not a float

In [89]:
print('-0'.isdecimal())

False

In [90]:
print('-0'.isnumeric())

False

In [102]:
# expandtabs

str1 = 'Rikki\tSabnani'

print(str1)
print(len(str1))

Rikki	Sabnani
13

In [103]:
str2 = str1.expandtabs(20)

print(str2)

Rikki               Sabnani

In [111]:
#maketrans, translate

str1 = 'Rikki Ran over the Road'
dicttable = str1.maketrans({'R':'V','i':'j'})

print(dicttable)

{82: 'V', 105: 'j'}

In [105]:
print(ord('R'))
print(ord('V'))

82
86

In [112]:
str3 = str1.translate(dicttable)

print(str3)

Vjkkj Van over the Voad

In [113]:
# format method

print('a = {} b = {} c = {} d = {}'.format(100, 10.2, 2+3j, 'Sreenivas'))

a = 100 b = 10.2 c = (2+3j) d = Sreenivas

In [114]:
names = ['Ashwini', 'Sreenivas', 'Vivek']
hobbies = ['Dancing', 'Reading', 'Cricket']
sinceyears = [29,7,88]

print('Ashwinis hobby is dancing and has been doing this for 29 years')
print('Sreenivas hobby is Reading and has been doing this for 7 years')
print('Vivek hobby is Cricket and has been doing this for 88 years')

Ashwinis hobby is dancing and has been doing this for 29 years
Sreenivas hobby is Reading and has been doing this for 7 years
Vivek hobby is Cricket and has been doing this for 88 years

In [115]:
for x in range(len(names)):
    print('{} hobby is {} and has been doing this for {} years'.format(names[x], hobbies[x], sinceyears[x]))

Ashwini hobby is Dancing and has been doing this for 29 years
Sreenivas hobby is Reading and has been doing this for 7 years
Vivek hobby is Cricket and has been doing this for 88 years

In [122]:
print('a = {1} b = {3} c = {0} d = {2}'.format(100, 10.2, 2+3j, 'Sreenivas'))

a = 10.2 b = Sreenivas c = 100 d = (2+3j)

In [119]:
print('a = {q} b = {p} c = {r} d = {s}'.format(s=100*2, p=10.2, q=2+3j, r='Sreenivas'*3))

a = (2+3j) b = 10.2 c = SreenivasSreenivasSreenivas d = 200

In [124]:
# Latest string formatting method is fstring

p = 10.2
s = 100
q = 2+3j
r = 'Sreenivas'
print(f'a = {q}, b = {p}, c = {r*3}, d = {s*2}')

a = (2+3j), b = 10.2, c = SreenivasSreenivasSreenivas, d = 200

In [125]:
for x in range(len(names)):
    print(f'{names[x]} hobby is {hobbies[x]} and has been doing this for {sinceyears[x]}')

Ashwini hobby is Dancing and has been doing this for 29
Sreenivas hobby is Reading and has been doing this for 7
Vivek hobby is Cricket and has been doing this for 88

In [127]:
# r string or raw string

str1 = 'Jack and Jill went up the hill\nto fetch a pail of water\nJack fell down and broke his crown\tand Jill came tumbling\
 after'

print(str1)

Jack and Jill went up the hill
to fetch a pail of water
Jack fell down and broke his crown	and Jill came tumbling after

In [128]:
str1 = r'Jack and Jill went up the hill\nto fetch a pail of water\nJack fell down and broke his crown\tand Jill came tumbling\
 after'

print(str1)

Jack and Jill went up the hill\nto fetch a pail of water\nJack fell down and broke his crown\tand Jill came tumbling\
 after

In [ ]:
path = r'D:\MyDocuments\Computer Learning\tearnbay Training Programs\Python\Class 4 - Data Type - Strings'

In [130]:
str1 = '\u2164'

print(str1)