### Negative Slicing



                0  1  2  3  4  5  6  7  8  9  10    ------ Positive indexing
                M  A  Y  A  N  K     G  H  A  I 
              -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1    ----- Negative indeing 
            
            
Syntax:
    
    varaiable_name[Starting_index : ending_index(n+1) : Step_size]
    
    where :-
        
        Starting_index = will take -1 as my default value 
        ending_index will take -len(my_str)-1 as the default value 
        step_size = -1 (by default you step size will be 1)

In [2]:
my_str = 'Python Class'
print(len(my_str))

12

In [3]:
# if we want to retrieve the reverse of the string
print(my_str[::-1])

ssalC nohtyP

In [ ]:
my_str[::-1] -----> my_str[-1:-len(my_str)-1:-1]---->my_str[-1:-13:-1]

In [4]:
my_str[-1]+my_str[-2]+my_str[-3]+my_str[-4]

'ssal'

In [6]:
a = 'mayank'

In [7]:
a[-1:-len(a)-1:-1] #here i have taken the default values of negative indexing

'knayam'

In [8]:
a[::-1]

'knayam'

In [11]:
my_str

'Python Class'

In [9]:
my_str[-13]

IndexError: string index out of range

In [ ]:
my_str[-12:-1:1]

In [10]:
my_str[-12]+my_str[-11]+my_str[-10]

'Pyt'

In [12]:
my_str

'Python Class'

In [14]:
my_str[-12:-1:-10]

''

In [15]:
my_str

'Python Class'

In [16]:
print(my_str[-12])

P

In [17]:
print(my_str[0])

P

In [20]:
my_str[-12::1]

'Python Class'

In [21]:
my_str

'Python Class'

In [23]:
#different ways of getting the reverse of the string

#Negative Indexing
print(my_str[-1:-13:-1])
print(my_str[-1:-len(my_str)-1:-1])
print(my_str[:-len(my_str)-1:-1])
print(my_str[-1::-1])
print(my_str[::-1])

#Positive Slicing
print(my_str[12::-1])

ssalC nohtyP
ssalC nohtyP
ssalC nohtyP
ssalC nohtyP
ssalC nohtyP

In [31]:
#ways of getting normal strng

#Negative indexing
print(my_str[-len(my_str)::1])

Python Class

In [24]:
my_str = "Although that way may not be obvious at first but that's the best choice we can have"

In [25]:
my_str[::-1]

"evah nac ew eciohc tseb eht s'taht tub tsrif ta suoivbo eb ton yam yaw taht hguohtlA"

In [26]:
my_str = 'Python Class'

In [28]:
my_str[12:0:-1]

'ssalC nohty'

In [29]:
my_str[12::-1]

'ssalC nohtyP'

In [32]:
my_str[12::-2]

'saCnhy'

In [33]:
my_str[-12::]

'Python Class'

### String Methods

- Methods are functions only but they are defined for a particular Class (such as string, list, tuple, dictionary, set, frozenset)
- Function are a piece of code that once defined can be called independently and infinte number of times
- Whenever a function which are  associated (written inside any class within the object) with an will be considered as a Method
- We cannot call a method independently
- Method defined to Class may or maybe be applicable to another object

In [34]:
my_str = 'Mayank'

To get the mehhod : 
                   
                    variable name+.+tab in jupyter notebook

                    variable name+.+wait in google colab
        
- In python a class is defined for any kind of a value (object)
- When we define a variable it becomes an object for a particular class
- In a class several methods are defined that we can apply on an object

In [36]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Capitalize ()

- It converts the first letter in upper case in a sentenece
- It returns a new object, it doesnot make any change in the existing object (because the strings are immuatble)

In [40]:
a = 'this is a python class'
b = a.capitalize()
b

'This is a python class'

In [41]:
print(id(a), id(b))

3043129937792 3043132427440

In [46]:
a = "mayank ghai"
print(id(a))
a = a.capitalize() #string reassigning 
print(id(a))

3043129733936
3043129723568

### title()

- It convers the first letter of every word into uppercase in a sentence
- it will return a new object, it doesnot make changes in the existing object

In [43]:
my_str = 'this is a python class'
my_str.title()

'This Is A Python Class'

### Upper

- It converts all the alphabets in a string into an upper case
- it will return a new object/

In [47]:
my_str = 'python'
my_str1 = my_str.upper()
my_str1

'PYTHON'

#### Lower()

- it converts all the alphabets in a string to lowercase
- it will return a new object

In [48]:
c = my_str1.lower()
c

'python'

In [49]:
print(id(my_str), id(c))

3043060262896 3043131309744

### swapcase()

- It converts all the uppercase to lowercase and all the lowercase to upper
- it will return a new object

In [50]:
a = 'MaYaNk AtUl GhAi'
b = a.swapcase()
b

'mAyAnK aTuL gHaI'

In [51]:
a = 'python@!#$%^&&*(())'
b = a.swapcase()
b

'PYTHON@!#$%^&&*(())'

### Casefold()

- it converts the uppercase alphabets to lowercase

In [54]:
my_str = 'PYTHON'
b = my_str.casefold()
b

'python'

### Casefold() vs lower()

- lower() can convert only the ASCII character 
- casefold can convert the ASCII character and non ascii character

In [55]:
my_str='AẞCD'

print(my_str.lower())
print(my_str.casefold())

aßcd
asscd

### Count()

- It counts the number of occurance of a particular characteer or a sub-string

In [ ]:
my_str.count('Character')
my_str.count('character', starting indexing)
my_str.count('character', starting indexing, ending index)

In [58]:
my_str = 'This is a Python class'

In [59]:
my_str.count('s')

4

In [60]:
my_str.count('Python')

1

In [61]:
my_str.count('Class')

0

In [62]:
my_str.count('s', 5)

3

In [65]:
my_str.count('s', 5, 21)

2

In [66]:
len(my_str)

22

In [67]:
a = 'mayank atul ghai'

print(a.count('a'))

4

In [68]:
print(a.count('a', 3))

3

In [69]:
print(a.count('a', 6))

2

In [70]:
print(a.count('a', 3, 14)) #here i am defining a range in which i am going to count the occurance of a particular character or sub-string

2

In [80]:
print(a.count('a', 3,15))

3

In [77]:
for i, j in enumerate(a):
    print(i,j)

0 m
1 a
2 y
3 a
4 n
5 k
6
7 a
8 t
9 u
10 l
11
12 g
13 h
14 a
15 i

In [79]:
a[3:15]

'ank atul gha'

In [81]:
a

'mayank atul ghai'

In [82]:
a[-1::1]

'i'

In [85]:
print(a.count('a', -16, -1)) #this fashion of -ve indexing will return me the answer

4

In [86]:
a[-1:16:1]

'i'

In [89]:
a[100:200]

''