### Index

- It returns the index of the first occurance of specific character or a sub-string from left to right 
- If the character or the sub-string is not found then it will throw a value error

Syntax: -
    
    my_str.index('character')
    my_str.index('chaarcter', starting_index)
    my_str.index('character', starting_index, ending_inex) #ending_index will be excluded

In [5]:
my_str = 'mayank atul ghai'
print(my_str.index('a'))
print(my_str.index('a', 3))
print(my_str.index('a', 4,7))

1
3

ValueError: substring not found

In [6]:
my_str.index('atul')

7

### find()

- It returns the index of the first occurance of a specific character or a sub-string from left to right
- if the character or a substring is not found, the it will return -1
- it will return me the lowest index

Syntax: -
    
    my_str.find('character')
    my_str.find('chaarcter', starting_index)
    my_str.find('character', starting_index, ending_inex) #ending_index will be excluded

In [7]:
my_str

'mayank atul ghai'

In [8]:
print(my_str.find('atul'))

7

In [9]:
print(my_str.find('f'))

-1

### rfind()

- It read the string frpm right to left
- it returns the index of the first occurance of a specified character or a sub-string from right to left
- if the character or a substring is not found, then it will return -1
- it will return me the highest index

In [ ]:
Syntax: -
    
    my_str.rfind('character')
    my_str.rfind('chaarcter', starting_index)
    my_str.rfind('character', starting_index, ending_inex) #ending_index will be excluded
    
    The answer will always be according to Positive indexing

In [10]:
my_str

'mayank atul ghai'

In [11]:
my_str.rfind('a')

14

In [12]:
a = 'hello this is a python class'
a.rfind('a', 20)

25

In [17]:
my_str.rfind('a', 10)

14

In [13]:
for i, j in enumerate(a):
    print(i,j)

0 h
1 e
2 l
3 l
4 o
5
6 t
7 h
8 i
9 s
10
11 i
12 s
13
14 a
15
16 p
17 y
18 t
19 h
20 o
21 n
22
23 c
24 l
25 a
26 s
27 s

In [14]:
a[20:]

'on class'

In [15]:
my_str[10:]

'l ghai'

In [18]:
my_str

'mayank atul ghai'

In [19]:
my_str[4:12]

'nk atul '

In [20]:
my_str.rfind('a', 4, 12)

7

In [21]:
my_str.find('a')

1

In [26]:
my_str.rfind('g', -6, -1)

12

In [27]:
my_str[-6:-1]

'l gha'

### Spilt()

- It splits the string from a specified character and returns me the list
- By default, in split the default character is the space

In [28]:
my_str

'mayank atul ghai'

In [29]:
my_str.split()

['mayank', 'atul', 'ghai']

In [30]:
my_str = 'mayank-atul-ghai'
my_str.split()
# it will give me just one answer because there is no space to do segmentation

['mayank-atul-ghai']

In [31]:
my_str = 'mayank-atul-ghai'
my_str.split('-')

['mayank', 'atul', 'ghai']

In [32]:
a = 'maynakatulghai@gmail.com'
a.split('@')

['maynakatulghai', 'gmail.com']

In [33]:
my_str = 'mayank atul ghai'
my_str.split('') #empty string , i do have to pass some arguments

ValueError: empty separator

In [34]:
my_str

'mayank atul ghai'

In [35]:
my_str.split('atul')

['mayank ', ' ghai']

In [36]:
my_str.split('a')

['m', 'y', 'nk ', 'tul gh', 'i']

In [37]:
my_str = '''My name is Mayank Ghai
I am a trainer at Learnbay
I also works as a Data Analyst'''

In [39]:
b = my_str.split()

In [40]:
print(b, type(b))

['My', 'name', 'is', 'Mayank', 'Ghai', 'I', 'am', 'a', 'trainer', 'at', 'Learnbay', 'I', 'also', 'works', 'as', 'a', 'Data', 'Analyst'] <class 'list'>

### Splitlines()

- \n ------> new line
- it will by default will split the values as it encounter a \n

In [43]:
my_str = '''My name is Mayank Atul Ghai. \nI am a Trainer at Learnbay. \nI also work as Sr. Data Analyst'''

In [44]:
print(my_str)

My name is Mayank Atul Ghai.
I am a Trainer at Learnbay.
I also work as Sr. Data Analyst

In [45]:
my_str.splitlines()

['My name is Mayank Atul Ghai. ',
 'I am a Trainer at Learnbay. ',
 'I also work as Sr. Data Analyst']

In [47]:
my_str1 = '''My name is Mayank Ghai
I am a trainer at Learnbay
I also works as a Data Analyst'''

In [48]:
my_str1.splitlines()

['My name is Mayank Ghai',
 'I am a trainer at Learnbay',
 'I also works as a Data Analyst']

### Join()

- It combines the element of a list seperated by a specified character and return a string

Syntax:-
    
    'character'.join(lst)

In [50]:
lst = ['hello', 'this', 'is', 'a', 'Python', 'Class']

In [51]:
x = ' '.join(lst) #take space in between 
print(x)

hello this is a Python Class

In [52]:
type(x)

str

In [53]:
y = '@'.join(lst) #take @ in between

In [54]:
y

'hello@this@is@a@Python@Class'

In [55]:
z = ''.join(lst) #take no space in between

In [56]:
z

'hellothisisaPythonClass'

### Strip()

- It removes the specified character from left to right side of the string
- by default it removes the space character from left to right 

#### Note:- It removes the boundary character not the character in between

In [57]:
my_str = '$150$'
my_str.strip('$')

'150'

In [58]:
my_str = '$1$5$0$'
my_str.strip('$')

'1$5$0'

In [59]:
my_str = '      Mayank         Atul        Ghai                 '
p = my_str.strip()
p

'Mayank         Atul        Ghai'

### lstrip()

- It removes the specified character from the left side of the strong
- By default, it will remove space character

In [60]:
my_str = '$$$150$$$'
my_str.lstrip('$')

'150$$$'

### rstrip()

- It removes the specified character from the right side of the strong
- By default, it will remove space character

In [61]:
my_str = '$$$150$$$'
my_str.rstrip('$')

'$$$150'

In [63]:
my_str = '*******Python********'
print(my_str.strip('*'))
print(my_str.lstrip('*'))
print(my_str.rstrip('*'))

Python
Python********
*******Python

In [66]:
my_str = '      Mayank         Atul        Ghai                 '
my_str.strip()

'Mayank         Atul        Ghai'

In [67]:
my_str.lstrip()

'Mayank         Atul        Ghai                 '

In [68]:
my_str.rstrip()

'      Mayank         Atul        Ghai'

### ljust, rjust and center

- these are the justification methods
- these function are used to add a specified character on the left or on the right or in the center of a string

### ljust()

- It reads the string form left to right
- It adds the specified character to the right of the string

Syntax:- 
    
    my_str.ljust('length of the resultant string', 'Character ')
    my_str.ljust(len(string)+number of character, 'character ')

In [70]:
my_str = "python" #python---
my_str.ljust(len(my_str)+3, '-')

'python---'

In [71]:
my_str = "python" #python@@@@@
my_str.ljust(len(my_str)+5, '@')

'python@@@@@'

In [72]:
my_str = 'Hello Everyone' # Hello Everyone*******
my_str.ljust(len(my_str)+7, '*')

'Hello Everyone*******'

In [73]:
my_str = 'Hello Everyone' # Hello Everyone*******
my_str.ljust(len(my_str), '*')

'Hello Everyone'

In [74]:
my_str.ljust(len(my_str)-2, '*')

'Hello Everyone'

In [75]:
my_str = 'Hello Everyone  ' # Hello Everyone*******
my_str.ljust(len(my_str)-2, '*')

'Hello Everyone  '

In [76]:
my_str = 'Python' # Hello Everyone*******
my_str.ljust(len(my_str)+6, ' Class')

TypeError: The fill character must be exactly one character long

### rjust()

- It will read from right to left
- It adds specified character on left side of the string

Syntax:- 
    
    my_str.rjust('length of the resultant string', 'Character ')
    my_str.rjust(len(string)+number of character, 'character ')

In [78]:
my_str

'Python'

In [79]:
my_str.rjust(len(my_str)+5, '#')

'#####Python'

### Center()

- It adds the specified character on both the side of the string

Syntax:- 
    
    my_str.center('length of the resultant string', 'Character ')
    my_str.center(len(string)+number of character, 'character ')

In [83]:
my_str

'Python'

In [84]:
my_str.center(len(my_str)+19, '*')

'**********Python*********'

### To add one specified character in the left hand side and the other specified character on the right side

In [ ]:
my_str = 'Data'
Output = '++Data--'

my_str.ljust(len(my_str)+2,'-').rjust(len(my_str)+2+2, '+')

In [86]:
b = my_str.ljust(len(my_str)+2,'-')
b

'Python--'

In [89]:
b.rjust(len(my_str)+2+2, '+')

'++Python--'

### isalnum()

- It will return me a True, if all the characters in the string are alphanumeric else it will return a False
- Alphanumeric means it should have - A-Z, a-z, 0-9

In [90]:
my_str = 'Data'

In [91]:
print(my_str.isalnum())

True

In [92]:
my_str = 'Data123'
print(my_str.isalnum())

True

In [93]:
my_str = 'Data123@'
print(my_str.isalnum())

False

In [94]:
my_str = 'DATA'
print(my_str.isalnum())

True

### isalpha()

- It returns True if all the characters in the string are alphabets else False
- Here the string should be a combination of A-Z and a-z
- NO digits and special characters are allowed

In [95]:
my_str = 'DATA'
print(my_str.isalpha())

True

In [96]:
my_str = 'Data123@'
print(my_str.isalpha())

False

### isupper()

- It returns True if all the alphabets in the string are in the upper case else False

In [97]:
my_str = 'DATA SCIENCE'
print(my_str.isupper())

True

In [98]:
my_str = 'DATA SCIENCE12345@'
print(my_str.isupper())

True

In [99]:
my_str = 'DATA SCIence12345@'
print(my_str.isupper())

False

### islower()

- It returns True if all the alphabets in the string are in the lower case else False

In [100]:
my_str = 'DATA SCIence12345@'
print(my_str.islower())

False

In [101]:
my_str = 'data science12345@'
print(my_str.islower())

True

### istitle()

- It returns True if the string is in Title case
- Title case ----> The first character of each word should be in the uppercase

In [102]:
my_str = 'This Is A Python Class @'
my_str.istitle()

True

In [103]:
my_str = 'This Is A Python Class'
my_str.istitle()

True

In [104]:
my_str = 'Mayank atul Ghai'
my_str.istitle()

False

### isspace()

- It will return a True if all the characters in the string are space characters 
- Space character ----> \n, \v, \r, \t, space

In [105]:
my_str = ' '
my_str.isspace()

True

In [106]:
my_str = '\n'
my_str.isspace()

True

In [107]:
my_str = '\t'
my_str.isspace()

True

In [108]:
my_str = '_'
my_str.isspace()

False

In [113]:
a = '''Mayank\r Atul\r Ghai'''
print(a)

 Ghai

In [114]:
print('\\n')

\n

In [117]:
print("Mayank '\n' GHai")

Mayank '
' GHai

In [118]:
oct(9876)

'0o23224'

In [120]:
hex(9876)

'0x2694'