### Map()

- It also takes two arguments, where the first argument is a function (named function or anonymous function) and the second element will have to be an iterable
- The function that we will pass in the map() that should have 1 argument only
- It performs a specific operation on each element of the iterable and retrurns us a map object
- To fetch the values from the map object we have to typecast it to either a list or a tuple 

        Syntax:
        
                map(function, iterable) ----> named function
                map(lambda argument: operation, iterable)------> anonynous function

In [1]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# write a program which multiple every element of the list with 5

res = []

for i in lst:
    res.append(i*5)
    
print(res)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [6]:
# named function
def multiple(a):
    x = a*5
    return x

In [7]:
a = list(map(multiple, lst))

In [8]:
a

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [9]:
# anonymous function

res = list(map(lambda x:x*5, lst))
res

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [10]:
# write a function to give the square of the elemenst inside the list

res = list(map(lambda x : x**2, lst))
res

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# write a program to get the odd values form the list

r = list(filter(lambda i:i%2!=0,lst))
r

[1, 3, 5, 7, 9]

#### write a program to filter first the numbers divisible by both 2 and 5 between 1 tp 50 and then get the cube of all the elements inside the list

In [16]:
lst = [i for i in range(1,51)]
lst
res = list(filter(lambda x :  x % 2 == 0 and x % 5 == 0 , lst))
cube = list(map(lambda x : x**3, res))
print(res)
print(cube)

[10, 20, 30, 40, 50]
[1000, 8000, 27000, 64000, 125000]

In [19]:
lst = [i for i in range(1,51)]
lst
lst2 = list(map(lambda x:x**3, filter(lambda x:x%2==0 and x%5 ==0 , lst)))
lst2

[1000, 8000, 27000, 64000, 125000]

In [20]:
lst3 = list(filter(lambda x:x %2 ==0 and x%5==0, map(lambda x:x**3, lst)))
lst3

[1000, 8000, 27000, 64000, 125000]

In [22]:
a = list(map(lambda x:x**3, lst))
a

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000]

In [23]:
res = list(filter(lambda x:x %2 ==0 and x%5==0, a))
res

[1000, 8000, 27000, 64000, 125000]

In [24]:
lst4 = list(map(lambda x:x**3, filter(lambda x: x%2 ==0 and x%5==0, [i for i in range(1,51)])))
lst4

[1000, 8000, 27000, 64000, 125000]

map(funcion, filter(function, list comprehension))

### Reduce()

- It is available in the functool module of python
- It is used to perform aggregation operations on the value of an iterable
- Aggregation operations - Sum, multiple, division, max, min and average 
- It will take two arguments, where the first argument is a function and the second argument is an itearble
- The function that we will pass in the reduce function should have two arguments in it
- It is going to return 1 single value
- To use reduce(), we have to import functool module first

In [27]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
#cummilative sum

s = 0

for i in lst:
    s = s+i
    
print(s)

55

In [31]:
from functools import reduce

reduce(lambda x,y :x+y, lst)

55

In [ ]:
x = 1, y = 2------x+y = 3
x = 3, y = 3 -----x+y = 6
x = 6, y = 4 ----- x+y = 10
x = 10, y = 5 ----- x+y = 15\
x = 15, y = 6 ------ x+y = 21
x = 21, y = 7 ----- x+y = 28
x = 28, y = 8 -----x +y = 36
x = 36, y = 9 ------x+y = 45
x = 45, y =10 ----- x+y = 55

In [32]:
reduce(lambda x, y: x*y, lst)

3628800

In [34]:
reduce(lambda x, y: x if x>y else y, lst)

10

### Map vs Reduce

- Map() perform a specific operation on each element of the iterable seperately
- Reduce() perform the aggregation on all the element (not one by one seperately)

### Recursive function

- When a function calls itself then they are called recursive functions
- Once the process is initited, it will execute the code infinite times if we don't terminate the code

In [35]:
def recursive():
    code
    code
    recursive()

In [60]:
def password(pas):
    
    face_pas = 'ABC@123'
    
    if pas == face_pas:
        print('You have successfully logged in')
    else:
        print('Incorrect Password')
        password(input('Enter the Password: ')) # this is a function call which is calling the function itself

In [61]:
password(input('Enter the Password: '))

Enter the Password: makckqnsk
Incorrect Password
Enter the Password: jsdbfjkbsak
Incorrect Password
Enter the Password: asdjkbvksbvdkjbk
Incorrect Password
Enter the Password: hscvhsbdkbv
Incorrect Password
Enter the Password: ABC@123
You have successfully logged in

In [43]:
def factorial(n):
    '''Functionality: This function gives me the factorial of any number'''
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)

In [44]:
factorial(5)

120

In [ ]:
n = 5 ---- 5*24
n = 4 -----4 *6
n = 3 ----- 3*2
n = 2 ---- 2* 1
n = 1 ----- 1 *1
n = 0 -----1

In [ ]:
a = 0, b =1, c= a+b = 1
a = 1, b = 1, c = a+b = 2
a = 1, b = 2, c = a+vb = 3
a = 2, b = 3, c = a+b = 5,

In [ ]:
0,1,1,2,3,5,8,13,21

In [57]:
def fibbo(n):
    '''Functionality: It will give me the fibbonaci series till the given number element'''
    
    if n<=0:
        print ('Invalid Input')
    elif n == 1:
        return [0]
    elif n == 2:
        return [0,1]
    else:
        fib_series = fibbo(n-1) #[0,1,1]
        
        
    fib_series.append(fib_series[-1]+fib_series[-2])
    return fib_series

n = 5
result = fibbo(n)
result

[0, 1, 1, 2, 3]

In [54]:
n = 5 ---- fib_series = [0,1,1,2,3]
n = 4 ------ fib_series = [0,1,1,2]
n = 3 ----- fib_series = [0,1,1]
n = 2 ------ fib_Series = [0,1]

SyntaxError: cannot assign to expression (902357965.py, line 1)

### Function Properties

- Function aliasing
- A function can be passed as an argument to another function 
- A function definition can be written inside another function (nested function)
- A function can be called inside another function (recursive function)
- A function may return as a function

### Function aliasing

- Assigning a function to a variable is known as function aliasing
- Giving some other name to an existing function is knowns as function aliasing

In [1]:
def add(x,y):
    c = x+y
    return c

In [9]:
x = add # function aliasing

In [10]:
print(add, type(add))

<function add at 0x000002129E2FDC60> <class 'function'>

In [11]:
print(x, type(x))

<function add at 0x000002129E2FDC60> <class 'function'>

In [12]:
add(1,2)

3

In [13]:
x(1,2)

3

In [14]:
add(100,50)

150

In [15]:
x(100,50)

150

#### A function can be passed as an argumnet inside another function

In [30]:
def add(x,y):
    c = x+y
    return c

def sub(a,b):
    return a-b

def mul(a,b):
    return a*b

In [27]:
def squaring_of_num(func,a,b):
    '''Sqaure is going to call an existing function(add or sub)
        x and y are the parameter which the square function will pass to the existing function as an argument
        and it will first perform the function (add or sub) on the values of x and y 
        and then return the square of that function'''
    s = func(a,b) #----> add(1,2) ---->3
    print(s) #---->3 
    return s**2 #----> 9

In [29]:
squaring_of_num(add,5,4)

9

81

In [24]:
square(sub,9,7)

2

4

In [25]:
square(add, 100, 200)

300

90000

In [ ]:
def add(a,b):
    return a+b

def sq(x,y):
    s=add(x,y)
    return s**2

print(sq(1,2))

In [31]:
squaring_of_num(mul,9,7)

63

3969

#### A function can return another function

In [39]:
def outer():
    def inner():
        c = 'Hello guys'
        return c
    return inner()

In [40]:
s = outer()
print(s)

Hello guys

In [43]:
# function returning another function and a function defined in another function
def create_multipler(factor):
    def multiplier(x):
        return x*factor
    return multiplier

In [47]:
multiply_by_5 = create_multipler(7) # function aliasing

result = multiply_by_5(10)
print(result)

70

### Decorator

In [62]:
def handle_divide_by_zero(func):
    def wrapper(a,b):
        try:
            result = func(a,b)
            return result
        except Exception as e:
            print(e)
            
    return wrapper 
@handle_divide_by_zero
def divide(a,b):
    return a/b

result = divide(10,0)
print(result)

division by zero
None

In [ ]:
Compile type error(syntax) and run time error(exception)