## How to create a list

### Case - 1 

- When we already know the element

In [1]:
lst = [1,1.0,10+2j, True, 'mayank', [1,2,3]]
print(lst, type(lst))

[1, 1.0, (10+2j), True, 'mayank', [1, 2, 3]] <class 'list'>

Case -2 

- using list() 
- we always need an iterable that we are type casting
- list() take an iterable as an argument and returns a list
- Iterable - String, tuples, dictionary, set, frozenset

In [3]:
my_str = 'Python'
print(my_str, type(my_str))

Python <class 'str'>

In [4]:
lst = list(my_str)
print(lst, type(lst))

['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [5]:
t = (1,2,3,4,5,6)
print(t, type(t))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [6]:
lst_1 = list(t)
print(lst_1, type(lst_1))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [7]:
s = {1,2,3,4,5,6}
lst_2 = list(s)
print(lst_2, type(lst_2))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [8]:
d = {1:100, 2:200, 3:300, 4:400}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [9]:
lst = list(d)
print(lst, type(lst))

[1, 2, 3, 4] <class 'list'>

In [10]:
lst_1 = list(d.values())
print(lst_1, type(lst_1))

[100, 200, 300, 400] <class 'list'>

In [13]:
lst = list(d.items())
lst

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [14]:
lst = list(d, d.values())
lst

TypeError: list expected at most 1 argument, got 2

In [11]:
r = range(0,5)
lst = list(r)
print(lst, type(lst))

[0, 1, 2, 3, 4] <class 'list'>

### Case - 3

- By taking the input from the user

In [17]:
lst = list(input('Enter some values - '))
print(lst, type(lst))

Enter some values - 123456
['1', '2', '3', '4', '5', '6'] <class 'list'>

In [18]:
s = input('Enter a value - ')
lst = s.split()
print(lst, type(lst))

Enter a value - Hello Python
['Hello', 'Python'] <class 'list'>

In [19]:
s = input('Enter a value - ')
lst = s.split()
print(lst, type(lst))

Enter a value - 10 20 30 40 50
['10', '20', '30', '40', '50'] <class 'list'>

In [20]:
s = input('Enter a value with a comma - ')
lst = s.split(',')
print(lst, type(lst))

Enter a value with a comma - 10,20,30,40,mayank
['10', '20', '30', '40', 'mayank'] <class 'list'>

### Eval function()

- it evaluates the type of the value stored in a particular variable

In [22]:
a = eval('10')
print(a, type(a))

10 <class 'int'>

In [27]:
num = eval(input('Enter a number: '))
print(num, type(num))

Enter a number: 10.0
10.0 <class 'float'>

In [28]:
num = eval(input('Enter a number: '))
print(num, type(num))

Enter a number: 5+7j
(5+7j) <class 'complex'>

In [30]:
num = eval(input('Enter a string: '))
print(num, type(num))

Enter a string: 'mayank'
mayank <class 'str'>

In [31]:
num = eval(input('Enter a boolean value: '))
print(num, type(num))

Enter a boolean value: True
True <class 'bool'>

In [32]:
num = eval(input('Enter a None value: '))
print(num, type(num))

Enter a None value: None
None <class 'NoneType'>

### Case-4

#### List Comprehension

In [33]:
#Generate a list having elements from 1 to 50 in a conventional way 

a = [] # -------> creating an empty list

for i in range(1,51): # ----->iterating over the range from 1 to 50
    a.append(i)# -----> appending every element into the list
    
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [35]:
a = [i for i in range(1,51)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [36]:
# Even and odd list from a list already create 

Even_lst = []
Odd_lst = []

for i in a:
    if i % 2 == 0:
        Even_lst.append(i)
    else:
        Odd_lst.append(i)

print(Even_lst)
print(Odd_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [38]:
even_lst = [i for i in a if i % 2 == 0]
print(even_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [41]:
odd_lst = [i for i in a if i %2 != 0]
print(odd_lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [43]:
# generate a list of letter from A to Z using conventional method 

lst=[]
for i in range(65,91):
        lst.append(chr(i))
print(lst)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [44]:
lst=[]
for i in range(ord('A'), ord('Z')+1): #[65-91]
        lst.append(chr(i))
print(lst)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [51]:
# Generate the same code using list comprehension

lst = [chr(i) for i in range(ord('A'), ord('Z')+1)]
print(lst)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [48]:
alphabet_list = [chr(ord('A') + i) for i in range(26)]
print(alphabet_list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [54]:
#generate a list of number divisble by 2 and 5 both by conventional way and list comprehension

lst = []
for i in range(1, 100):
    if i%2==0 and i%5==0:
        lst.append(i)
print(lst)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [57]:
lst =[ i for i in range(1,100) if i%2==0 and i%5==0 ]

print(lst)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

### if else statement in list comprehension 

Syntax:

    [expression_true if condition_true else expression_false for i in range()]

In [58]:
# Create a list in which every even element is squared and every odd element is cubed 

val = []

for i in range(1,11):
    if i % 2 == 0:
        val.append(i**2)
    else:
        val.append(i**3)

print(val)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [60]:
#list comprehension

lst = [i**2 if i%2 ==0 else i**3 for i in range(1,11)]
lst

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

Advantages:--
    
    1. Readability
    2. Concise code 
    3. Improved Performance 
    4. Functional Programming
    5. Avoiding Side Effects

In [ ]:
Disadvanatage:--
    
    1. Limited to Simple Operation
    2. Nested Comprehsion
    3. Readability trade off 
    4. Debugging challenges