### Bitwise Right shift Operator (>>)

Steps for Bitwise Right Shift Operator:-

    - convert the number into a binary digit 
    - Express the binary didgit into a 32 bit format 
    - Remove the specified numbers of bits from right and add the same number of 0's on the left hand side 
    - convert it to number

In [5]:
45>>2

11

In [1]:
bin(45)

'0b101101'

In [ ]:
00000000000000000000000000001011

In [4]:
0b00000000000000000000000000001011

11

In [ ]:
1478>>6

In [6]:
bin(1478)

'0b10111000110'

In [7]:
len('00000000000000000000010111000110')

32

In [8]:
0b00000000000000000000000000010111

23

In [ ]:
Formula :-
    
    (num)//2**(number of bits)

In [9]:
45//2**(2)

11

In [10]:
1478//2**(6)

23

### Compounding Operator 

Type of Compounding Operator 

- += 
- -=
- *=
- /=
- //=
- %= 
- **=

In [11]:
z = 6

In [12]:
z += 1 #------> z = z+1
z

7

In [14]:
z = 6 
z -= 1  # z = z-1
print(z)

z = 6
z *= 2 # z= z*2
print(z)

z = 6
z /= 3 #z = z/3
print(z)

z = 6
z //= 3 # z = z//3
print(z)

z = 6
z %= 2 #z = z%2
print(z)


z = 6
z **= 4 #z = z**4
print(z)

5
12
2.0
2
0
1296

In [16]:
a = 12345
# Output = 54321
rev = 0
while a>0:
    b = a%10  # storing the value of the remainder in variable b  
    rev *= 10 #this step is increasing the unit place # rev = rev*10
    rev += b # remainder is added to the rev and is reassigned to the variable rev # rev = rev+b
    a //= 10 # a = 1234 #a = a//10
    print(rev)

5
54
543
5432
54321

### Ternary Operator

- It is called a ternary operator because it uses 3 operand or values in it 
- It is used to generate a result based on some condition

Syntax for Conditional Statement with 2 operands :-
    
    expression_1 if condition_is_true else expression_2
    
- When the if condition is True then expression_1 is the result 
- when the if condition is False then expression_2 is the result

In [21]:
a = int(input('Enter a number: '))

print('Even' if a%2==0 else 'Odd')

Enter a number: 100
Even

Syntax for Condition Statement with 3 Operands :-
    
    expression_1 if condition_1 else expression_2 if condition_2 else expression_3

- When the condition_1 is True then expression_1 is the result
- When the condition_1 is False then condition _2 is checked and if condition_2 is True, then expression_2 is the result
- When both the conditions are False then expression_3 is the result

In [23]:
a = 5
b = 30
c = 300

#find the maximum number among the three number 

print(a if a>b and a>c else b if b>a and b>c else c)

300

In [22]:
a = 5
b = 30
c = 300

if (a>b and a>c):
    print(a)
elif (b>a and b>c):
    print(b)
else:
    print(c)

300

In [ ]:
x = 10

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

In [26]:
x = 100
print('Positive' if x>0 else 'Zero' if x == 0 else 'Negative')

Positive

### Unary minus

In [27]:
n = 10
num = -n
print(num)

-10

### Precedence Of Different Operator 

- Paranthese ()
- Exponential **
- Unary minus (-), bitwise complement (~)
- Multiplication (*), Float Division (/), Floor Division (//), modulus (%)
- Addition (+), subtraction (-)
- Bitwise left shift (<<), bitwise right shift (>>)
- Bitwise And operator (&)
- Bitwise XOR operator (^)
- Bitwise OR operatoer (|)
- Comparision operator and eqaulity operator (>, >=, <, <=, ==, !=)
- Assignmnet Operator  (=), compounding operator (%=, /=, //=, -=, +=, *=, **=)
- Identity Operator (is, is not)
- Membership Operator (in, not in)
- Logical NOT
- Logical or
- Logical and

## Strings 

- Anything written inside single quotes ('....'), double quotes ("....."), single triple quotes ('''......''') or double triple quotes(""".......""")
- Though single triple quotes and Double Triple quotes are used generally to write the docstring (Documentational Strings) and also to write multiple line comments

In [28]:
a = 'Hello'
print(a, type(a))

Hello <class 'str'>

In [29]:
b = "Hello"
print(b, type(b))

Hello <class 'str'>

In [30]:
a = 'My name is Mayank Atul Ghai'
print(a, type(a))

My name is Mayank Atul Ghai <class 'str'>

In [31]:
b = "I am a Senior Data Analyst"
print(b, type(b))

I am a Senior Data Analyst <class 'str'>

In [32]:
c = '''Hello world
Welcome, to the python class by mayank'''
print(c, type(c))

Hello world
Welcome, to the python class by mayank <class 'str'>

In [33]:
d = """ We have done Operators and
Now we are doing Strings"""
print(d, type(d))

 We have done Operators and
Now we are doing Strings <class 'str'>

### Operations that we can do on Strings

- Length
- Concatination
- Repetitions 
- Indexing and Slicing (Important)

In [39]:
num=int(input("Enter your number:-"))
print(num, "is a Positive integer" if num>0 else "is Negative integer" if num<0 else "is Zero" )

Enter your number:--10
-10 is Negative integer