In [ ]:
- Logical Operators
- Comparison Operator 
- Equality Operator 

    - The answer is going to be either True(1) or False(0) , i.e. it is going to return a Boolean Value

In [ ]:
- Numerical Data type 
    - int : 0 is False else True
    - float: 0.0 is False else True 
    - complex : 0+0j is False else True 
        
- Sequential Datatype 
    - string : empty string ('' or "") is False else True
    - list : empty list ([]) is False else True 
    - Tuple: empty tuple (()) is False else True 
        
- Non sequential Datatype/Mapping Datatype 
    - dict : empty dict ({}) is False else True 
    - Frozenset : empty frozenset (frozrenset()) is False else True

In [6]:
a = {}
print(type(a))

<class 'dict'>

In [8]:
a = {1}
print(type(a))

<class 'set'>

In [7]:
a = {1,}
print(type(a))

<class 'set'>

#### We cannot define with the help of conventional way an empty set thats why i ahave to typecast some other datatype (empty datatype) to a set to get an empty set

In [9]:
a =set('')
type(a)

set

In [10]:
a

set()

### Logical Operator 

- These operators are used to perform logical operations on the value 
- They are going to return a boolean value (True or False)

    - and
    - or 
    - not

#### and logical operator 

- and operator looks for False, as soon as it gets false, it will return your false 

    - if there is no false then it will return me True 
    - if two false appear in a statement, it will return me the first false in the statement
    - if two True appear in  a statement, it will return me the second True statement

In [11]:
print(True and False)

False

In [12]:
print(False and True)

False

In [13]:
print(True and True)

True

In [14]:
print(False and False)

False

In [16]:
'' and []

''

In [17]:
'' and [1,2,3]

''

In [18]:
'mayank' and ()

()

In [19]:
'mayank' and ['python']

['python']

In [ ]:
# And logical gate works like this 
0  0 ----0
1  0 ----0
0  1 ----0
1  1 ----1

In [21]:
bool(1)

True

In [22]:
bool(0)

False

In [25]:
print(0 and '')

0

In [23]:
bool(0)

False

In [24]:
bool('')

False

In [27]:
print('0+0j' and (2,3))

(2, 3)

In [26]:
bool('0+0j')

True

In [28]:
bool('False')

True

In [29]:
a = '0+0j'
print(type(a))

<class 'str'>

### or Logical Operator 

- It is going to look for True, as soon as it will get it, it is going to return True statemnet
- if no True is there, it will return me False
- if both are True, then it will return me the first True 
- if both are False, then it will return me the second False

In [ ]:
# OR logical gate 

0 0 -----0
1 0 -----1
0 1 -----1
1 1 -----1

In [31]:
print(False or True)

True

In [33]:
print(True or False)

True

In [34]:
print(True or True)

True

In [35]:
print(False or False)

False

In [36]:
print('Mayank' or [])

Mayank

In [37]:
print('' or [1,2,3])

[1, 2, 3]

In [39]:
print([1,2,3] or (1,2,3))

[1, 2, 3]

In [40]:
print('' or [])

[]

#### Not (Unary Operator)

- it is called unary because we are going to use only one operand
- it will return the opposite of the passed operand

In [41]:
print(not True)

False

In [42]:
print(not False)

True

In [43]:
print(not 10)

False

In [44]:
print(not '')

True

In [47]:
print(not True and False)

False

### Comparison Operator

- it is used to compare two value 
- it will return me a boolean value (True or False)

In [ ]:
< -------less than
> ------ greater than
<= ------ less than equal to --- It will be true if some value is less than the other or equal to it else False
>= ----- greater than equal to  ----- It will be True if some value is greater than the other or equal to it else False

In [48]:
print(10>50)

False

In [49]:
print(10<50)

True

In [50]:
print(2.6>6.8)

False

In [51]:
print(-2.6>-1.8)

False

ASCII

In [54]:
print('A'>'a')

False

In [52]:
ord('A')

65

In [53]:
ord('a')

97

In [56]:
chr(65)

'A'

In [57]:
print('A'>=65)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [58]:
print(ord('A')>=65)

True

#### The following example is an exception, community is still working over it, never use typecasted values in comparison operator

In [63]:
print('A'>str(65))

True

In [62]:
a = 65
print(str(65))

65

In [65]:
ord(str(65))

TypeError: ord() expected a character, but string of length 2 found

In [66]:
True>True ----- 1>1

False

In [67]:
False>False

False

In [68]:
True<True

False

In [69]:
False<False

False

In [70]:
True>=True  ----1 >= 1

True

In [71]:
False<= False

True

In [72]:
bool('A')

True

In [74]:
bool(str(65))

True

In [75]:
print('A'>str(65))

True

In [76]:
'A'>str(65)

True

In [79]:
a = str(65)
bool(a)

True

In [80]:
a = 'A'
b = str(65)
print(a>b)

True

In [81]:
a = 'Mayank'
b = 'Mayank Atul Ghai'

len(a)>len(b)

False

#### Equality Operator 

- this is a comparison operator also 
- this also returns the boolean value 
- this is going to check that whether two values are equal to each other or not

  - == (equal to equal to) ---- it checks that whether two value are equal, if they are equal it will return True else False
  - != (not eqaul to) ---- it checks that whether two value are not equal to each other, if they are nt equal it will return a True else a False

In [83]:
a = 10
b = 20

print(a == b)

False

In [85]:
a = 'mayank'
b = "mayank"

print(a == b)

True

In [86]:
a = 20
b = 30

print(a=b)

TypeError: 'a' is an invalid keyword argument for print()

### Assignmnet Operator 

- it is used to assign a value to a particular variable

In [87]:
a = 10
b = 20
c = 30

In [88]:
print(a,b,c)

10 20 30

### Membership Operator 

- these operators check whether a value is a part of a container type or not 
- it is going to return a boolean value 
- ity checks the container element by element and return True as soon as the value is found

Container Datatype -----> String, list , tuple , dictionary, set, frozenset

- in (if teh value is in the container datatype it will return a True else False)
- not in (if teh value is not in the container datatype it will return a True else False)

In [89]:
a = "Mayank Ghai" #------'m'+'a'+'y'+'a'+'n'+'k'+' '+'g'+'h'+'a'+'i'
print('k' in a)

True

In [90]:
print('u' in a)

False

In [91]:
lst = [1,2,3,4,5,6,7]
print(8 in lst)

False

In [93]:
lst = ['Apple', 'Boy', 'Cat']
print('cat' in lst)

False

In [94]:
print('cat' not in lst)

True

#### Identity Operator 

- it is used to check whether two values are having the same memory location (or address) or not
- it compares the memory address of the value, they donot compare the values 
- it also returns boolean value 

    - is 
    - not is