# Data type - Lists

In [ ]:
# Lists are probably the most commonly used of the derived data types. They allow one to store a collection of elements
# in a sequential manner and perform a host of operations on the elements as well as on other lists. They are one of the
# most versatile datatypes.

# Arrays also allow one to store many datatypes and perform operations on the elements in them. However, arrays limit one
# to store only one datatype in them. The operations are faster in arrays and if we know that we will only be saving one
# type of data in the object in a structured manner - arrays might be the way to go. But more on arrays later. 

# Lists have the following properties:

#1. They are a derived datatype.
#2. They are sequential and ordered i.e. stored in the order of input (insertion of element not withstanding).
#3. Lists themselves are mutable i.e. the elements inside a list can be changed.
#4. They allow mutable (and immutable) elements to be stored in them. e.g. we can store a set or dictionary (and even another list) in a
# list.
#5. They allow nesting i.e. a list in another list.
#6. They allow indexing and slicing, item assignment - Subscription.
#7. They are iterable i.e. one can go through each element in a list and perform an operation on each element.

In [ ]:
#Initialising lists

x = [1,2,3,4,5]

print(x)
print(type(x))
print(id(x))

#To initialise a list, simply enclose the elements of the list in square brackets.

In [ ]:
xx = []


print(xx)
print(type(xx))
print(id(xx))
#Empty square brackets can be used to initialise an empty list.

In [ ]:
#When would we need an empty list? When we know that we shall be filling the list object with elements and would like to
# be able to perform list operations on that object.

# For e.g.I have certain values and would like to multiply each one by 2 before appending it to the list. We can use the
# append function to do so. (We whall discuss in detail about the append function a bit later)

xx.append([1,2,3,4])

print(xx)
print(id(xx))

In [ ]:
print(dir(str))

In [ ]:
print(dir(list))

In [ ]:
# Properties of lists 

#1. Derived datatype
#2. Mutable
#3. Supports subscription(indexing, slicing, index & slice assignment)
#4. Nested lists are possible
#5. Iterable
#6. Most flexible and one of the most used datatypes
#7. Ordered - means the input / output order is maintained. 

# Initialise lists with a square bracket around the elements
# OR
# using list function - which takes only ONE ITERABLE as its argument

In [ ]:
#If I had not initialised the list object - I would not have been able to append. And also, if I had initialised a different
# datatype.

xx.append(2*10)

print(xx)

In [ ]:
#We could also initialise a list by calling list() constructor on an iterable object. This is optional. Calling list without
#any parameters initialises an empty list. 

x = list()
print(x)
print(type(x))

In [ ]:
x = (1,2,3,4)
print(type(x))
print(x)

In [ ]:
str1 = 'Rajesh'

for x in str1:
    print(x)

In [ ]:
lst1 = [1,2,3,4]

for x in lst1:
    print(x)

In [ ]:
range1 = range(10)

for x in range1:
    print(x)

In [ ]:
lst1 = [1,2,3,4]

print(lst1)

In [ ]:
lst1.append(5)

In [ ]:
print(lst1)

In [ ]:
lstappend = lst1.append(6)

print(lst1)
print(lstappend)

#Clue - append has no return keyword.

In [ ]:
lst1 = [1,2,3,4]

In [ ]:
def lst_append(lst, toappend):
    lst += [toappend]
    return lst

In [ ]:
lst_append(lst1,5)

print(lst1)

In [ ]:
lstX = lst_append(lst1,5)

print(lstX, id(lstX))
print(lst1, id(lst1))

In [ ]:
y = list([1,2,3,4,5,6])

print(y)
print(type(y))

In [ ]:
xwbrackets = [100, (1,2,3,4), 'a']

xwfunction = list((1,2,3,4))

print(xwbrackets)
print(xwfunction)

print(len(xwbrackets))
print(len(xwfunction))

In [ ]:
y = [x]

print(y)
print(type(y))

In [ ]:
print(y[0])
print(type(y[0]))

In [ ]:
a = list(('abcde',))

print(a)

In [ ]:
tup1 = 1,2,3,'a',['XYZ', 2+3j]

print(tup1)
print(type(tup1))

In [ ]:
lst1x = list(tup1)

print(lst1x)

In [ ]:
print(tup1)
print(type(tup1))

In [ ]:
#creating our own list function. How the list function is probably working in the backend

In [ ]:
def list_funct(x):
    lst1 = []
    for i in x:
        lst1 = lst1 + [i]
    return lst1


z = list_funct(tup1)


print(z)

In [ ]:
b = ['abcde']

print(b)
print(type(b))

In [ ]:
a = 'abcde'
b = [a]
print(b)

In [ ]:
b = list('abcde')

print(b)

In [ ]:
lst = [1,2,3,4,5]

print(lst[2])

In [ ]:
lst = [1,2,3,[10,20,30, list('abcde')], (100,200), 'xyz', 2+3j, None, True]

print(lst)

In [ ]:
print(lst[2])

In [ ]:
print(lst[-3])

In [ ]:
print(lst[3])

In [ ]:
print(lst[3][3][3])

In [ ]:
print(lst[3])

In [ ]:
print(lst)

In [ ]:
print(lst[2:-3][2])

In [ ]:
print(lst[4][1])

In [ ]:
print(lst[3:])

In [ ]:
print(lst[3][3][4])

In [ ]:
print(lst)

In [ ]:
print(lst[3][3][::-1])

In [ ]:
x = ['abcde', 'fghij']

print(x)

In [ ]:
y = list((1,2,3,4))

print(y)

In [ ]:
lst1 = [[1,20,13,4],['aagag','qgagasd','agagj','dafh']]

lst1[0] = sorted(lst1[0], reverse=True)
lst1[1] = sorted(lst1[1], key = len)
print(lst1)

In [1]:
lst1 = list(range(10,100,10))

print(lst1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
lst1[5:0:-1]

In [2]:
lst1[4]=500

print(lst1)

[10, 20, 30, 40, 500, 60, 70, 80, 90]

In [ ]:
# For list item assignment by slice = the items being replaced do not have to equal the length of the items replacing them.

In [3]:
lst1[1:3] = 100,200

In [4]:
print(lst1)

[10, 100, 200, 40, 500, 60, 70, 80, 90]

In [ ]:
#1. The assigned value on list slice assignment HAS TO BE an iterable. 
#2. The elements being replaced do not have to have the same length as elements replacing them.

In [7]:
lst1[3:6] = 1000,

In [8]:
print(lst1)

[10, 100, 200, 1000, 70, 80, 90]

In [ ]:
lst[0] = 'Python'

print(lst)

In [ ]:
print(lst[0][3])

In [ ]:
lst[0][3] = 'I'

In [ ]:
print(y)

y.append(100)
print(y)

In [ ]:
y[0][1] = 20

print(y)

In [ ]:
lst1 = ['a', 'bcde']

In [ ]:
#Note here how when simply enclosing the different datatype in square brackets put the variable as ONE element in the list.

In [ ]:
lst1 = [1,2,3,4]

In [ ]:
lst1 = ['abcde']
lst2 = list('abcde')

print(lst1)
print(lst2)

In [ ]:
z = {1:100, 2:200, 'a':33, None:True}
print(type(z))

In [ ]:
zz = list(z)

print(zz)
print(type(zz))

#Do note how the list has only taken the keys of the dictionary as its elements.

In [ ]:
for i in z:
    print(i)

In [ ]:
for i in z.values():
    print(i)

In [ ]:
print(z.values())

In [ ]:
print(zz[0])

In [ ]:
x = 1,2,3,4
print(type(x))

In [ ]:
zzz = [x]

print(zzz)
print(type(zzz))
print(type(zzz[0]))

In [ ]:
print(zzz[0])

In [ ]:
print(zzz[0][2])

In [ ]:
print(zz)

In [ ]:
lst1 = [1,2,3,4]

In [ ]:
lst1.append(5)

print(lst1)

In [ ]:
lst1.append([6,7])

In [ ]:
print(lst1)

In [ ]:
zzz.append(zz)
print(zzz)

In [ ]:
print(z)

In [ ]:
zzz.append(z)

In [ ]:
print(zzz)

In [ ]:
zzz.append(['one', 'two', 'three'])
print(zzz)

print(len(zzz))

In [ ]:
#In short, please remember this difference while trying to create lists - do you want to change the datatype of a sequential
# object or just put that iterable itself in a list.

In [ ]:
lst1 = ['abcde']

lst2 = list('abcde')

In [ ]:
print(lst1)

In [ ]:
print(lst2)

In [ ]:
x = []

a = [1,2,3,4]
b = list('abcde')
c = ('one', 'two','three')
d = {'A':100, 'B':200}

In [ ]:
x.append(2*100)

print(x)

In [ ]:
x.append(a)
print(x)

In [ ]:
x.append(b)
print(x)

In [ ]:
x.append(c)
print(x)

In [ ]:
x.append(d)
print(x)

In [ ]:
print(len(x))

In [ ]:
s = ['abc']

print(s)

In [ ]:
ss = list('abc')

print(ss)

In [ ]:
#Same thing happened here. Since string is also sequential, in the first example, a list was initialised with one element, 
# the object 'abc'. The second time when we called the list constructor - the list understood that each individual object
# of the 'abc' object was to be put in a list.

In [ ]:
#Indexing and slicing can be performed on a list and works exactly as indexing and slicing of other sequential objects. 
# We have already seen this in the string datatype.

lst1 = list(range(3,11))

print(lst1)

In [ ]:
print(lst1[2])

In [ ]:
# A list is a mutable datatype. We can hold mutable datatypes in a list.

orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ['Amar','Akbar','Anthony'], {'Ironman', 'Krish'}]
print(orig)

In [ ]:
# Getting object at index no. 4

idx1 = orig[4]
print(idx1)
print(type(idx1))

In [ ]:
# Getting object at 1st index of object at index no. 4
idx2 = orig[4][1]
print(idx2)

In [ ]:
idx3 = orig[2][3]
print(idx3)

In [ ]:
orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ('Amar','Akbar','Anthony'), {'Ironman', 'Krish'}]

#Getting object at 2nd index of object at 1st index of object at 4th index of original list object

idx4 = orig[4][1][2]

In [ ]:
print(idx4)

In [ ]:
lst1 = [1,2,3,[4,5]]

print(lst1)

In [ ]:
print(len(lst1))

In [ ]:
lst1[3][0]

In [ ]:
#Nested lists. Since list is a mutable datatype and can itself hold mutable datatypes - it goes to show that lists can
#hold lists. 

lst = [1,2,3,4,5,[6,7,[8,9,10], 11, 12, [14,[21,22],27]],100,111]
       
print(lst)

In [ ]:
print(lst[5])

In [ ]:
print(lst[-1])

In [ ]:
print(lst[5][5])

In [ ]:
print(lst[5][5][1])

In [ ]:
print(lst[5][5][1][0])

In [9]:
#Slicing on lists

orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ('Amar','Akbar','Anthony'), {'Ironman', 'Krish'}]

slc1 = orig[:]
print(slc1)

[1, 1000, 'Python', {'a': 1, 2: 200}, ('Amar', 'Akbar', 'Anthony'), {'Ironman', 'Krish'}]

In [12]:
x = orig[0]

print(x)
print(type(x))

1
<class 'int'>

In [ ]:
slc2 = orig[::2]
print(slc2)

In [ ]:
slc3 = orig[:5:3]
print(slc3)

print(type(slc3))

In [ ]:
print(type(slc3))

In [ ]:
str1 = 'Hello there'

str2 = str1[:5]

print(type(str2))

In [ ]:
x = range(20)

print(x)
print(type(x))

y = x[:10]

print(y)
print(type(y))

In [ ]:
str = slice output will be str
list = slice output will be list
tuple = slice output will be tuple
range = slice output will be range

In [ ]:
x = range(10)

y = x[2:5]

print(x)
print(type(x))
print(y)
print(type(y))

In [ ]:
#As you can see - slicing a list outputs a list object.

In [ ]:
z = list(range(10))
print(z)
print(type(z))

In [ ]:
zz = z[:6]

print(type(zz))

In [ ]:
x = list(range(10))

y = x[:5]

print(y)

print(type(y))

In [ ]:
print(orig)

In [ ]:
z = orig[0:3]
print(z)
print(type(z))

In [ ]:
#As usual the concepts of negative indexing remain the same. 

lst_alpha = list('abcdefghij')
print(lst_alpha)

In [ ]:
lst_alpha_rev = lst_alpha[::-1]
print(lst_alpha_rev)

In [ ]:
x = 'malAyalam'

In [ ]:
x2 = x[::-1]

print(x2)

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = []
for x in lst1:
    if x%2==1:
        lst2.append(x)

In [ ]:
print(lst2)

In [ ]:
if x == x[::-1]:
    print('True')

In [ ]:
print(lst_alpha)

In [ ]:
lst_alpha_rev2 = lst_alpha[-5:-2]
print(lst_alpha_rev2)

In [ ]:
print(lst_alpha)

In [ ]:
print(lst_alpha[-1:-11:-1])

In [ ]:
print(lst_alpha)

In [ ]:
lst_alpha_rev3 = lst_alpha[-2:-5:-1]
print(lst_alpha_rev3)

In [ ]:
lst_alpha_rev4 = lst_alpha[-2:-5:-1]
print(lst_alpha_rev4)

In [ ]:
print(lst)

In [ ]:
lst = list(range(1,11))

print(lst)

In [ ]:
lst[2] = 33

print(lst)

In [ ]:
str1 = 'abcdefghij'

print(str1[4])

In [ ]:
str2 = str1[:4]+'E'+str1[5:]

print(str2)

print(id(str1))
print(id(str2))

In [ ]:
lst1 = list(range(10))

print(lst1)

In [ ]:
lst1[4] = 400

print(lst1)

In [ ]:
x = 11,

print(x)
print(type(x))

In [ ]:
lst1 = list(range(10))
print(lst1)
print(id(lst1))

In [ ]:
lst1[4] = 400

print(lst1)

In [ ]:
x = list(range(21,25))

print(x)

In [ ]:
print(lst1)

In [ ]:
lst1[2:6] = [21,31,41,51]

print(lst1)
print(id(lst1))

In [ ]:
lst1 = list(range(10))

In [ ]:
print(lst1)

In [ ]:
lst2 = list(range(20))

print(lst2)

In [ ]:
lst1[2:6] = [100]
print(lst1)

In [ ]:
lst1[2:6] = [11,15,201,113,1000]

print(lst1)

In [ ]:
print(lst)

In [ ]:
#Slicing and item assignment can be performed together. 

lst[2:] = 11,12

print(lst)

In [ ]:
lst[2:6] = 11,12

print(lst)

In [ ]:
#Note how while slicing we picked up 4 elements but only assigned two new elements? Basically, we told Python to pick up
# a certain slice of the list and reassign the values based on what we are giving it - irrespecitive of if the number of
# elements match. 

lst[2:4] = 54,56,58,60
print(lst)

print(len(lst))

In [ ]:
lst[2:4] = list(range(53,58))
print(lst)
print(len(lst))
#[1,2,53,54,55,56,57,58,60,100,111]

In [ ]:
z = list('hetoxyzab')

In [ ]:
lst1 = list(range(10))

print(lst1)
print(id(lst1))

In [ ]:
lst1[1] = 1001

print(lst1)

In [ ]:
print(id(lst1))

In [ ]:
#Iteration over a list. 
print(z)

In [ ]:
for x in z:
    print(x)

In [ ]:
lst1 = [0,1,2,3,4,5]

for x in lst1:
    print(x*2)

In [ ]:
lst1 = list(range(5))

print(lst1)

In [ ]:
str1 = 'abcde'*5

print(str1)

In [ ]:
lst = [3,6,11,14,7,4]

for x in lst:
    print(x+10)

In [ ]:
lst2 = []

for x in lst:
    lst2.append(x+10)
    
print(lst2)

In [ ]:
for i in range(len(lst)):
    lst[i] = lst[i]+10
    
print(lst)

In [ ]:
str1 = 'peter pan was a naughty elf'
str2 = ""
for i in range(len(str1)):
    if i == 0 or str1[i-1] == ' ':
        str2 += str1[i].upper()
    else:
        str2 += str1[i]
               
print(str2)

In [ ]:
x = str1.split()

print(x)

In [ ]:
for i in x:

In [ ]:
lst1 = list(range(5))

print(lst1)

In [ ]:
lst2 = lst1*5

print(lst2)

In [ ]:
lst1 = list('abcde')

print(lst1)

In [ ]:
lst2 = list('fghij')

print(lst2)

In [ ]:
str1 = 'abcde'+'fghij'

print(str1)

In [ ]:
# concatenation can be performed by using the overloaded + operator. 

# Can only be used between same datatype
# str + str,
# list + list
# tuple + tuple
# set + set

In [13]:
str1 = 'abc'+'def'

print(str1)

abcdef

In [22]:
#Concatenation of lists

orig_1 = ['a','b','c','d']
orig_2 = ['e', 'f', 'g', 'h']

lst3 = orig_1 + orig_2

print(orig_1)
print(orig_2)
print(lst3)

['a', 'b', 'c', 'd']
['e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [15]:
x = 100 + 3.4

print(x)

103.4

In [ ]:
+, -, *, / - Overloaded operators will not work between datatypes

In [17]:
tup2 = tuple(orig_2)

print(tup2)

('e', 'f', 'g', 'h')

In [18]:
lst4 = orig_1 + tup2

print(lst4)

TypeError: can only concatenate list (not "tuple") to list

In [19]:
lstsub = orig_1 - orig_2

print(lstsub)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [23]:
print(orig_1)

['a', 'b', 'c', 'd']

In [25]:
str1 = 'abc'

str2 = str1*3

print(str2)

abcabcabc

In [26]:
lstmulti = orig_1*3

print(lstmulti)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [27]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
orig_tup = tuple(orig_2)

print(orig_tup)
print(type(orig_tup))

In [ ]:
lst4 = orig_1 + orig_tup

In [ ]:
lst3 = ['a','b','c','d'] + ['e', 'f', 'g', 'h']

print(lst3)

In [ ]:
lst4 = ['a', 'b', 'c', 'd'] + list('efgh')

print(lst4)

In [ ]:
+, -, ^,&,|,/,//,%  = except for between integer and float - you will never be able to use them between datatypes.

In [ ]:
lst1 = [1,2,3,4,5] + (6,)

print(lst1)

In [28]:
lst5 = ['a','b','c','d'] + list('efgh')

print(lst5)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [34]:
lst5.append(['d','e'])

print(lst5)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', ['d', 'e']]

In [29]:
#Membership operations on a list

print('d' in lst5)

True

In [30]:
print('z' in lst5)

False

In [31]:
print('d' not in lst5)

False

In [32]:
print('z' not in lst5)

True

In [ ]:
print(lst5)

In [35]:
print(['d','e']in lst5)

True

In [ ]:
print(lst5)

In [ ]:
lst5.append(['d','e'])

print(lst5)

In [ ]:
print(['d','e'] in lst5)

In [ ]:
lst5.append(['d','e'])

print(lst5)

In [ ]:
print('d','e' in lst5)

In [ ]:
print(['d','e'] not in lst5)

In [ ]:
lst6 = ['a', 'b', 'c', ['d', 'e'], 'f', 'g']

print(['d', 'e'] in lst6)

In [ ]:
print('d','e' in lst5)

#Note here how though it takes two elements as the elements to search - it actually throws an unexpected output. 

#For all practical purposes, please assume that the in operator takes only one element to be searched at a time.

In [ ]:
print(lst5)

In [ ]:
if('z' in lst5):
    print('True')
else:
    print('False')

In [ ]:
lst1 = list(range(10))

In [43]:
lst1 = [1,2,3,4,5, 70,32, 1.23]

In [ ]:
print(100 in lst1)

In [ ]:
print([100,200] in lst1)

In [44]:
#Length function on lists. As with any other derived datatype - the length function returns the length of the object<in this
#case the list. 

print(lst1)
print(len(lst1))
print(max(lst1))
print(min(lst1))

[1, 2, 3, 4, 5, 70, 32, 1.23]
8
70
1

In [46]:
lstalpha = list('agjAglkjgxy')


print(max(lstalpha))
print(min(lstalpha))

y
A

In [ ]:
print(f'List is. {lst1}. \nIts length is {len(lst1)}')

In [ ]:
print(f'List is. {lst3}. \nIts length is {len(lst3)}')

In [ ]:
print(f'List is. {lst4}. \nIts length is {len(lst4)}')

In [ ]:
print(f'List is. {lst5}. \nIts length is {len(lst5)}')

In [ ]:
# One of the most common functions used with lists is the append function which adds exactly 1 object to the end of the
# list. 

print(lst5)

In [ ]:
lst5 = list('abcdefgh')

In [ ]:
lst5.append('i')

print(lst5)

#It takes exactly one parameter - an object of any datatype to add to the end of the list. Any more (or less) objects than 
#1 will throw an error.

In [ ]:
lst6 = lst5.append('j')

print(lst5)
print(lst6)

In [ ]:
# 1 Both lists will have j appended
#2 lst 5 will remain unchanged lst6 will have 'j' appended
3 lst 5 will have 'j' appended lst 6 will have none
#4 No change to either

In [ ]:
def lst_append(lst, obj):
    lst = lst + [obj]
    
    
lst1 = [1,2,3,4]

lst_append(lst1, 'xyz')

print(lst1)

In [ ]:
print(lst_append(lst1,'abc'))
print(lst1)

In [52]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]



lst1.extend(lst2)


print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
lst3 = [10,20,30]


lst4 = lst1 + lst3

print(lst4)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 20, 30]

In [48]:
lst1.append(lst2)

print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [ ]:
#1. Extend modifies the original list. Concatenation gives us a new list as an output and if required for further processing
# the new list must be saved to variable. 
#2. Concatenate works only between same datatype (in this case - lists). Extend allows you to extend using any iterables 
# elements

In [49]:
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [50]:
tup1 = 10,20,30


print(tup1, type(tup1))

(10, 20, 30) <class 'tuple'>

In [51]:
lst1.extend(tup1)

print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8], 10, 20, 30]

In [ ]:
lst2 = list(range(5))
print(lst2)

lst_append(lst2, 1000)

print(lst2)

In [ ]:
y = lst_append(lst1, 'Rinkey')


print(y)
print(lst1)

In [54]:
lst5 = list('abcde')

print(lst5)

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst5.append(['I','J'])
print(lst5)

In [55]:
lst5.append('ij')
print(lst5)

#1. Individual elements
#2. IJ - combined as one element will be appended.

['a', 'b', 'c', 'd', 'e', 'ij']

In [ ]:
lst5.append(('i', 'j'))
print(lst5)

In [ ]:
#lst5.append('i')

In [ ]:
def append_to_list(x, y):
    x += [y]

In [ ]:
lst1 = [1,2,3,4]
#append_to_list(lst1, 4)

print(lst1)

In [ ]:
lst2 = append_to_list(lst1,5)
# append(5)
print(lst2)
print(lst1)

In [ ]:
lst5 = list('abcde')

print(lst5)

In [ ]:
def hello():
    print('hello')

In [ ]:
def hello1():
    return 'hello'

In [ ]:
x = hello()

In [ ]:
print(x)

In [ ]:
y = hello1()

In [ ]:
print(y)

In [ ]:
lst5 = list('abcde')

print(lst5)

In [ ]:
lst6 = lst5.append('f')

print(lst6)

In [ ]:
print(lst5)

In [ ]:
print('Python')

In [ ]:
x = print('Python')

print(x)

In [ ]:
print(lst5)

In [ ]:
#Append method modifies the ORIGINAL list and doesnt return anything. 


x = []

for i in range(5):
    x.append(i)   
    
print(x)

In [ ]:
lst1 = list(range(10))

print(lst1)

In [ ]:
def funct1():
    return 'Hello'

In [ ]:
x = funct1()

print(x)

In [ ]:
def funct2():
    print('Hello')

In [ ]:
y = funct2()

print(y)

In [ ]:
lst2 = lst1.append(10)

print('list2 :', lst2)

print('list1 :', lst1)

In [ ]:
print(lst2 == lst1)

In [ ]:
x = [1,2,3,4]
y = x + [5,6,7,8]
print(y)

In [ ]:
a = id(y)

print(a)

In [ ]:
y += [9,10]
b = id(y)
print(y)

In [ ]:
print(a, b)

In [ ]:
lst6 = lst5.append('Try this out')

print(lst6)
print(lst5)

In [ ]:
#If you recall, while performing operations like strip, center, rjust etc on string - the methods would return NEW string
# objects. But in lists we CAN modifiy the original list. Why is this so?

##### Because Strings are immutable datatypes while lists are mutable.

In [ ]:
#Before we move on to more methods which can be performded on the list datatype, I would like to illustrate 1 neat trick
# and 1 special syntax for use with lists(and some other derived datatypes)

In [ ]:
#A neat trick which is very commonly used is to use a range function to get the index numbers of the items in a list.

#If you recall, the range object returns a range <object> with numbers in a sequence with specified parameters. 
#We also know that lists support indexing. 
#And that lists and range both support iteration.

#We can use this to get the index numbers of each element inside a list. 

lst1 = list('abcdefghij')
print(lst1)

In [ ]:
for element in lst1:
    print(element)

In [ ]:
#However, if I only wanted the index numbers of each of the elements in the lst1?

for indexno in range(10):  #Here length of lst1 is 10
    print(indexno)

In [ ]:
# We could simplify this, since we have learnt that length function returns the length of a list

for indexno in range(len(lst1)):
    print(indexno)

In [ ]:
# And since we know that indexing works on lists, to get each element of the lst1 I could use indexing to get the element
# at that position. 
print(lst1)

In [ ]:
for i in range(len(lst1)):
    print(lst1[i])

In [ ]:
# But why go in a round about way to get the element at a certain position of a list?
# Sometimes we need to work on an element in a list(or any other sequential datatype) based on their position in the list.

lst1 = [17,20, 30, 11]

#Add 1 to every element in lst1 and print it.

In [ ]:
for i in lst1:
    print(i+1)

In [ ]:
lst2 = []

for i in lst1:
    lst2.append(i+1)
    
print(lst2)

In [ ]:
print(lst1)

In [ ]:
for i in range(len(lst1)):
    lst1[i] = lst1[i]+1
    
    
print(lst1)

In [ ]:
for elem in lst1:
    print(elem+1)
    
#Great! Problem solved.

In [ ]:
#Add 1 to every 2ND element in lst1.

lst1 = [17,20, 30, 11]

In [ ]:
for elem in range(1,len(lst1),2):
    print(f'Index number we are working on {elem}.')
    print(f'Original value of element at that index position. {lst1[elem]}.')
    print(f'New output = {lst1[elem]+1}.\n-----------------------------')

In [ ]:
print(lst1)

In [ ]:
# Add 1 to the elements in lst 1 using a for loop. You can use a new list. Fairly easy?

lst2 = []

for x in lst1:
    lst2.append(x+1)

print(lst2)

In [ ]:
for x in lst1:
    lst1[x] += 1
    
print(lst1)

In [ ]:
# Now lets try the same thing. But we cannot use a new list. 

lst1 = [17,20, 30, 11]

for x in lst1:
    lst1.append(x+1)
    
print(lst1)

In [ ]:
#Note how this throws us into an infinite loop? Every time we append an item to lst1 - the length of list 1 grows and the
#for loop continues to have to add 1 to the new elements created. So, thats out!

In [ ]:
# #How about if we try to change the value of the elements of lst1 in place? Try to reassign the value?

lst1 = [17,20, 30, 11]

for x in lst1:
    x += 1
    print(x)
print(lst1)

#Oops! We did update new values to temporary variable x, but that did us no good - we could not assign that value to 
# the list we were running the for loop on. But if we were to assign the new value of x to the index position of lst1
# that would solve our problem right?

In [ ]:
#We could individually assign the values of the list based on their index position. 

lst1[0] += 1
lst1[1] += 1
lst1[2] += 1
lst1[3] += 1

print(lst1)

In [ ]:
#However using the concept of index positions, item assigment(since list is mutable) and the range function, we are able
# to accomplish this easily.

lst1 = [17,20,30,11]


for x in range(len(lst1)):
    lst1[x] += 1
    
print(lst1)

In [ ]:
# So, important takeaways from this excercise of using range functions with lists:

# 1. We can use the range function to act as a proxy for the index numbers of a list.

### PLEASE PLEASE understand that the range function is NOT a function that returns the index numbers of a list. What it 
# returns is a range of numbers(elements) between specified parameters. We then use this range object as a proxy for 
# index numbers of a list. There is a distinction between these two and it has taken me hours with individual
# students making them unlearn and relearn their understanding of this idea. 

# 2. We can use the index numbers of a list, when we cannot (or do not want to) work on the elements of a list directly,
# but need to perform operations on their index positions.

In [ ]:
str1 = 'sept 23rd batch is a great batch'

str2 = ''

In [ ]:
for i in range(len(str1)):
    if str1[i-1] == ' ' or i == 0:
        str2 = str2 + str1[i].upper()
    else:
        str2 = str2 + str1[i]
        
print(str2)

In [ ]:
print(str2)

In [ ]:
for x in range(len(str1)):
    if str1[x-1] == " ":
        str2 += str1[x].upper()
    else:
        str2 += str1[x]
print(str2)

In [ ]:
# A cool syntax to use with lists is called list comprehension. It is short form of a for loop with lists. 
print(lst1)

In [ ]:
lst1 = [1,2,3,4]

lst2 = []

for x in lst1:
    lst2.append(x+1)
    
print(lst2)

In [ ]:
lst3 = [x+1 for x in lst1]

print(lst3)

In [ ]:
lst_alpha = list('abcdefghij')

lst4 = [x*3 for x in lst_alpha]

print(lst4)
print(type(lst4))

In [ ]:
lst1 = list('abcdefghijklmnopqrstuvwxyz')
lst2 = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')


print(lst1)
print(lst2)

In [ ]:
if both if - else are there in a list comprehension the syntax is if and else both should come before the for loop. 

if ONLY if condition is there in a list comprehension the syntax is if will come after the for loop.

In [ ]:
lst5 = [lst1[x] for x in range(len(lst1)) if x%2 == 1]

print(lst5)
print("".join(lst5))

In [ ]:
if / else AND only ONE if / else. You cannot have elif, you cannot have multiple if/else statement

In [ ]:
lst4 = [lst1[x]  if x%2==1 else lst2[x] for x in range(len(lst1))] 

print(lst4)
print("".join(lst4))

In [ ]:
lst4 = 'abcdefghij'

In [ ]:
#List comprehension

1. Shorter syntax to use 3 steps of code
initialize empty list
for loop
append to empty list

[operation for temp var in iterable]


2. Returns a new list object. CANNOT run comprehension on an object that already exists to add to its elements.

3. Can use if else conditions in a comprehension. But - if only a if condition is present it will come after the for loop. 
If both if/else are present they will come before the for loop. 

4. Elif cannot be used in comprehension.

In [ ]:
tuple1 = tuple(range(10))

lst_tup = [x * 5 for x in tuple1]

print(lst_tup)

In [ ]:
lst2 = [x*2 for x in lst1]

print(lst2)

In [ ]:
lst3 = []
for x in lst1:
    lst3.append(x+1)
print(lst3)

In [ ]:
#It returns a new list object based using the for loop in one line of efficient easy code. 

#it works on any iterable. 

lst1 = ['abcde','fghij','Tuhin']

# str1 = 'abcdef'
lst3 = [x[::-1] for x in lst1]
print(lst3)

In [ ]:
print(lst4)

In [ ]:
x = 4

if x > 5:
    print('A')
    if x > 0:
        print('B')
    else:
        print('C')

In [ ]:
x = 10

if x > 5:
    print('A')
else:
    print('B')
    if x < 0:
        print('C')
    else:
        print('D')

In [ ]:
lst4a = [0,10,13,12,17,6]
lst5a = []


for x in lst4a:
    if x%2 == 1:
        lst5a.append(x+1)
    else:
        if x > 10:
            lst5a.append(x*5)
        else:
            lst5a.append(x)
            
            
print(lst5a)

In [ ]:
# Can have only one if/else suite - that means any more if/else will be treated as nested if/else

In [1]:
lst4 = [0,10,13,12,17,6]

lst5 = [x+1 if x%2 == 1 else x*5 if x>10 else x for x in lst4]

print(lst5)

[0, 10, 14, 60, 18, 6]

In [ ]:
if x%2 == 1:
    append(x+1)
else:
    if x>10:
        append(x*5)
    else:
        append(x)

In [3]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
lst4 = [0,10,13,12,17,6]

lst5 = []

for x in lst4:
    if x%2 == 1:
        lst5.append(x+1)
    else:
        if x>10:
            lst5.append(x*5)
        else:
            lst5.append(x)
            
print(lst5)

In [ ]:
lst6 = []

for x in lst4:
    if x%2 == 1:
        lst6.append(x+1)
    else:
        lst6.append(x)
        
        
print(lst6)

In [ ]:
lst7 = [x+1 for x in lst4 if x%2 == 1]

print(lst7)

In [ ]:
lstx = [0,2,7,11,20,4,6]

lstx1 = []
for i in lstx:
    if i > 5 :
        #lstx1.append(i*2)
        if i > 10 :
            lstx1.append(i*2)
        
print(lstx1)

In [ ]:
lstx2 = [i*2 for i in lstx if i > 5 if i > 10]

print(lstx2)

In [ ]:
a = 4

if a > 10:
    print(a)
elif a > 5:
    print(a*2)
else:
    print('less than 5')

In [ ]:
lst5a = []

for x in lst4:
    if x%2 == 1:
        lst5a.append(x+1)
    else:
        lst5a.append(x)
print(lst5a)

In [ ]:
print(lst4)

In [ ]:
lst6 = [x for x in lst4 if x%2 == 1]

print(lst6)

In [ ]:
#Note importantly how if we are using both if and else then if else condition comes before the for loop otherwise if only using if
# condition this comes after teh for loop. 
# Also note that do not specify the else condition then for elements that do not satisfy the if condition, nothing is done
# and they are not included in the new list.

In [ ]:
print(lst1)

In [ ]:
lst1 = [x for x in range(10)]
print(lst1)

In [ ]:
for x in lst1:
    if x%2 == 0:
        if x%4 == 0:
            print(x)

#     if x%4 == 0:
#         print(x)

In [ ]:
# You can use multiple if statements in the list comprehension.

print(lst1)

lst7 = [x for x in lst1]
print(lst7)

# The expressions that satisfy all the if conditions will be output to the new list. 

#However, you cannot use multiple if statements with an else statement. There is a workaround to this which we will 
# discuss when discussing loops and conditional statements further in the course.

In [ ]:
lst1 = list(range(10))


print(lst1)

In [ ]:
for x in range(len(lst1)):
    for y in range(len(lst1)-1):
        if lst1[y]%2 == 1:
            temp = lst1[y]
            lst1[y] = lst1[y+1]
            lst1[y+1] = temp
        print(lst1)
print(lst1)

In [ ]:
#At the time of discussing loops, we shall also look at nested for loops for normal lists and also their use in list
# comprehension.

In [ ]:
#So, from what we have learnt we can easily use the range function to return a list of numbers to us.

# normal for loop. 

lst = []
for x in range(10):
    lst.append(x)
    
print(lst)

In [ ]:


lst = []
for x in range(50,70,2):
    lst.append(x)
    
print(lst)

In [ ]:
#And using list comprehension

lst = [x for x in range(20)]
print(lst)

In [ ]:
lst = [x for x in range(50,70,2)]
print(lst)

In [ ]:
#Note how using list comprehension - I did not have to reassign variable lst to a new empty list? What would happen in
# the normal for loop if I were to not reassign a new empty list to lst? 

lst = []

for x in range(20):
    lst.append(x)
print(lst)

for x in range(50,70,2):
    lst.append(x)

print(lst)

In [ ]:
lst1 = [x for x in range(5)]

print(lst1)

In [ ]:
lstcomp = [[x+y for x in range(5)] for y in range(5)]

print(lstcomp)

In [ ]:
a=[[3,5],[1,2],[6,7]]
print(a[1:][:1])

In [ ]:
print(a[1:])

In [ ]:
x = a[1:]

print(x)

In [ ]:
x[:1]

In [ ]:
lstcomp = []

for y in range(5):
    temp_lst = []
    for x in range(5):
        temp_lst.append(x+y)
    lstcomp.append(temp_lst)

    
print(lstcomp)

In [ ]:
y comprehension - 0,1,2,3,4


x comprehension - 0,1,2,3,4


2+0 = [2
2+1 = 3
2+2 = 4
2+3 = 5
2+4 = 6]

In [ ]:
var1 = 4

In [ ]:
#While the above examples were just to understand the use and differences between for loops with lists and list
# comprehension, the easiest way to actually create the above lists would be: 

lst = list(range(20))

print(lst)

In [ ]:
lst = list(range(50,70,2))
print(lst)

In [ ]:
# You would probably use for and lists or list comprehensions to perform much more complex tasks than just creating
# a list of numbers.

In [ ]:
# Delete, remove and pop - Uses and differences in Python

# Delete is a Python keyword and works on deleting any Python object.

In [ ]:
lst = list(range(1,10))

print(lst)
print(id(lst))

#### lst.clear()
print(lst)
print(id(lst))

In [62]:
lst1 = list(range(10))

print(lst1)
print(id(lst1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1365159825344

In [57]:
lst1.clear()

print(lst1)
print(id(lst1))

[]
1365159826944

In [63]:
del(lst1[4])

print(lst1)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
print(id(lst))

In [ ]:
# With lists and list indexing it will remove the element at specified index position of the list

del(lst[2])
print(lst)

#Note here how it deleted the object at the 2nd index position and not the value 2 inside the list.

In [ ]:
# With no index number provided it will delete the whole list object. 

del(lst)

In [ ]:
print(lst)

In [64]:
lst = [1, 2, 54, 55, 56, 57, 58, 60, 100, 111]
print(lst)

[1, 2, 54, 55, 56, 57, 58, 60, 100, 111]

In [65]:
del(lst[2:4])

In [66]:
print(lst)

[1, 2, 56, 57, 58, 60, 100, 111]

In [ ]:
lst.clear()

print(lst)

In [ ]:
lst = list(range(1,10))

lst.append(20)
print(lst)

print(len(lst))

In [ ]:
del(lst[::2])
print(lst)

#Note here how we get an IndexError - since len of list is only 10

In [ ]:
lst = list(range(1,10))
print(lst)

In [ ]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

del(lst1, lst2)

In [ ]:
print(lst1)

In [ ]:
print(lst2)

In [ ]:
x = 1001
y = 2002

lst1 = [1,2,3,x, y, 4]

print(lst1)

In [ ]:
del(lst1[3])

print(lst1)

In [ ]:
print(x)

#Note how the object x is deleted from list but not from memory.

In [ ]:
del(x)
print(x)

In [ ]:
x = 1001

lst1.append(x)
print(lst1)

print(id(x))
print(id(lst1[-1]))

In [ ]:
del(x)
print(x)

In [ ]:
print(lst1)
print(id(lst1[-1]))

#Note how even though object is supposedly removed from memory, since there is another reference to it inside the list
#object, it remains in memory i.e. it has not been deleted.

In [ ]:
#Delete can also be used to delete a range of objects from the list

lst1 = list(range(1,10))
print(lst1)

In [ ]:
del(lst1[1:4])

print(lst1)

In [ ]:
del(lst1[4])

In [ ]:
print(lst1)

In [ ]:
lst1 = list('abcdefghij')

In [ ]:
print(lst1)

In [ ]:
lst1.remove('d')

print(lst1)

lst2 = lst1

print(lst2)

In [ ]:
#Note here - how remove method removed the element with the value of 2.

In [67]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [74]:
lst1 = list(range(10))

lst2 = lst1.copy()


print(lst1, id(lst1))
print(lst2, id(lst2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 1365160008256
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 1365159039296

In [79]:
lst1.append(3)

In [80]:
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 3, 3]

In [73]:
x = lst1.count(3)


print(x)

4

In [82]:
lst1 = list(range(11,71,5))

print(lst1)

[11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66]

In [89]:
x = lst1.index(66)

print(x)

11

In [ ]:
#find, rfind or rindex - that are available in strings are not available for lists.

In [90]:
lst = list(range(1,10))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
lst.insert(10000,25)
print(lst)

[1, 2, 3, 25, 25, 25, 4, 5, 6, 7, 8, 25, 9, 25, 25]

In [96]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [103]:
lst = list(range(11,71,5))


print(lst)

[11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66]

In [104]:
lst.pop(4)


print(lst)

[11, 16, 21, 26, 36, 41, 46, 51, 56, 61, 66]

In [ ]:
#1. Remove - removes the first occurrence of the ELEMENT from list. While Pop removes element at INDEX number specified.
#2. Remove modifies the origin but returns none. Pop modifies the original list AND returns the popped element.
#3. Remove requires a mandatory argument(element to be removed) to be supplied. While pop - if no argument supplied - pops
# the last element of the list.

In [105]:
print(lst)

[11, 16, 21, 26, 36, 41, 46, 51, 56, 61, 66]

In [106]:
x = lst.remove(26)

print(lst)
print(x)

[11, 16, 21, 36, 41, 46, 51, 56, 61, 66]
None

In [107]:
y = lst.pop(4)

print(lst)
print(y)

[11, 16, 21, 36, 46, 51, 56, 61, 66]
41

In [108]:
lst.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [109]:
lst1 = list('axjinoenvql')

print(lst1)

['a', 'x', 'j', 'i', 'n', 'o', 'e', 'n', 'v', 'q', 'l']

In [110]:
lst1.reverse()

print(lst1)

['l', 'q', 'v', 'n', 'e', 'o', 'n', 'i', 'j', 'x', 'a']

In [ ]:
lst = list(range(1,10))

print(lst)

In [ ]:
x = lst.remove(2)

print(lst)
print(x)

In [ ]:
print(dir(list))

In [ ]:
lst = list(range(1,10))
print(lst)

In [ ]:
lst_del = lst.remove(2)

print(lst)

In [ ]:
print(lst_del)

In [ ]:
#As expected, the remove operation has been performed on the original list and this is reflected in the original list. 
# However, since the remove method on lists does not return anything, we receive None as contained in variable lst_del.

In [ ]:
#Pop method on lists in Python removes the element and the specified index value in a list. It takes one parameter, index 
# value of the element to be removed. If parameter left empty it defaults to -1 or the last element in the list. 

lst = list(range(1,10))
print(lst)

In [ ]:
x = lst.pop(3)

print(lst)
print(x)

In [ ]:
#1. Remove will remove the first occurrence of the element value. While pop pops out the item at that particular index position.

#2. Remove returns nothing. Pop returns the popped item. 

#3. Remove NEEDS a mandatory parameter of element to be removed. Pop - if no argument provided will pop the last element. With
# argument provided will pop item at that index position.

In [ ]:
y = lst.pop(2)
print(lst)
print(y)

In [ ]:
lstalpha = list('abcdefghij')

print(lstalpha)

In [ ]:
popped = lstalpha.pop(2)

print(lstalpha)
print(popped)

In [ ]:
pop1 = lstalpha.pop()
pop2 = lstalpha.pop()
pop3 = lstalpha.pop()


print(pop1)
print(pop2)
print(pop3)

In [ ]:
print(lstalpha)

In [ ]:
lst_rev = []

for x in range(len(lstalpha)):
    lst_rev.append(lstalpha.pop())
    #print(lst_rev)
print(lst_rev)

In [ ]:
tuple1 = tuple(range(10))

lst1 = [x for x in tuple1]

print(lst1)

In [ ]:
lstalpha.remove(4)

print(lstalpha)

In [ ]:
lstalpha.pop(4)

print(lstalpha)

In [ ]:
#However, the pop method removes the element from the original list AND returns the element that was at the specified index
# and was removed. 

lst = list(range(1,10))
print(lst)

In [ ]:
popped = lst.pop(3)

print(f'List after popping {lst}')

In [ ]:
print(f'Popped = {popped}.')

In [ ]:
lst = list(range(1,10))
print(lst)
popped = lst.pop(5)

In [ ]:
print(f'List after popping {lst}')
print(f'Popped = {popped}.')

In [ ]:
#Sort method on Lists - sorts the given list in ascending order (by default). For strings does comparison by unicode values
# character by character

In [15]:
lst1 = [17, 12, 39, 11, 9, 18]

lst2 = lst1.sort(reverse=True)
print(lst1)
print(lst2)

[39, 18, 17, 12, 11, 9]
None

In [11]:
print(ord('?'))
print(ord('A'))
print(ord('a'))

63
65
97

In [9]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [10]:
lstalpha = list('gahgAlmbqxf?')

print(lstalpha)

['g', 'a', 'h', 'g', 'A', 'l', 'm', 'b', 'q', 'x', 'f', '?']

In [12]:
lstalpha.sort()

print(lstalpha)

['?', 'A', 'a', 'b', 'f', 'g', 'g', 'h', 'l', 'm', 'q', 'x']

In [14]:
lstnames = ['yashoda', 'rohan', 'sushant', 'prakher', 'mala', 'rikki']

lstnames.sort(reverse=True)

print(lstnames)

['yashoda', 'sushant', 'rohan', 'rikki', 'prakher', 'mala']

In [ ]:
#As we can see - the sort is performed on original list which is modified and there is no return value. 

lst2 = ['a', 'Python', 'XYZ']

lst2.sort()
print(lst2)

#Note here how Python and XYZ are before the alphabet a. This is because the unicode values of capital P and X are lower
#than the unicode value for a.

In [ ]:
lst2 = ['ab', 'apython', 'XYZ']

lst2.sort()
print(lst2)

In [ ]:
lst3 = [20, 20.2, 300, 72, 64.2]

lst3.sort()

print(lst3)

In [ ]:
#Sort can take in 2 Parameters. 

#1. Key - This can take in a new function to calculate the values to be sorted on. Optional
#2. reverse - Is False by default but if set to True - then will return the list in descending order. 

lst2 = [17, 24, 1001, 2123, 3, 82]

lst2.sort(reverse = True)

print(lst2)

In [ ]:
lst3 = ['a', 'Python', 'XYZ']

lst3.sort(reverse = True)

print(lst3)

In [ ]:
print(len('axe'))
print(len('Python'))
print(len('WXYZ'))

In [ ]:
lst1 = list(range(10,0,-1))

print(lst1)

In [ ]:
lst1.sort()

print(lst1)

In [ ]:
lst1.sort(reverse=True)
print(lst1)

In [ ]:
#The keyword can take any type of function to evaluate the elements. E.g. len() function. 

lst4 = ['axe', 'Python', 'WXYZ']

# axe, python, wxyz = input

# 3 , 6, 4 len function runs

# 3,4,6 = sorting happens

# axe, wxyz, python = output

print(lst4)

In [ ]:
lstnames = ['yashoda', 'rohan', 'sushant', 'prakher', 'mala', 'rikki']

In [ ]:
len('yashoda')

In [16]:
lstnames.sort(key = len)

print(lstnames)

['mala', 'rohan', 'rikki', 'yashoda', 'sushant', 'prakher']

In [ ]:
# Key parameter takes a function.

# Step1 - Elements of the list will be passed into the function iteratively

# Output from step 1

# Step 2 - Output from step 1 will be sorted. 

# Step 3 - The element that gave the corresponding output from the function will take its place in the sorted list.

In [33]:
lst1 = [30,6,12,-12,14,-99,3.67,-3.14]

In [20]:
print(abs(-22))

22

In [34]:
lst1.sort()

print(lst1)

[-99, -12, -3.14, 3.67, 6, 12, 14, 30]

In [ ]:
30,6,12,12,14,99,3.67,3.14

3.14,3.67,6,12,12,14,30,99


-3.14, 3.67, 6, 12, -12,14,30,-99

In [ ]:
# first - each of the elements will be passed to the function and function will be executed. 

# 7, 5, 7, 7, 4, 5

# Step two - the output of the execution of the function will get sorted. 

# 4,5,5,7,7,7

# step 3 - the corresponding inputs that gave the particular output from the function execution, takes the place in the
# sorted list. 

# mala, rohan, rikki, yashoda, sushant, prakher

In [ ]:
print(dir(__builtins__))

In [ ]:
len('100')

In [ ]:
def funct1(x):
    print(x)

In [ ]:
funct1('Rohit')

In [ ]:
lst5 = [[111,201,300], [111,42, 75], [82, 41, 33], [64,99,101]]

#lst5.sort()

print(lst5)

In [ ]:
def fsq(x):
    return x**3

In [ ]:
lstx = [-3, -7.5, 22, 5,10, 6]

lstx.sort(key = fsq)

print(lstx)

In [ ]:
lst5.sort(key = max)

# First step 

300, 111,82,101

# Second step

# 82,101,111,300

# Third step - corresponding input that gave these outputs

#3rd, 4th, 2nd, 1st
print(lst5)

In [36]:
def sortindex(x):
    return x[2]

In [49]:
lst1 = [['Riya', 100,27],['Nattu', 95, 32],['Seyyon',100,28],['Saurabh',85,21]]


#lst1.sort(key = sortindex)


print(lst1)

[['Riya', 100, 27], ['Nattu', 95, 32], ['Seyyon', 100, 28], ['Saurabh', 85, 21]]

In [52]:
lst = []
for x in lst1:
    a = sortindex(x)
    b = x
    lst.append((a,b))

print(lst)

lst.sort()

print(lst)

[(21, ['Saurabh', 85, 21]), (27, ['Riya', 100, 27]), (28, ['Seyyon', 100, 28]), (32, ['Nattu', 95, 32])]
[(21, ['Saurabh', 85, 21]), (27, ['Riya', 100, 27]), (28, ['Seyyon', 100, 28]), (32, ['Nattu', 95, 32])]

In [51]:
return_lst = []

for y in lst:
    return_lst.append(y[1])
    
lst1 = return_lst
    
print(return_lst)

[['Saurabh', 85, 21], ['Riya', 100, 27], ['Seyyon', 100, 28], ['Nattu', 95, 32]]

In [ ]:
# Step1 = Pass each of the elements to the function specified.

27,32,28,21

#Step2 - Sort the output

21,27,28,32

#Step3 - Return the element corresponding to the sorted values.

In [25]:
lst5 = [[111,201,242], [111,42, 300], [82, 41, 33], [64,99,101]]

In [26]:
for i in lst5:
    print(max(i))

242
300
82
101

In [23]:
lst5.sort(key = max)

print(lst5)

[[82, 41, 33], [64, 99, 101], [111, 201, 242], [111, 42, 300]]

In [ ]:
#Step1
- 242, 300, 82, 101

Step2
82,101,242,300

Step3
2,3,0,1

In [ ]:
for x in lst5:
    x.sort()
    
    
print(lst5)

1. max = 

30, 111, 82, 101

30,82,101,111

2. sum

330, 228, 156, 264

In [ ]:
# Difference between method and built-in functions

#1. Methods are specific to datatypes i.e. can only be used with that datatype. Built-in functions are general functions
# that can be used with any datatype(of course, it should make sense)

#2. Syntax of built-in function 

# functionname(parameters)

# Syntax of method

#dtypeobject.functionname(parameters)

In [79]:
import numpy as np

x = np.random.randint(-100,100,25)

lst1 = tuple(x)

In [64]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [68]:
sortedlist = sorted('akjglakjg')

print(sortedlist)

['a', 'a', 'g', 'g', 'j', 'j', 'k', 'k', 'l']

In [62]:
print(lst1)
print(sortedlist)

[12, 95, 59, -28, -8, -46, -69, 47, -7, 0, 91, -64, -63, 41, 87, -11, 90, 13, 35, 74, -44, 48, -14, 21, -52]
[0, -7, -8, -11, 12, 13, -14, 21, -28, 35, 41, -44, -46, 47, 48, -52, 59, -63, -64, -69, 74, 87, 90, 91, 95]

In [67]:
# 1. .sort is a method on lists ONLY. sorted is a built-in function that can apply to ANY iterable.
# 2. .sort modifies the original list and returns None. sorted returns you a new list which is sorted. 


# Point to Note : Sorted ALSO returns a list irrespective of the datatype that was input. 


# 1. .reverse is a method on lists ONLY. reversed is a built-in function that can apply to ANY iterable. 
# 2. .reverse modifies the original list and returns None. reversed returns you a new list which is sorted. 
# 3. .reverse returns NONE. reversed returns a reversed_iterator object which if required can by explicity typecast to 
# another meaninful datatype such as list or tuple.

In [71]:
print(lst1)

[-58, 28, -67, -39, -11, -27, -81, -74, 68, -62, -97, -80, -51, -16, 29, 52, 55, 62, 31, -35, 41, -43, 46, -16, 43]

In [72]:
lst1.reverse()

print(lst1)

[43, -16, 46, -43, 41, -35, 31, 62, 55, 52, 29, -16, -51, -80, -97, -62, 68, -74, -81, -27, -11, -39, -67, 28, -58]

In [80]:
reversedlist = list(reversed(lst1))


print(reversedlist)

[-5, 89, 15, -65, 26, 93, -2, 94, -51, -79, -89, 71, 35, -25, 99, 61, -72, 80, -55, 55, 80, 59, -85, 15, -79]

In [78]:
for x in reversedlist:
    print(x)

-58
28
-67
-39
-11
-27
-81
-74
68
-62
-97
-80
-51
-16
29
52
55
62
31
-35
41
-43
46
-16
43

In [ ]:
reverse parameter is NOT optional but defaults to False which gives you ascending order. If changed to True then gives 
descending order. 

key parameter IS optional and takes a function which can be used to decide the basis of sorting.

In [ ]:
lstalpha = ['axe', 'Python', 'WXYZ']

In [ ]:
def funct(x):
    return x[1]


#2, 1, 9, 3, 6

# 1,2,3, 6, 9

# (1,1), (0,2), (10,3), (11,6), (7,9)

In [ ]:
lst2 = [(0,2), (1,1),(7,9), (10,3), (11,6)]

# (0,2), (1,1), (7,9), (10,3) = inputs

# 2,1,9,3, 6 = function runs

# 1,2,3,6,9 = sorting happens

#           = Returns elements based on the sort output of previous steps.

In [ ]:
lst2.sort(key= funct)

print(lst2)

In [ ]:
lst2 = [(0,2), (1,1),[7,9], (10,3), (11,6)]

lst2.sort(key = funct)

print(lst2)

In [ ]:
lst4.sort(reverse = True, key = len)
print(lst4)

In [ ]:
lst4x = ['a', 100, 'Python', 'xYZ', 21]

In [ ]:
lstintfloat = [10, 0.9,13.3, 8, 4.7]

x = lstintfloat.sort()

print(lstintfloat)
print(x)

In [ ]:
+, -, *, ==, !=, <, > , <=, >=

In [ ]:
lst4x.sort()
print(lst4x)

#Sort not supported between different datatypes.

In [ ]:
print('python'.upper())

In [ ]:
print(len('python'))

In [ ]:
class xyz
  ---- 
    
    functions that are written for class xyz
       
    
    
    
'rikki'.upper()

'python'.upper()
    
    
    
abc = tabulardata(xyz)

abc, tabulardata instance


deg = tabdata2(xyz)

deg, tabdata2 - all functions will be available of xyz

methods are usually part of a class. upper method is a part of string class.

In [ ]:
#However, as noticed - the sort method on lists - modifies the original list and does not return anything. 
#If original list order needs to be maintained and/or new object with items sorted is required, use the Python built-in 
#method sorted()

lst5 = ['a', 'Python', 'xYZ']

lst7 = lst5.sort()


print(lst5)
print(lst7)

In [ ]:
lst6 = sorted(lst5)

# lstname.sort(key<optional>, reverse<optional>) - returns no output performs sort operation on original list.

#sorted(iterablename <mandatory>, key<optional>, reverse<optional>) - returns an output (a list) so needs to be saved to a
# new variable. Does not modify original iterable.


print(lst5)
print(lst6)

In [ ]:
list1 = [15,17,20,2, 7, 31,12]

In [ ]:
# Diff between method and built-in functions

#1. methods are nothing but functions of a class. Built-in functions are functions written by Python developers available to
# entire script. 
#2. Methods are available only to the objects of that particular class. BI Functions are available to any type of object(of 
# course, the input to the function must make sense i.e. should be used the way it was intended).

In [ ]:
#.sort will only work on a list datatype. sorted built-in function will take ANY iterable.

In [ ]:
#Sorted built-in method takes in 3 parameters.

#1. Iterable to be sorted - In this case, a list - Mandatory
#2. Reverse = Set to False as default and returns the list sorted with the elements in ascending order. If set to True, will
# return the elements in descending order. 
#3. Key = A different function on which to evaluate the elements and sort them accordingly. 

lst7 = sorted(list1)

print(lst7)
print(list1)

In [ ]:
# 1. Sort doesnt returns anything(modifies original list). Sorted returns a sorted list.
# 2. Sort works with a list. Sorted works with any datatype.
# 3. Syntax for sort is <lstname>.sort().
#    Syntax for sorted is sorted<functionname>(iterable).

In [ ]:
tup1 = (10,11,8, 7, 3, 14, 12)

sort_tup = (sorted('oldgeyser'))

print(sort_tup)
print(tup1)

In [ ]:
#Sorted and sort

# .sort is a list method only availale to lists. sorted can be used on any iterable. 
# sorted outputs a new list and original object remains unchanged. .sort modifies original list. 
# both sort and sorted output a list.

In [ ]:
def funct_mod(a):
    return a%5

print(funct_mod(24))

In [ ]:
4,2,1,0,3,2,3


0,1,2,2,3,3,4

In [ ]:
lst3 = [18,12,16]

lst4 = sorted(tup1, key = funct_mod)

print(lst4)

In [ ]:
#Reverse method on lists.  

lst = list('abcghijxyzdef')

print(lst)

In [ ]:
lst.reverse()
print(lst)

In [ ]:
lst2 = lst[::-1]

print(lst2)
print(lst)

In [ ]:
lstx = ['a', 100, 300, 'Neetu', 2+3j]

lstx.reverse()

print(lstx)

In [ ]:
#It performs the operation on the original list object and returns nothing.

lst = list('abcdefghij')
print(lst)

In [ ]:
lst1 = lst.reverse()
print(lst)
print(lst1)

In [ ]:
#Reversed iterator. If however, the original list order has to be maintained and/or a new object with elements reversed is
# required - use the reversed built-in function of Python to create a reversed iterator object and using list comprehension
# create a new list. 

lst = list('abxcyjrhij')
print(lst)

In [ ]:
# 1. reverse in list method. reversed is a built-in method
# 2. reverse works only on lists, reveresed will take any iterable. 
# 3. reverse outputs a list. reversed outputs a reversed iterator object. 

# The property of an iterator object is that it can only be iterated over ONCE.

In [ ]:
lstx = list('axgyaglagj')

print(lstx)
print(type(lstx))

In [ ]:
#sorted built-in python method that outputs a list.

In [ ]:
lstrev2 = tuple(reversed('abxyzstrdef'))

print(lstrev2)
print(id(lstrev2))

In [ ]:
# The property of an iterator object is that it can only be iterated over ONCE. 


for x in lstrev2:
    print(x)

In [ ]:
lst2 = list(lstrev2)

print(lst2)

In [ ]:
for x in lstrev2:
    print(x)

In [ ]:
for x in lst2:
    print(x)

In [ ]:
lst2 = list(reversed(lst))

print(lst2)
print(id(lst2))
print(type(lst2))
print(lstx)
print(id(lstx))

In [ ]:
x = reversed('Learnbay batch Sept16')

xlst = [i for i in x]

print(xlst)

In [ ]:
lst3 = [x for x in reversed(lst)]
print(lst3)

In [ ]:
lst4 = [x for x in lst2]

print(lst4)

In [ ]:
lst5 = list(reversed(lst))

print(lst5)

In [ ]:
range1 = range(10)

print(range1)
print(type(range1))

In [ ]:
for x in range1:
    print(x)

In [ ]:
range2 = list(range(10))

print(range2)

In [ ]:
lst2 = [x for x in reversed(lst)]

print(lst)
print(lst2)

In [ ]:
# Copy

lst1 = list(range(5))

lst2 = lst1[:]

lst3 = lst1.copy()

import copy

#lst4 = copy.copy(lst1)


print(lst1, id(lst1))
print(lst2, id(lst2))
print(lst3, id(lst3))
print(lst4, id(lst4))

In [ ]:
print(dir(tuple))

In [ ]:
rev_it = reversed(lst)

print(rev_it)
print(type(rev_it))

In [ ]:
#Aliasing and cloning

x = list(range(10))
print(x)

In [ ]:
x.append([100,200,300])

print(x)

In [ ]:
#Aliasing on lists - is insitialisng a new variable name to the same list object stored in the memory. 

y = x

print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

#When we do y = x, all we are doing is adding a new variable name which is pointing to the same object stored in variable.
# This is called aliasing

In [ ]:
x.append([300,400,500])

print(x)

In [ ]:
y = x

print(y)
print(x is y)
print(id(x), id(y))

In [ ]:
x[0] = 10001

print(x)
print(y)
print(x is y)
print(id(x), id(y))

In [ ]:
x[-1][-1] = 501

print(x)
print(y)
print(x is y)
print(id(x), id(y))

In [ ]:
print(x)

In [ ]:
z = x.copy()

print(x)
print(z)

In [ ]:
print(x is z)
print(id(x), id(z))
print(x == z)

In [ ]:
for i in range(len(x)):
    print(x[i], ' : ',  x[i] is z[i])
    print(id(x[i]), id(z[i]))

In [ ]:
print(x)
print(z)

In [ ]:
x[0] = 20001

print(x)
print(z)

In [ ]:
print(id(x[-1]))
print(id(z[-1]))

print(id(x[-1]) == id(z[-1]))

In [ ]:
x[-1][-1] = 3333

print(x)
print(z)

In [ ]:
print(x[-1] is z[-1])
print(id(x[-1]),id(z[-1]))

In [ ]:
import copy

v = copy.deepcopy(x)

print(x is v)
print(id(x), id(v))

In [ ]:
print(x)
print(v)

In [ ]:
print(id(x[-1]), id(v[-1]))
print(id(x[-1]) == id(v[-1]))

In [ ]:
x[-1][1] = 401

print(x)
print(v)

In [ ]:
x.append([10,[1,2,[3,4]]])


print(x)

In [ ]:
v = copy.deepcopy(x)

print(v)

In [ ]:
print(id(x[-1]), id(x[-1][-1]), id(x[-1][-1][-1]))

print(id(v[-1]), id(v[-1][-1]), id(v[-1][-1][-1]))

In [ ]:
print(id(x[0]))
print(id(v[0]))

In [ ]:
#copying is also called cloning

x = [i*10 for i in range(10) ]

print(x)

In [ ]:
y = x[:]

print(x is y)
print(id(x), id(y))
print(x)
print(y)

In [ ]:
z = x.copy()

print(x)
print(z)
print(x is z)
print(id(x), id(z))

In [ ]:
tup1 = (1,2,3,[4,5,6])

In [ ]:
print(dir(dict))

In [ ]:
import copy

w = copy.copy(x)

print(x)
print(w)
print(x is w)
print(id(x), id(w))

In [ ]:
for i in range(len(x))
    print(x[i], ' : ',  x[i] is v[i])
    print(id(x[i]), id(v[i]))

In [ ]:
# y = 100

# x = y

# print(x)

In [ ]:
#Any changes to x will also be reflected on y. 

x[2] = 35

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
#If a new object with the same elements as x is required, we have two options: 

#The by now familiar and popular - slicing

x = [x * 10 for x in range(1,10)]


y = x[:]

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
z = x.copy()

print(z)

print(x is z)
print(id(x), id(z))

In [ ]:
import copy

t = copy.copy(x)

print(t)
print(x is t)
print(id(x), id(t))

In [ ]:
print(x)
print(y)

In [ ]:
#Changing x (or y) does not affect the other

x[2] = 37

print(x)
print(y)

In [ ]:
y = x[:]

print(x)
print(y)

In [ ]:
y[2] = 73

print(x)
print(y)

In [ ]:
x = [1020, 2010, 'Python$']

y = x[:2]

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
print(id(x[0]))
print(id(y[0]))

In [ ]:
#Another way is to use the copy method in List class/datatype.

x = [x*10 for x in range(10)]
y = x.copy()

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
x[2] = 37

print(x)
print(y)

In [ ]:
y = x.copy()

print(x)
print(y)
print(x is y)
print(id(x), id(y))

In [ ]:
x[1] = 1000

print(x)
print(y)

In [ ]:
x = [1000, 10, 20, 30]
y = x

print(x is y)
print(id(x), id(y))
print(id(x[0]), id(y[0]))
print(x[0] is y[0])

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
print(x)

In [ ]:
x[2][0] ='Python'

print(x)
print(y)

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x[:]

print(x)
print(y)
print(x is y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
y[1] = '$'

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x.copy()

print(x)
print(y)

In [ ]:
print(x)
print(y)

for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
y[1] = 200

print(x)
print(y)

In [ ]:
print(x is y)

In [ ]:

for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
# The above methods of slicing or using the built in copy function is called copying. 

# Or more precisely creating a 'Shallow' copy.

# Shallow copying does not work on compound objects since for the compound objects(sequential) objects y also stores the
# same memory id as the x and changing the object at that memory location in x changes the object at that memory location in y as
# well. 

x = [1000, '#', ['a',100, 200,2]]
y = x.copy()
print(x)
print(y)

In [ ]:
x[2][1] = 1001
print(x)
print(y)

In [ ]:
y[1] = 100

print(y)

In [ ]:
x[1] = 300

print(x)
print(y)

In [ ]:
import copy

In [ ]:
x = [1000,'#',['a', 1000, 2000, 2020]]

y = copy.deepcopy(x)

print(x)
print(y)

In [ ]:
for i in range(len(x)):
    print(x[i] is y[i])

In [ ]:
x[2][2] = 2001

print(x)


print(y)

In [ ]:
x = [1000,'#', ['a', 100, 200, 2,[200,300,['x','y']]]]

y = copy.deepcopy(x)

print(x)
print(y)

In [ ]:
y[2][4][2][0] = 'C'
print(x)
print(y)

In [ ]:
x = [1,2,3,4, [5,6,7,8]]

y = x.copy()

z = copy.deepcopy(x)

print(x,y,z, sep ='\n')

print(id(x[-1]) is id(z[-1]))

In [ ]:
import copy

x = [1,2,3,4]
y = x.copy()
z = copy.copy(x)

print(x)
print(y)
print(z)

In [ ]:
x[1] = 2020

print(x)
print(y)
print(z)

In [ ]:
x[4][1] = 60

print(x)
print(y)
print(z)

In [ ]:
x[2][0] = 'Python'

print(x)
print(y)

In [ ]:
#Note that copy module also has a copy method but the functioning is exactly as the built-in copy method - and it creates
# a shallow copy and is rarely used. It MAY be used to highlight that a shallow copy is being created. But even then it is
# easier to use the built-in copy method and just comment a '#Shallow copy'

In [ ]:
#Deepcopy on Dictionaries

xd = {'a': 100, 'b':{'p': [300, 700, 900]}, 'c':'Python' }

yd = copy.deepcopy(xd)

xd['a'] = 1001

print(xd)
print(yd)

In [ ]:
xd['b']['p'][1] = 7001

print(xd)
print(yd)

In [ ]:
#Deepcopy on Sets

xs = {870, 901, 1012, 'Python'}

ys = copy.deepcopy(xs)

xs.remove(1012)

print(xs)
print(ys)

In [ ]:
xs.add(2024)

print(xs)
print(ys)

In [ ]:
#Deepcopy on Tuples

xs = ('a', 'b', [300, 500, 800])

ys = copy.deepcopy(xs)

xs[2][1] = 501

print(xs)
print(ys)

In [ ]:
#Functions for use with list datatype

#Sum function
lst1 = list(range(1,10))
print(lst1)

In [ ]:
x = sum(lst1, start = 100)
print(x)

In [ ]:
# Sum function in Python can take in two parameters - 

# 1. The iterable to be summed (e.g. list, tuple, set)
# 2. The start - This number will be added to the sum - basically where to start summing from. 

# All the elements in the iterable must be numbers. 

x = sum(lst1, 1000)
print(x)

In [ ]:
import math


print(dir(math))

In [ ]:
print(math.pow(5,2))

In [ ]:
print(dir(__builtins__))

In [ ]:
lst1 = list('abcdefghij')

print(lst1)
print(sum(lst1))

In [ ]:
y = [101, 201, 'Python', 1001]

#print(z)

In [ ]:
print(y)

In [ ]:
y.append('Learnbay')

print(y)

In [ ]:
y.append('Python')

print(y)

In [ ]:
#Index function. 

#Returns the first occurrence of the element in the list. Takes 3 parameters

#1. The element to be searched.
#2. Start - the index number of where to start search from. Optional - defaults to 0 if not provided
#3. End - the index number of where to end. Optional - defaults to index number of end of list if not provided.

# If the element to be searched is not present - it returns a ValueError

print(y.index('Python',0,2))

In [ ]:
print(dir(list))

In [ ]:
x = y.index('Python')

print(x)

In [ ]:
y.append('Python')

In [ ]:
print(y)

In [ ]:
x = y.index('Python',3,6)

print(x)

In [ ]:
print(dir(list))

In [ ]:
y = [100,200,'Python',2+3J, 1001, 'abc','Python']

x = y.index('Python', 2, 5)

print(x)

In [ ]:
print(y)

In [ ]:
x = y.index('Python',3)

print(x)

In [ ]:
x = y.index('Python',3,len(y))

print(x)

In [ ]:
x = y.index('Python',,len(y))

print(x)

# As always, without providing the start index, we cannot provide the stop index

#Unlike strings - No rindex method.

In [ ]:
#Min and Max functions

lst1 = [1,2,7,5,11,4]

print(min(lst1))

In [ ]:
print(max(lst1))

In [ ]:
lstalpha = list('jakAgakjgjx')

print(min(lstalpha))

In [ ]:
a = min(lst1)
print(a)

In [ ]:
b = max(lstalpha)
print(b)

In [ ]:
print(dir(list))

In [ ]:
A-Z = 65 - 91
a-z = 97 - 123

In [ ]:
lst_alpha = ['Python', 'a', 'Seventy-Two']

print(min(lst_alpha))

In [ ]:
print(max(lst_alpha))

In [ ]:
print(ord('P'), ord('a'), ord('s'))

In [ ]:
#Note while working with strings - that the min/max method calculates the ORDER in which the characters are stored in
# ordinal values and checks for the first character (and each subsequent character if tied). Therefore - Capital A is the 
# lowest and small z is the highest. 

lst_alpha2 = ["Python", 'a', 'seventy-two']

print(max(lst_alpha2))

In [ ]:
lst_alpha3 = ['Python', 'Pithon']

print(max(lst_alpha3))

In [ ]:
lst_alpha4 = ["Python", "Qython"]

print(max(lst_alpha4))

In [ ]:
lst5 = ['P', 200, 50, 75]

print(min(lst5))

#With mixed datatypes the comparison of min and max cannot be performed.

In [ ]:
#Count method in Lists. Counts the number of times an element occurs in a list. 

lst= ['P', 200, 50, 75, 200, 'P', 50, 'P', 20]

print(lst.count(200))

In [ ]:
y = lst.count('P')
print(y)

In [ ]:
#Returns the count as a value so the value can be stored in a variable.

#Takes only one parameter - the item to be counted

# Returns TypeError if more than one element to count passed into the arguments. 

y = lst.count(200)
print(y)

In [ ]:
#Insert Method on Lists. Inserts item at specified index position in a list. Performs operation on original list and has
# no return. 

#Takes 2 arguments - Both mandatory:
#1. Index position to be inserted at. 
#2. Item to be inserted

lst = [100,200,'Python',2+3J, 1001, 'abc','Python']

print(lst)

In [ ]:
lst.insert(-2, 'XYZ')

print(lst)

In [ ]:
lst1 = lst.insert(0,'ABC')

print(lst)
print(lst1)

In [ ]:
#Cannot specify more than one index position or item to be inserted at one time. 

lst.insert(12,'Python')

In [ ]:
print(lst)

In [ ]:
print(len(lst))

In [ ]:
#Also throws a TypeError if only one parameter specified i.e. there is no default index number. 
lst.insert('ABCD')
print(lst)

In [ ]:
#Extend method on Lists. Extends the list by the elements specified in the parameter. 

lst1 = ['a', 100, 2001, 10.2, 'XYZ']
lst2 = ['b', 'C for Chair', 1132]

print(lst1)
print(lst2)

In [ ]:
lst1x = lst1.extend(lst2)

print(lst1)
print(lst2)
print(lst1x)

In [ ]:
Extend modifies the original list and gives no return. 

Concatenate - creates a new list object and the original list remains unchanged.

In [ ]:
print(lst1x)

In [ ]:
lst1 = ['a', 100, 2001, 10.2, 'XYZ']
lst2 = ['b', 'C for Chair', 1132]

print(lst1, type(lst1))
print(lst2, type(lst2))

In [ ]:
lst3 = lst1 + lst2

print(lst3)
print(lst1)
print(lst2)

In [ ]:
lst4 = lst1.extend(lst2)

print(lst1)
print(lst2)
print(lst4)

In [ ]:
print(lst1)
print(lst2)

In [ ]:
lst1 = ['a', 100, 2001, 10.2, 'XYZ']
lst2 = ('b', 'C for Chair', 1132)

print(lst1)
print(lst2)

In [ ]:
lst3 = lst1 + lst2

print(lst3)

In [ ]:
lst1.extend(lst2)

print(lst1)
print(id(lst1))

In [ ]:
print(id(lst1))

In [ ]:
lst1 = lst1 + lst2

print(lst1)
print(id(lst1))

In [ ]:
lst1.extend('abcde')

print(lst1)

In [ ]:
lst1.extend(['abcde'])

print(lst1)

In [ ]:
#Difference between Concatenation and Extend method. 

#1. Extend method modifies the original list while concatenation creates a new list object. 
#2. Extend method can be used between datatypes(iterables). Concatenation can only be performed between two lists (same datatypes). 

lst_x = lst1.extend(lst2)
print(lst1)
print(lst_x)

In [ ]:
xy = lst1 + 'abc'

print(xy)

In [ ]:
lst1.extend('pqrs')

print(lst1)

In [ ]:
lst3 = ['pqrs', 'xyz']

lst1.extend(lst3)

print(lst1)

In [ ]:
#Note how extend treats each of the element in the iterable 'pqrs' as a separate element and adds each of them to the
# original list. 

tup_y = (17, 'Airplane', 'Train')

lst1.extend(tup_y)

print(lst1)

In [ ]:
lst3 = lst1 + tup_y

print(lst3)

In [ ]:
#If we need to treat the iterable as a single element - we need to put it in another iterable as one object and then extend
# list

tup_z = ('pqrs',)

print(tup_z)
print(type(tup_z))

In [ ]:
lst1.extend(tup_z)

print(lst1)

In [ ]:
#Clear method on Lists - clears the original list of all elements. 

lst2 = lst1.clear()

print(lst1)
print(id(lst1))
print(lst2)

In [ ]:
del(lst1)

print(lst1)

In [ ]:
#Modifies original list and returns none. 

lst1 = list('abcde')

print(lst1)

In [ ]:
lst2 = lst1.clear()

print(lst1)
print(lst2)

In [1]:
#Packing and unpacking list. Packing is nothing but assigning elements / objects to a list which we have seen previously. 

lst1 = [1,2,3,4,5,6]
lst2 = [10,20,30,40,50,60]
lst3 = list('abcdef')

print(lst1, type(lst1))
print(lst2, type(lst2))
print(lst3, type(lst3))

[1, 2, 3, 4, 5, 6] <class 'list'>
[10, 20, 30, 40, 50, 60] <class 'list'>
['a', 'b', 'c', 'd', 'e', 'f'] <class 'list'>

In [2]:
a = lst1[0]
b = lst1[1]
c = lst1[2]
d = lst1[3]
e = lst1[4]
f = lst1[5]
print(a, b,c,d,e,f)

1 2 3 4 5 6

In [5]:
# Unpacking

p,q,r,s,t,u = lst1

print(p,q,r,s,t,u, sep = '\n')

1
2
3
4
5
6

In [6]:
p,q,r,s,t = 'abcdefghij'

print(p,q,r,s,t, sep = '\n')

a
b
c
d
e

In [8]:
lstalpha = list('abcdefghij')

print(lstalpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
p,q,*r,s,t = lstalpha



print(p,q,r,s,t, sep = '\n')

a
b
['c', 'd', 'e', 'f', 'g', 'h']
i
j

In [ ]:
#Unpacking however, is assigning the values inside a list(or a tuple) to variables. The variables are on the left and 
# the list is on the right of the expression. 

a,b,c,d,e,f = lst1

print(a,b,c,d,e,f, sep = '\n')

In [ ]:
tup1 = tuple(range(6))

a,b,c,d,e,f = tup1

print(a,b,c,d,e,f)

In [ ]:
a,b,c,d,e,f = lst2

print(a,b,c,d,e,f, sep = '\n')

In [ ]:
print(lst3)

In [ ]:
a,b,c,d,e,f = lst3

print(lst3)

print(a,b,c,d,e,f, sep = '\n')

In [ ]:
print(lst2)

In [ ]:
#The number of variables must correspond to the elements in the list (or we use the * to prefix a single variable to collect
# the rest of the elements. More on that later).

a,*b, c, d = tup1

print(a,b, c, d, sep = '\n')

print(type(a))
print(type(b))
print(type(c))

In [ ]:
print(lst1)

In [ ]:
#However, if we need only some of the variables assigned and the rest in a single list we can add the * prefix infront of
# one of the variables - and this will collect all the remaining variables after the n number of variables are each assigned
# an element from the list. 

a,b, *c = lst1

print(a,b,c, sep = '\n')

In [ ]:

a,*b,c, d = lst1

print(a,b,c, d, sep = '\n')

In [16]:
#Using this logic of unpacking multiple arguments to a function can be packed into a list and a single list with the *
#prefix can be passed into the function. 

def func_list(p,q,r,s,t):
    return p+(q*r), s+t

In [17]:
print(func_list(3,3,2,'My students', 'are amazing!'))

(9, 'My studentsare amazing!')

In [27]:
lst1 = [3,3,2,'My students ', 'are amazing! ']

In [28]:
print(func_list(*lst1))

(9, 'My students are amazing! ')

In [24]:
p,q,r,s,t = lst1

print(p,q,r,s,t, sep = '\n')

3
3
2
My students
are amazing!

In [33]:
print(__built-ins___)

NameError: name '__built' is not defined

In [23]:
print('a', 'b')

a b

In [29]:
tup1 = 9, 'My Students are amazing'

print(tup1)
print(type(tup1))

(9, 'My Students are amazing')
<class 'tuple'>

In [ ]:
p,q,r,s,t = lst1

print(p,q,r)

In [ ]:
a,b = func_list(*lst1)

print(a,b, sep = '\n')

In [ ]:
print(dir(lst1))

In [ ]:
print(type(func_list(*lst1)))

In [ ]:
a, b = func_list(*lst1)

print(a)
print(b)

In [ ]:
print(p,q,r,s,t, sep = '\n')

In [ ]:
#List methods

# 1. append - Only 1 parameter - the item to be appended which will only be appended at the end.
# 2. sort  - built-in sorted. Key paramenter which takes a function to be applied to each element. Reverse which is by default
# false (ascending order) and if made true becomes descending order sort. Sorted built-in function - by default returns a list. 
# While .sort method on lists - modifies original list and does not return anything.
# 3. reverse - built-in reversed - reversed iterator object can only be iterated over once. 
# 4. extend - difference between concatenate and extend. (a. Concatenate only between same datatypes while extend can take
# any iterables element and put them in the list. b. Extend modifies original list while concatenate creates new object.)
# 5. insert - Takes two parameters - index position at which to insert item and item itself.
# 6. remove - a. removes the element and modifies original list - no return.
# 7. pop a. by default removes last element but specific index position element to be removed can be supplied as parameter. 
# Returns the popped element.
# 8. count
# 9. clear
# 10. index

# sum, max, min, len - built-in python functions that can be used on derived datatypes. 

# Unpacking
# Being able to assign values of a iterable to multiple variables in one line. 
# Using * before a variable name means all unassigned values will be put in this variable as a list.

In [ ]:
print(dir(list))

In [1]:
lst1 = list(range(10,100,5))

print(lst1)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [2]:
x = 102,103,104

print(x)
print(type(x))

(102, 103, 104)
<class 'tuple'>

In [3]:
lst1[3:6] = 102,103,104

print(lst1)

[10, 15, 20, 102, 103, 104, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [4]:
lst1[2] = 105

print(lst1)

[10, 15, 105, 102, 103, 104, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
# #Properties of lists
# 1.	Derived datatype
# 2.	Mutable
# 3.	Subscription is supported(indexing, slicing and assignment)
# 4.	Iterable
# 5.	Ordered
# 6.	Heterogenous and duplicates are allowed. 
# 7.	Nested lists are possible. 

# #Rules Of List slice assignment
# 1.	The assigned values should be in an iterable. 
# 2.	The assigned values do not necessarily have to be in the same number as the values being assigned by the slice. 

# List methods
# Append – Adds an element to the end of the existing list. No return. Modifies original
# Extend – Adds the elements of an iterable to an existing list. No return. Modifies original.
# Clear – Removes all the elements of the list. Emptying it out. 
# Remove – Removes the first occurrence of the element specified in arguments from the list. Modifies original.
# Pop – Removes the element at specified index position in parameters (if specified. If not, removes last element). Returns the popped element. Modifies the original list.
# Copy – Creates a new list object with a new id but ids of the elements in the original list are copied into the new list object.
# Insert – Takes two parameters – index position before which to insert and element to be inserted. 
# Adds the element to the specified index position. Modifies original list.
# Reverse – Reverses the original list. No return.
# count – Returns the count of the element in the list specified in the arguments.
# Index – Returns the index position in the list of the element specified in arguments. If element not found – throws an error.
# <dtypeobject>.methodname(parameters if required)
# Concatenation and multiplication of dtypes – are operatiions. (+, *)

In [34]:
import copy

In [35]:
lst1 = [1,2,3,[4,5,[6,7]]]
lst2 = lst1
lst3 = copy.copy(lst1)
lst4 = copy.deepcopy(lst1)


print(id(lst1), id(lst2), lst1 is lst2)

print(id(lst1), id(lst3), lst1 is lst3)

print(id(lst1), id(lst4), lst1 is lst4)

1962989826944 1962989826944 True
1962989826944 1962989827456 False
1962989826944 1962989826304 False

In [36]:
for x in range(len(lst1)):
    print(lst1[x], '----->',id(lst1[x]), id(lst2[x]), id(lst3[x]), id(lst4[x]))

1 -----> 1962909854000 1962909854000 1962909854000 1962909854000
2 -----> 1962909854032 1962909854032 1962909854032 1962909854032
3 -----> 1962909854064 1962909854064 1962909854064 1962909854064
[4, 5, [6, 7]] -----> 1962989826240 1962989826240 1962989826240 1962989822912

In [38]:
for y in range(len(lst1[3])):
    print(lst1[3][y], id(lst1[3][y]), id(lst2[3][y]), id(lst3[3][y]), id(lst4[3][y]))

4 1962909854096 1962909854096 1962909854096 1962909854096
5 1962909854128 1962909854128 1962909854128 1962909854128
[6, 7] 1962989826560 1962989826560 1962989826560 1962989825920

In [39]:
print(lst1)

[1, 2, 3, [4, 5, [6, 7]]]