### Lists - Datatype

In [6]:
# Properties of lists

#1. Derived datatype i.e. collection - made up of other elements
#2. Mutable
#3. Iterable
#4. Subscription - Indexing, Slicing, Index assignment, slice assignment - all are supported
#5. Heterogenous datatypes can be stored in lists. 
#6. Nesting supported.

In [7]:
# Ways to initialise a list
# Square brackets

lst1 = [1,2,3,4]

print(lst1)
print(type(lst1))

[1, 2, 3, 4]
<class 'list'>

In [8]:
lst2 = [1,2,3,4,['a','b'],2+3j, 111.11, {'x':100, 'y':200}, {2,4,6,8}, (10,20,30)]

print(lst2)

[1, 2, 3, 4, ['a', 'b'], (2+3j), 111.11, {'x': 100, 'y': 200}, {8, 2, 4, 6}, (10, 20, 30)]

In [9]:
for item in lst2:
    print(item)

1
2
3
4
['a', 'b']
(2+3j)
111.11
{'x': 100, 'y': 200}
{8, 2, 4, 6}
(10, 20, 30)

In [10]:
lst2[3] = 44

print(lst2)

[1, 2, 3, 44, ['a', 'b'], (2+3j), 111.11, {'x': 100, 'y': 200}, {8, 2, 4, 6}, (10, 20, 30)]

In [11]:
lst2[3]

44

In [12]:
lst2[1:4]

[2, 3, 44]

In [ ]:
# Slice assignment in lists rules:
# 1. Elements being replaced do not necessarily have to number the elements replacing them. 
# 2. The items replacing the elements in the list must be in an iterable

In [13]:
lst2[1:4] = 'abcdefghij'

print(lst2)

[1, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', ['a', 'b'], (2+3j), 111.11, {'x': 100, 'y': 200}, {8, 2, 4, 6}, (10, 20, 30)]

In [ ]:
# By using the list function

In [14]:
range1 = range(100)

print(range1)
print(len(range1))

range(0, 100)
100

In [15]:
lstrange = list(range(100))

print(lstrange)
print(len(lstrange))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
100

In [16]:
lstalpha = list('abcdefghij')

print(lstalpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [17]:
lstalpha2 = list(('abcdefghij',))

print(lstalpha2)

['abcdefghij']

In [18]:
lstalpha2 = ['abcdefghij']

print(lstalpha2)

['abcdefghij']

In [21]:
lst1 = list((10,20))

print(lst1)

[10, 20]

In [22]:
# Concatenation and multiplication

lst1 = list('abcde')
lst2 = list('fghij')

print(lst1)
print(lst2)

['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h', 'i', 'j']

In [23]:
lst3 = lst1 + lst2

print(lst3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
# Concatenation can only be performed between same datatype

# All overloaded operators - >,<,==,!=, <=, >= - when they are not being used for arithmetic i.e. special capabilities given
# to these operators in programming will only work between same datatype
lst4 = lst1 + 'fghij'

print(lst4)

TypeError: can only concatenate list (not "str") to list

In [25]:
print('a' > 10)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
print('a' > ['a'])

TypeError: '>' not supported between instances of 'str' and 'list'

In [27]:
print('a' == ['a'])

False

In [ ]:
# 'Rikki'

# Internal algorithm that calculates a value BASED ON THE ELEMENTS CONTAINED. Hash Value - stored in metadata

# == 
# 1. R i k k i = [R i k k i ]

# 2. Compare the hash values

# Rikki 
# Rikki

# Same hash values for same object


# x * 5 + 7 x 3 / 14 ** 3 ** (1/5) 


# x = 5
# x = 7

# Expect different results
# x = 5, x = 5


# If it is an immutable datatype - Can its hash value change over the objects lifetime?

# lst1 = ['R', 'i', 'k', 'k','i']

# For mutable objects - their hash values can change over time. 


# == hash value is only checked

# immutable datatypes - are hashable
# mutable datatypes = are unhashable

In [28]:
dict1 = {'a':100, 'b':200}

print(dict1)

{'a': 100, 'b': 200}

In [30]:
dict2 = {['a','b']:100, 'c':200}

print(dict2)

TypeError: unhashable type: 'list'

In [31]:
# Multiplication of lists

str1 = 'abc'*5

print(str1)

abcabcabcabcabc

In [32]:
lst1 = [1,2,3,4]

print(lst1*5)

# Will this give one list with 1,2,3,4 repeated 5 times
# Will this give 5 lists of 1,2,3,4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [33]:
#print(lst1)*5

[1, 2, 3, 4]

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
# Aliasing, copying, deepcopying

# methods of lists
# + List comprehension (easy syntax for creating lists)

In [34]:
import numpy as np

In [35]:
x = np.random.choice(['AliasingEtc', 'Methods'])

print(x)

Methods

In [36]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# 'append',- X
# 'clear', - X
# 'copy', - X 
# 'count', - X
# 'extend' - X
# 'index', - X
# 'insert', - X
# 'pop', - X
# 'remove', - X
# 'reverse', - X
# 'sort'

In [37]:
# Count method

#1 Parameter - Elements to be counted

lst1 = list('xyzabpqbrabcdabba')

print(lst1)

['x', 'y', 'z', 'a', 'b', 'p', 'q', 'b', 'r', 'a', 'b', 'c', 'd', 'a', 'b', 'b', 'a']

In [38]:
print(lst1.count('a'))

4

In [39]:
# Copy method creates a copy of the list being copied.

# 1 No parameters.

lst2 = lst1.copy()

print(lst2)

['x', 'y', 'z', 'a', 'b', 'p', 'q', 'b', 'r', 'a', 'b', 'c', 'd', 'a', 'b', 'b', 'a']

In [40]:
lst3 = []

lst3 += lst1

print(lst3)

['x', 'y', 'z', 'a', 'b', 'p', 'q', 'b', 'r', 'a', 'b', 'c', 'd', 'a', 'b', 'b', 'a']

In [41]:
print(id(lst1))
print(id(lst3))

2008500211328
2008478565888

In [42]:
print(lst3)

['x', 'y', 'z', 'a', 'b', 'p', 'q', 'b', 'r', 'a', 'b', 'c', 'd', 'a', 'b', 'b', 'a']

In [86]:
# Clear method - clears the list of all elements while retaining the memory ID i.e. list itself exists but is empty.

# No parameters

lst3.clear()

print(lst3)

[]

In [60]:
lst1 = list(range(10))

print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
lst2 = lst1.clear()

print(lst2)

None

In [62]:
print(lst1)

[]

In [44]:
print(id(lst3))

2008478565888

In [66]:
# Functions and return keyword

# This function only performs an action
lst1 = [1,2,3,4]

print(lst1)

[1, 2, 3, 4]

In [67]:
def append1(arg1, element):
    arg1 += [element]

In [53]:
def funct1(arg1,element):
    arg1 += [element]
    return arg1

In [49]:
x = funct(lst1,5)

print(x)

None

In [50]:
print(lst1)

[1, 2, 3, 4, 5]

In [54]:
x = funct1(lst1, 5)

print(x)
print(lst1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [56]:
def funct1():
    print('Deliver Mobile phone')

In [57]:
def funct2():
    print('Deliver Mobile Phone')
    return 'Money'

In [58]:
drawer = funct1()

print(drawer)

Deliver Mobile phone
None

In [59]:
drawer = funct2()
print(drawer)

Deliver Mobile Phone
Money

In [63]:
# append

lst1 = [1,2,3,4]

print(lst1)

[1, 2, 3, 4]

In [68]:
x = lst1.append(5)

print(x)

None

In [65]:
print(lst1)

[1, 2, 3, 4, 5]

In [69]:
lst2 = lst1 + [5]

print(lst2)

[1, 2, 3, 4, 5, 5]

In [73]:
# extend function extends the original list by adding the elements of specified iterable

# 1 Parameter - iterable whose elements to be added to original list.

lst1 = list(range(5))
lst2 = list(range(6,11))

print(lst1)
print(lst2)

[0, 1, 2, 3, 4]
[6, 7, 8, 9, 10]

In [71]:
lst3 = lst1.extend(lst2)

print(lst3)

None

In [72]:
print(lst1)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [74]:
tup1 = tuple(lst2)

print(tup1)

(6, 7, 8, 9, 10)

In [75]:
lst1.extend(tup1)

print(lst1)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
# Concatenation and extend - Difference?

# 1. Concatenation can only be performed between same datatype. Extend will allow one iterable as its parameter and the 
# elements of that iterable will be added to list.
# 2. Concatenation - Creates a new object while extend modifies the ORIGINAL list.

In [79]:
lst1 = list(range(5))
lst2 = list(range(6,11))

lst3 = lst1 + lst2

print(lst3)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [80]:
lst1.extend(lst2)

print(lst1)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [85]:
# Index

# String has - find, index, rfind and rindex. LISTS HAVE ONLY INDEX METHOD!!!

# Like the string index method - it takes 3 parameters:

#1. Element to be found in list - Mandatory
#2. Start index - Optional. Defaults to begining of list
#3. Stop Index - Optional - Defaults to end of list. However, if we need to give stop then start index must be given(can be
# set to 0)

In [82]:
lst1 = list('abcdefghijabcde')

print(lst1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [84]:
x = lst1.index('j')

print(x)

9

In [108]:
idx = lst1.index('a')

print(idx)

1

In [87]:
# Append, insert

# Append - adds an element to end of list. 

# 1 Parameter - element to be added to END of list - NOWHERE ELSE.

lst1 = [1,2,3,4]

lst2 = lst1.append('b')

print(lst2)

None

In [88]:
print(lst1)

[1, 2, 3, 4, 'b']

In [89]:
# insert - Inserts an element at specified index position. 

# Two parameters : 

#1. Index position at which the element will be added. 
#2. Element to be added. 

# Note that when we use insert (as with append) - length of list changes i.e. increase by 1. ALL the elements to the right
# of the inserted element increase their index position by 1. 

lst1 = list('Aash')

print(lst1)

['A', 'a', 's', 'h']

In [90]:
lst1.insert(1,'k')

print(lst1)

['A', 'k', 'a', 's', 'h']

In [93]:
lst1 = list('Akas')

print(lst1)

print(lst1[3])

['A', 'k', 'a', 's']
s

In [94]:
lst1.append('h')

In [95]:
print(lst1)

['A', 'k', 'a', 's', 'h']

In [96]:
print(lst1[3])

s

In [98]:
lst1 = list('Aash')

print(lst1)
print(lst1[1])

['A', 'a', 's', 'h']
a

In [99]:
lst1.insert(1,'k')

print(lst1)
print(lst1[2])

['A', 'k', 'a', 's', 'h']
a

In [100]:
lst1.insert(4,'M')

print(lst1)

['A', 'k', 'a', 's', 'M', 'h']

In [106]:
# Reverse - Reverses the elements of original list. Takes no parameters.

lst1 = list('Chaudhary Sagar')

print(lst1)

['C', 'h', 'a', 'u', 'd', 'h', 'a', 'r', 'y', ' ', 'S', 'a', 'g', 'a', 'r']

In [107]:
x = lst1.reverse()

print(x)
print(lst1)

None
['r', 'a', 'g', 'a', 'S', ' ', 'y', 'r', 'a', 'h', 'd', 'u', 'a', 'h', 'C']

In [111]:
# remove - Removes the first occurrence of specified element from list. 

# Takes one parameter - the element to be removed. 

lst1 = list('abcdeedcbabcdea')

print(lst1)

['a', 'b', 'c', 'd', 'e', 'e', 'd', 'c', 'b', 'a', 'b', 'c', 'd', 'e', 'a']

In [110]:
lst1.remove('a')

print(lst1)

['b', 'c', 'd', 'e', 'e', 'd', 'c', 'b', 'a', 'b', 'c', 'd', 'e', 'a']

In [112]:
for x in range(lst1.count('a')):
    lst1.remove('a')
    
print(lst1)

['b', 'c', 'd', 'e', 'e', 'd', 'c', 'b', 'b', 'c', 'd', 'e']

In [113]:
# pop - 'Pops'<removes> the element at specified INDEX position and returns which element was 'popped'<removed>

# Takes one parameter - index position of element to be popped. 
# Defaults to popping last element if not specified

lst1 = list('abcdeedcbabcdea')

x = lst1.pop(7)

print(x)

c

In [114]:
print(lst1)

['a', 'b', 'c', 'd', 'e', 'e', 'd', 'b', 'a', 'b', 'c', 'd', 'e', 'a']

In [115]:
y = lst1.pop()

print(y)

a

In [116]:
print(lst1)

['a', 'b', 'c', 'd', 'e', 'e', 'd', 'b', 'a', 'b', 'c', 'd', 'e']

In [117]:
# Difference between remove and pop

#1. Remove - we know the element to be removed and are not concerned with its index position. 
#   Pop - we want to remove an element at specified INDEX position and MAY want to see what the element popped was. 
#2. Remove modifies original list and returns NOTHING. Pop - modifies the original list but returns the element at the
# specified index position. 
#3. Remove takes one MANDATORY parameter i.e. element to be removed. Pop - takes an OPTIONAL parameter - index position of
# element to be removed. If not specified, pops the last element.

In [ ]:
# List methods we have seen:

# count, copy, clear, index, extend, append, reverse, remove, pop, insert

In [4]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# Sort method on lists

# Sorts the elements of the list in order. 

# It takes two optional parameters:

# Reverse = False by default and sorts in ascending order. If reverse is set to True then will sort in descending order.
# Key

In [8]:
import numpy as np

lst1 = list(np.random.randint(1,101,10))

print(lst1)

[9, 10, 98, 51, 53, 53, 71, 55, 3, 82]

In [9]:
lst1.sort(reverse=True)


print(lst1)

[98, 82, 71, 55, 53, 53, 51, 10, 9, 3]

In [11]:
lstnames = list('akgjXYkgRvag')

print(lstnames)

lstnames.sort()

print(lstnames)

['a', 'k', 'g', 'j', 'X', 'Y', 'k', 'g', 'R', 'v', 'a', 'g']
['R', 'X', 'Y', 'a', 'a', 'g', 'g', 'g', 'j', 'k', 'k', 'v']

In [12]:
lstnames = ['Ashish', 'Sachin', 'Ashish', 'Rafiya', 'Taniya', 'Akash']

lstnames.sort()

print(lstnames)

['Akash', 'Ashish', 'Ashish', 'Rafiya', 'Sachin', 'Taniya']

In [13]:
# Internally the program for sort uses comparison operators <, > to sort the elements in order.

In [14]:
lst1 = [1,'Ashish', 2+3j, {10,20}, (100,200)]

lst1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [16]:
# key parameter in sort

lstnames = ['Sagar', 'Ankush', 'Rashmika', 'Ashutosh', 'Rajnish', 'Parth', 'Ebi', 'Himanshu', 'Ravi', 'Mehak', 'Bharath',\
           'Srinijoy']

lstnames.sort(key= len)

print(lstnames)

['Ebi', 'Ravi', 'Sagar', 'Parth', 'Mehak', 'Ankush', 'Rajnish', 'Bharath', 'Rashmika', 'Ashutosh', 'Himanshu', 'Srinijoy']

In [ ]:
# Step 1

# Each element will be sent to the function that is given and evaluated.

# 5, 6, 8, 8, 7, 5, 3, 8, 4, 5, 7, 8

# # Step 2

# # Output of the function will be sorted

# 3,4,5,5,5,6,7,7,8,8,8,8

# # Step 3 - The elements that gave the corresponding output will be put in the sorted order.

# Ebi, Ravi, Sagar, Parth, Mehak, Ankush, Rajnish, Bharath, Rashmika, Ashutosh, Himanshu, Srinijoy

In [17]:
lst1 = []
for x in range(5):
    lst1.append(list(np.random.randint(1,101,3)))
    
    
print(lst1)

[[71, 6, 80], [38, 99, 67], [40, 63, 73], [41, 17, 96], [5, 17, 58]]

In [19]:
lst1.sort(key = sum,reverse = True)

print(lst1)

[[38, 99, 67], [40, 63, 73], [71, 6, 80], [41, 17, 96], [5, 17, 58]]

In [20]:
# Definition

def funct(x):
    return x * 2

In [21]:
# Function call

y = funct(10)

print(y)

20

In [22]:
lstage = [('Bharath', 28),('Rajnish', 27), ('Parth', 24),('Anindita',25), ('Ashutosh', 35)]

print(lstage)

[('Bharath', 28), ('Rajnish', 27), ('Parth', 24), ('Anindita', 25), ('Ashutosh', 35)]

In [24]:
lstage.sort()
print(lstage)

[('Anindita', 25), ('Ashutosh', 35), ('Bharath', 28), ('Parth', 24), ('Rajnish', 27)]

In [26]:
# Use a userdefined function to sort the lstage by age i.e. 2nd element. Use the key parameter of sort.

def funct1(x):
    return x[1]


lstage.sort(key = funct1)

print(lstage)

[('Parth', 24), ('Anindita', 25), ('Rajnish', 27), ('Bharath', 28), ('Ashutosh', 35)]

In [ ]:
# Step 1

# 28, 27, 24, 25, 35

# Step 2

# 24,25,27,28, 35

# Step 3

# ("Parth", 24), ('Anindita',25)......

In [28]:
lst1 = []
for x in range(5):
    lst1.append(list(np.random.randint(1,101,3)))
    
    
print(lst1)

[[51, 40, 20], [99, 20, 57], [91, 31, 79], [76, 88, 9], [90, 86, 2]]

In [29]:
# Sort the outer list based on the maximum value present in the inner lists.

lst1.sort(key = max)

In [30]:
print(lst1)

[[51, 40, 20], [76, 88, 9], [90, 86, 2], [91, 31, 79], [99, 20, 57]]

In [31]:
lstmarks = [('Mannava',[51, 40, 20]),('Rafiya',[99, 20, 57]),('Sandeep', [91, 31, 79]),('Taniya',[76, 88, 9]),('Ebi',[90, 86, 2])]

print(lstmarks)

[('Mannava', [51, 40, 20]), ('Rafiya', [99, 20, 57]), ('Sandeep', [91, 31, 79]), ('Taniya', [76, 88, 9]), ('Ebi', [90, 86, 2])]

In [33]:
def funct1(x):
    return max(x[1])


lstmarks.sort(key=funct1)

print(lstmarks)

[('Mannava', [51, 40, 20]), ('Taniya', [76, 88, 9]), ('Ebi', [90, 86, 2]), ('Sandeep', [91, 31, 79]), ('Rafiya', [99, 20, 57])]

In [34]:
# Sorted Built-In Python function

print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [35]:
tup1 = tuple(np.random.randint(1,100,10))

print(tup1)

(30, 32, 15, 2, 49, 61, 39, 42, 17, 27)

In [38]:
tup2 = sorted(tup1, reverse = True)

print(tup2)

[61, 49, 42, 39, 32, 30, 27, 17, 15, 2]

In [ ]:
#.sort function is available to lists. 
# sorted (built-in Python function) is available to any iterable (INCLUDING to LISTs)

# And therefore the syntax - Since .sort is a list METHOD syntax is:

#lstname.sort()

# Since sorted is a built-in python function syntax is:

# sorted(iterablename)

# .sort function modifies the original list and returns nothing. 
# sorted function returns a new object <always a list> which can be stored in a variable. If the original datatype is 
# required back then explicit typecasting has to be performed.

# Both .sort and sorted take the key and reverse parameters - and in both cases the functionality of these is IDENTICAL.

In [37]:
print(tup1)

(30, 32, 15, 2, 49, 61, 39, 42, 17, 27)

In [39]:
str1 = 'Rikki'

str2 = sorted(str1)


print(str2)

['R', 'i', 'i', 'k', 'k']

In [40]:
str3 = str(str2)

print(str3)

['R', 'i', 'i', 'k', 'k']

In [41]:
new_str = ''
for x in str2:
    new_str += x
    
print(new_str)

Riikk

In [42]:
str3 = ''.join(str2)

print(str3)

Riikk

#### reversed built-in python method

#### Reverses the given ITERABLE and outputs a 

## reversed_iterator_object

###### Iterator objects can only be iterated over ONCE. We will learn more about generator objects(sub-class of iterator objects) in the functions topic.

In [43]:
tup1 = tuple(np.random.randint(1,100,10))

print(tup1)

(60, 99, 13, 69, 15, 72, 10, 4, 33, 7)

In [48]:
tup2 = list(reversed(tup1))

print(tup2)

[7, 33, 4, 10, 72, 15, 69, 13, 99, 60]

In [49]:
for x in tup2:
    print(x)

7
33
4
10
72
15
69
13
99
60

In [ ]:
# Differences between .reverse method on lists and reversed built-in python function.

# .reverse can only be used on lists while reversed can be used on any iterable
# .reverse modifies the original list and returns NONE. reversed returns a new object which is a 'reversed_iterator_object'

# If we required the reversed iterator object in some other form we have to explicitly typecast it.
# iterator objects can only be iterated over once. 
# If we need to iterate over the output more than once - we need to explicitly typecast it.

### List Comprehension

In [50]:
lst1 = list(np.random.randint(1,100,10))

print(lst1)

[4, 98, 62, 94, 25, 61, 25, 85, 87, 68]

In [51]:
# Need a new list <lst2> with all the elements of lst1 - each multiplied by 2

lst2 = []

for x in lst1:
    lst2.append(x*2)
    
    
print(lst2)

[8, 196, 124, 188, 50, 122, 50, 170, 174, 136]

In [ ]:
# Python offers a simple syntax to create a new list from an iterable using list comprehension

In [52]:
lst3 = [x*2 for x in lst1]

print(lst3)

[8, 196, 124, 188, 50, 122, 50, 170, 174, 136]

In [53]:
lst4 = [x*2 for x in lst1[4:8]]

print(lst4)

[50, 122, 50, 170]

In [55]:
lstnames = ['Piya', 'Bharath', 'Akash']
line = ['Kesariya tera ishq hai ', 'Sab se achha ', 'Neela neela ']

lstline = [line[x]+lstnames[x] for x in range(len(lstnames))]

print(lstline)

['Kesariya tera ishq hai Piya', 'Sab se achha Bharath', 'Neela neela Akash']

In [ ]:
# if and else with comprehensions - <tuples and dictionaries ALSO support comprehension>. 

# If both if and else are present - the if/else will come BEFORE the for loop
# If only IF is present - it comes AFTER the for loop
# Elif is NOT supported in comprehensions. 
# MULTIPLE if / else will be treated as NESTED if else conditons.

In [57]:
lst1 = list(np.random.randint(1,100,10))

print(lst1)

[86, 52, 38, 42, 55, 33, 23, 67, 62, 78]

In [58]:
lst2 = [x*2 if x%2==1 else x*5 for x in lst1]

print(lst2)

[430, 260, 190, 210, 110, 66, 46, 134, 310, 390]

In [59]:
lst3 = [x*2 for x in lst1 if x%2 == 0]

print(lst3)

[172, 104, 76, 84, 124, 156]

In [60]:
lst2 = [x*2 for x in lst1 if x%2==1 else x*5]

print(lst2)

SyntaxError: invalid syntax (100790868.py, line 1)

In [61]:
lst3 = [x*2 if x%2 == 0 for x in lst1]

print(lst3)

SyntaxError: invalid syntax (2123759018.py, line 1)

In [78]:
range1 = range(10)

print(range1)
print(type(range1))

range(0, 10)
<class 'range'>

In [81]:
str1 = str(range1)

print(str1)
print(type(str1))

for x in str1:
    print(x)

range(0, 10)
<class 'str'>
r
a
n
g
e
(
0
,

1
0
)

In [82]:
lst1 = [1,2,3,4]

str2 = str(lst1)

print(str2)

for x in str2:
    print(x)

[1, 2, 3, 4]
[
1
,

2
,

3
,

4
]

In [83]:
name = 'Srinjoy'
namerev = reversed(name)

print(namerev)

<reversed object at 0x00000201E11AED60>

In [84]:
strrev = str(namerev)

print(strrev)
print(type(strrev))

<reversed object at 0x00000201E11AED60>
<class 'str'>

In [85]:
for x in strrev:
    print(x)

<
r
e
v
e
r
s
e
d

o
b
j
e
c
t

a
t

0
x
0
0
0
0
0
2
0
1
E
1
1
A
E
D
6
0
>

In [62]:
print(lst1)

[86, 52, 38, 42, 55, 33, 23, 67, 62, 78]

In [63]:

for x in lst1:
    if x%2==0:
        print(x*2)
    else:
        print(x*3)
        if x > 50:
            print(x/50)

172
1.72
104
1.04
76
84
165
1.1
99
69
201
1.34
124
1.24
156
1.56

In [64]:
print(lst1)

[86, 52, 38, 42, 55, 33, 23, 67, 62, 78]

In [68]:
lst3 = [x*2 if x%2==0 else x*3 if x>50 else x for x in lst1]

print(lst3)

[172, 104, 76, 84, 165, 33, 23, 201, 124, 156]

In [70]:
### Unpacking

x = [1,2,3,4]

a = x[0]
b = x[1]
c = x[2]
d = x[3]

print(a,b,c,d, sep = '---')

1---2---3---4

In [71]:
p,q,r,s = x

print(p,q,r,s, sep = '---')

1---2---3---4

In [72]:
j,k,l = x

print(j,k,l, sep = '---')

ValueError: too many values to unpack (expected 3)

In [73]:
j,k,*l = x

print(j,k,l, sep = '---')

1---2---[3, 4]

In [74]:
j,*k,l = x

print(j,k,l, sep = '---')

1---[2, 3]---4

In [75]:
*j,k,l = x

print(j,k,l, sep = '---')

[1, 2]---3---4

In [76]:
j,*k,*l = x

print(j,k,l, sep = '---')

SyntaxError: multiple starred expressions in assignment (771401005.py, line 1)