# Datatypes - Tuples

In [ ]:
#Tuples are another derived datatype in Python. They retain some of the versatility of lists except that they are immutable
# unlike Lists. Since they are immutable, a lot of functions like append, extend, remove, pop and clear which can be used
# on lists cannot be used on Tuples. 

# Tuples come in handy when we need a datatype that can store different types of elements but cannot be mutated. 

# Special Note - if the elements in the Tuple are mutable objects - since the tuple is only saving the memory location of 
# the object AND tuples support indexing - one CAN access the mutable object inside the tuple and mutate that particular
# element - indirectly mutating the tuple. More on that - with examples - later. 

# Tuples have the following properties : 
#a. Derived datatype
#b. Sequential and Ordered
#c. Immutable
#d. Can hold different kinds of datatypes - including mutable objects. Heterogenous. 
#e. Indexing and Slicing is supported. Item assignment - Not supported
#f. Iterable
#g. Nesting is possible.

In [ ]:
# Derived datatype
# heterogenous
# iterable
# immutable
# nesting is possible
# subscription - only indexing and slicing are supported but since it is immutable - assignment is not supported.

In [1]:
tup1 = 2,2,2,2

print(tup1)
print(type(tup1))

(2, 2, 2, 2)
<class 'tuple'>

In [8]:
stu_marks = ('SID0010', 'Rajeev', [30,40,50,60])
print(type(stu_marks))

<class 'tuple'>

In [6]:
stu_marks_list = ['SID0010', 'Rajeev', [30,40,50,60]]

stu_marks_list[0] = 'SID0011'
print(stu_marks_list)

['SID0011', 'Rajeev', [30, 40, 50, 60]]

In [13]:
x = 100,

print(x)
print(type(x))

(100,)
<class 'tuple'>

In [17]:
# tuple function to initialise a tuple will take maximum ONE iterable as its argument.

In [15]:
tup1 = tuple(stu_marks_list)

print(tup1)

('SID0011', 'Rajeev', [30, 40, 50, 60])

In [16]:
tup2 = tuple()

print(tup2)
print(type(tup2))

()
<class 'tuple'>

In [3]:
#To initiate a tuple, just use round brackets around the elements, separated by a comma. 

tup1 = (1,2,3,4,4)

print(tup1)
print(type(tup1))

(1, 2, 3, 4, 4)
<class 'tuple'>

In [4]:
tup2 = 1,2,3,4,4

print(tup2)
print(type(tup2))

(1, 2, 3, 4, 4)
<class 'tuple'>

In [5]:
tup3 = (1,)

print(tup3)
print(type(tup3))

(1,)
<class 'tuple'>

In [6]:
tup4 = 1,

print(tup4)
print(type(tup4))

(1,)
<class 'tuple'>

In [12]:
tup1 = tuple('abcde')

print(tup1)
print(type(tup1))

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [13]:
for x in tup1:
    print(x)

a
b
c
d
e

In [7]:
tupnumber = tuple('abcde')
print(tupnumber)

('a', 'b', 'c', 'd', 'e')

In [8]:
range1 = range(10)

tuprange = tuple(range1)

print(tuprange)
print(type(tuprange))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
# Alternately use the tuple constructor with an iterable as a parameter. Just like lists. 

tup2 = tuple('abcde')

print(tup2)
print(type(tup2))

In [9]:
#If you wish to save the iterable(sequential) object as just one object - use the parenthesis.

tup3 = ('abcde',)

print(tup3)
print(type(tup3))

# print(len(tup3))

# for x in tup3:
#     print(x)

('abcde',)
<class 'tuple'>

In [14]:
tuplist = tuple([[1,2,3,4],[100,200],'a'])

print(tuplist)
print(type(tuplist))

([1, 2, 3, 4], [100, 200], 'a')
<class 'tuple'>

In [15]:
tup1 = (1,'a', 10.2, [100,200])


print(tup1)

(1, 'a', 10.2, [100, 200])

In [18]:
import copy

tup2 = copy.copy(tup1)

print(tup2)

(1, 'a', 10.2, [100, 200])

In [19]:
print(id(tup1[3]))

print(id(tup2[3]))

print(id(tup1[3]) == id(tup2[3]))

1752425108352
1752425108352
True

In [20]:
tup1[3][0] = 101


print(tup1)
print(tup2)

(1, 'a', 10.2, [101, 200])
(1, 'a', 10.2, [101, 200])

In [24]:
import copy

tup3 = copy.deepcopy(tup1)

tup1[3][0] = 1111

print(tup1)
print(tup2)
print(tup3)

(1, 'a', 10.2, [1111, 200])
(1, 'a', 10.2, [1111, 200])
(1, 'a', 10.2, [111, 200])

In [25]:
lst2 = (1,'a', 10.2,-1, [100,200, (10,20,30)])

print(lst2)

(1, 'a', 10.2, -1, [100, 200, (10, 20, 30)])

In [28]:
lst2[4][-1] = (11,22,33)

print(lst2)

(1, 'a', 10.2, -1, [100, 200, (11, 22, 33)])

In [22]:
for x in range(len(tup1)):
    print(tup1[x], id(tup1[x]), id(tup2[x]), id(tup3[x]))

1 1754489186608 1754489186608 1754489186608
a 1754493798000 1754493798000 1754493798000
10.2 1752424806800 1752424806800 1752424806800
[111, 200] 1752425108352 1752425108352 1752425104256

In [ ]:
tup3 = (10*10,)
print(tup3)
print(type(tup3))

In [ ]:
tup3 = 10,20,30

print(tup3)
print(type(tup3))

In [ ]:
tup3 = 1,

print(tup3)
print(type(tup3))

In [ ]:
#Note the comma after the element in the above syntax. This tells Python that we did not mean to just put a single element
# inside the variable but to create a tuple which contains one element. 

tup4 = ('abcde')

print(tup4)
print(type(tup4))

In [ ]:
#Note, how in the above case (since it was without a comma after the element), Python understood it as a single element
# and not a tuple.

In [ ]:
# A tuple can even be initialised without the round brackets. 

tup5 = (1,)

print(tup5)
print(type(tup5))

In [ ]:
tup6 = 'abcde',

print(tup6)
print(type(tup6))

In [ ]:
#As with the syntax of element without comma - while using brackets - the same holds true if you do not use brackets. 

tup7 = 'abcde'

print(tup7)
print(type(tup7))

In [19]:
#Tuples can hold different datatypes. 

tup1 = (1,'abcde', 2001, 10.2, [1,2,3,4], {'a':1001, 200 : ['Rock', 'Paper', 'Scissors']}, 
        ('BMW', 'Audi', 'Merc', 'Rolls', 'Maybach'), 10 + 11j)

print(tup1)
print(type(tup1))

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']}, ('BMW', 'Audi', 'Merc', 'Rolls', 'Maybach'), (10+11j))
<class 'tuple'>

In [20]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
#As with other sequential objects we have learnt - they support indexing and slicing. 

print(tup1[4][2])

3

In [31]:
tup2 = tup1[:6]

print(tup2)
print(type(tup2))

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']})
<class 'tuple'>

In [32]:
#However, they do not support assignment on the immutable objects in them i.e. the tuples themselves are immutable. 

tup2[2] = 20

print(tup2)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup2[4][1] = 20

print(tup2)

In [ ]:
aliasing and copying in Tuples - is the same thing. Because anyway even if I were to alias - I would not be able to change
the 
immutable elements in a tuple.

In [ ]:
lst1 = list(tup2)

print(lst1)

In [ ]:
#In lists we could have reassigned the item at index 0. 

lst1[0] = 2

print(lst1)

In [ ]:
print(tup2)

In [ ]:
lst1 = [1,2,[100,200]]

lst1[2] = [1000,2000]

print(lst1)

In [ ]:
#However, in a tuple, the mutable elements can be altered. The idea is - since the tuple is holding the memory ids of the
# objects inside it, we cannot change the objects that it is holding. However, if we were to alter the mutable object that
# is inside the tuple, the id of that object does not change and the immutability idea of tuples is not violated. 
print(tup2)

In [ ]:
tup2[4][0] = 101

print(tup2)

In [ ]:
# tup2[5][200][1] = 'Fire'

# print(tup2)

In [ ]:
print(tup2)

In [ ]:
# We can perform iteration on tuples. 

for a in tup2:
    print(a)

In [ ]:
print(tup2)

In [33]:
#All basic operations such as len(), concatenation, repetition and membership can be performed.

print(len(tup2))

6

In [21]:
#Concatenation in tuples 

tup1 = tuple('abcde')

tup2 = 1,2,3,4

print(tup1)
print(tup2)

('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4)

In [ ]:
# +, -, <, >, ==, >=, =< - for arithmetic operations will work between numbers

In [ ]:
# +, -, <, >, ==, >=, =< - Overloaded operators when used for concatenation or repetition etc they will only work between 
# same datatype.

In [40]:
tup3 = tup1 + tup2

print(tup3)

TypeError: can only concatenate tuple (not "list") to tuple

In [41]:
print(tup1)

('a', 'b', 'c', 'd', 'e')

In [42]:
tup4 = tup1*3

print(tup4)

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [37]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#Note how tup1 and tup2 have not changed. 

print(tup1)
print(tup2)

In [ ]:
print(id(tup1))
print(id(tup2))
print(id(tup3))

In [ ]:
#Even if we were to assign the same variable name to tup1, the ids of both objects would be different since a new object
# has been created. 

id_1 = id(tup1)

tup1 = tup1 + tup2

print(tup1)

id_2 = id(tup1)

In [ ]:
print(id_1, id_2)
print(id_1 is id_2)

In [ ]:
#Repetition in Tuples

In [ ]:
print(tup2)

In [ ]:
print(tup2*4)

In [ ]:
tup3 = tup2*4

print(tup3)

In [ ]:
tup_rev = []
for x in range(3):
    tup_rev.append(tup2)
tup_rev = tuple(tup_rev)

print(tup_rev)

In [ ]:
#Note again, that tuples are immutable themselves, repetition returns a new tuple object.

In [43]:
#Membership in tuples

tup1 = (1,'abc', [100, 200, 2012, 10.2], 'xyz')

print(tup1)
print(type(tup1))

(1, 'abc', [100, 200, 2012, 10.2], 'xyz')
<class 'tuple'>

In [ ]:
print('abc' in tup1)

In [ ]:
print(100 in tup1)

In [ ]:
print(100 in tup1[2])

In [ ]:
print(100 not in tup1)

In [ ]:
print(100 not in tup1[2])

In [44]:
#index() method returns the index no. of the first occurrence of the element being searched.

tup1 = (1,'abc', [100, 200, 2012, 10.2], 'xyz')

print(tup1.index('xyz'))

3

In [45]:
#It returns a value error if the item is not found in the tuple. 

print(tup1.index('Python'))

ValueError: tuple.index(x): x not in tuple

In [47]:
#It takes 3 parameters

#1. The element to be found  Mandatory
#2. The start index. Optional - Defaults to 0
#3. The stop index. Optional - Defaults to length of tuple. 

tup1 = (1, 'abc',[100, 200, 2012, 10.2], 'xyz', 'abc')

print(tup1.index('abc',3))

4

In [ ]:
str1 = 'hello there'
str2 = ''

for i in str1:
    str2 = i + str2
    
print(str2)

In [ ]:
str1 = 'hello there'

str2 = ''

for i in range(len(str1)-1,-1,-1):
    str2 += str1[i]
    
print(str2)

In [ ]:
print(dir(tuple))

In [ ]:
print(tup1.index('xyz',1))

In [ ]:
print(tup1)

In [ ]:
print(tup1.index(1,1,-1))

In [ ]:
print(tup1.index(1,-1))

In [49]:
# min() Pyton built-in method on Tuples returns the minimum value of the elements of the tuple. Can not be performed with
# different datatypes inside the tuple. 

tup1 = 1,2,3,4

print(type(tup1))

<class 'tuple'>

In [50]:
print(min(tup1))

1

In [51]:
#max() Python built-in method on tuples returns the maximum value of the elements of the tuple. Can not be performed with
# different datatypes(unless between float and integer) inside the tuple. 

print(max(tup1))

4

In [ ]:
tup2 = 1,10.2,4

print(max(tup2))

In [ ]:
tup3 = 1,2,10.2,4,1001,3, 7, 14

In [ ]:
print(tup3.index(max(tup3)))

In [ ]:
for i in range(len(tup3)):
    if tup3[i] == max(tup3):
        print(i)

In [ ]:
#print(tup3.index(max(tup3)))

for i in range(len(tup3)):
    if tup3[i] == max(tup3):
        print(i)

#Note how even though the element at 2nd index is a float, Python can compare the values and decide the max and min values.

In [ ]:
tup3 = 1,2,10.2,4,1001,3, 7, 14, 1001

var1 = float('-inf')

for i in tup3:
    if i > var1:
        var1 = i
        
print(var1)

In [52]:
tup3 = 1,2,10.2,4,1001,3,4, 7, 14, 1001


print(tup3.count(1001))

2

In [ ]:
var1 = tup3[0]

for i in tup3:
    if i > var1:
        var1 = i
        
print(var1)

In [ ]:
tup4 = 1,2,4,[100,200,1000]

print(type(tup4))

In [ ]:
print(min(tup4))

In [ ]:
#Note how even though the elements in the list are all numbers, Python has no way of comparing an integer to a list.

In [ ]:
print(dir(tuple))

In [54]:
#Unlike lists, tuples do not have a sort method. But we can use the Python built-in sorted function to sort tuples. 

tup1 = 101,11, 79.2, 23.12, 2, 82

In [55]:
tup2 = tuple(sorted(tup1))
print(tup1)
print(tup2)

(101, 11, 79.2, 23.12, 2, 82)
(2, 11, 23.12, 79.2, 82, 101)

In [ ]:
tup2 = 101,'abc', 79, 23, 2,82

print(sorted(tup2))

In [1]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#Note again how sorted does not work with different datatypes in the tuple.

In [ ]:
#Sorted function takes 3 parameters

#1. Iterable to be sorted - Mandatory
#2. reverse key = False by default. And returns the tuple sorted in ascending order. To get a tuple in descending order 
# change this parameter to True. 
#3. Key - Optional. Sorts by value by default. However, if provided can use any function to evaluate the elements and sort
# them based on the output. 

tup3 = 'Abracadabra', 'Python', 'X', 'National Basketball Association', 'RRR'

print(sorted(tup3))

In [ ]:
print(sorted(tup3, reverse=True))

In [ ]:
print(sorted(tup3, key = len, reverse = True))

In [ ]:
print(tup3)

In [ ]:
#Note how the original tup3 has not been changed. Sorted returns a new list object and type cast to tuple (if we need a tuple
# which needs to be assigned to a variable in case we need to use the output tuple further. 

tup4 = sorted(tup3, reverse = True, key = len)

print(tup4)

In [ ]:
tup1 = (18,16,22)

def mod_tup(x):
    return x%5

print(mod_tup(16))

In [ ]:
tup4 = sorted(tup1, key = mod_tup)

print(tup4)

In [57]:
#Nested Tuples - We can create tuples nested inside each other. 

tup_nest = ((1, 'jkl', [62,70,82], 21),(2, 'ghi', [51,100,51], 22),(3, 'abc', [60,100,70], 24),
           (4, 'def', [62,81,71], 20),(5, 'xyz', [55,75,86], 19),(3, 'pqr', [91,99,92], 24))

print(tup_nest)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [2]:
print(sorted(tup_nest))

[(1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (3, 'pqr', [91, 99, 92], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19)]

In [59]:
def sort_max(x):
    return max(x[2])

In [61]:
tupnestsorted = sorted(tup_nest, key = sort_max, reverse = True)

print(tupnestsorted)

[(2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (3, 'pqr', [91, 99, 92], 24), (5, 'xyz', [55, 75, 86], 19), (1, 'jkl', [62, 70, 82], 21), (4, 'def', [62, 81, 71], 20)]

In [3]:
def sort_func(x):
    return x[1]

In [4]:
sorted_tup = tuple(sorted(tup_nest, key = sort_func))

print(sorted_tup)

((3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (2, 'ghi', [51, 100, 51], 22), (1, 'jkl', [62, 70, 82], 21), (3, 'pqr', [91, 99, 92], 24), (5, 'xyz', [55, 75, 86], 19))

In [ ]:
a = (1,'jkl', [62,70,82], 21)

print(a[1])

In [5]:
# 'jkl', 'ghi', 'abc', 'pqr', 'def', 'xyz' = output of the function

# 'abc', 'def', 'ghi', 'jkl', 'pqr', 'xyz' = sorting happens

# Objects that output above results get sorted accordingly.

SyntaxError: invalid syntax (<ipython-input-5-ad8612beab57>, line 1)

In [56]:
print(tup_nest)

NameError: name 'tup_nest' is not defined

In [10]:
def max_sort(x):
    return max(x[2])

In [12]:
max_sorted_lst = tuple(sorted(tup_nest, key = max_sort, reverse = True))

print(max_sorted_lst)

((2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (3, 'pqr', [91, 99, 92], 24), (5, 'xyz', [55, 75, 86], 19), (1, 'jkl', [62, 70, 82], 21), (4, 'def', [62, 81, 71], 20))

In [14]:
# 82, 100, 100, 81, 86, 99

# 100,100,99,86,82,81


lst1 = list('abcde')

print(lst1.index('d'))

3

In [15]:
for i in tup_nest:
    print(i)
    print(i[2])
    print(i[2].index(max(i[2])))

(1, 'jkl', [62, 70, 82], 21)
[62, 70, 82]
2
(2, 'ghi', [51, 100, 51], 22)
[51, 100, 51]
1
(3, 'abc', [60, 100, 70], 24)
[60, 100, 70]
1
(4, 'def', [62, 81, 71], 20)
[62, 81, 71]
1
(5, 'xyz', [55, 75, 86], 19)
[55, 75, 86]
2
(3, 'pqr', [91, 99, 92], 24)
[91, 99, 92]
1

In [ ]:
def sort_funct(x):
    return max(x[2])

sort_tup = tuple(sorted(tup_nest, key = sort_funct))

print(sort_tup)

In [12]:
lst1 = tuple(range(1,100,10))

print(lst1)
print(type(lst1))

(1, 11, 21, 31, 41, 51, 61, 71, 81, 91)
<class 'tuple'>

In [11]:
lstenum = []
for x in range(len(lst1)):
    lstenum.append((x+1000,lst1[x]))
    
print(lstenum)

[(1000, 1), (1001, 11), (1002, 21), (1003, 31), (1004, 41), (1005, 51), (1006, 61), (1007, 71), (1008, 81), (1009, 91)]

In [19]:
enum = list(enumerate('abcdefghij', 1000))

print(enum)
print(type(enum))

[(1000, 'a'), (1001, 'b'), (1002, 'c'), (1003, 'd'), (1004, 'e'), (1005, 'f'), (1006, 'g'), (1007, 'h'), (1008, 'i'), (1009, 'j')]
<class 'list'>

In [22]:
for x in enum:
    print(x)

(1000, 'a')
(1001, 'b')
(1002, 'c')
(1003, 'd')
(1004, 'e')
(1005, 'f')
(1006, 'g')
(1007, 'h')
(1008, 'i')
(1009, 'j')

In [ ]:
#Note how the sorting has been performed on the first element of each nested tuple i.e. tuple - (3,'pqr', (100,100,100))
# has changed from last position to 4th. 

#However, by using functions in the key parameter of the sort function we can sort based on some other value. 

def sort_ind(x):
    return x[1]

tup_sortK = sorted(tup_nest, key = sort_ind)

print(tup_sortK)

In [ ]:
def sort_max_lst(x):
    return max(x[2])

print(tup_nest)

In [ ]:
tup_sortK = sorted(tup_nest, key = sort_max_lst, reverse=True)

print(tup_sortK)

# tup_sortK = sorted(tup_nest, key = lambda x : max(x[2]), reverse = True)

# print(tup_sortK)

In [ ]:
#Tuples are immutable(though as shown the elements inside tuples if are mutable, those can be mutated) so they are very
# useful in storing data like the above example where you can imagine the first item in each tuple is the roll no, the 2nd
# is the name, the third is the marks received put inside a list (which is mutable) in exam for 3 subjects and 4th is
# the age. 

#If while creating the tuple, we have kept mutable objects inside the tuple, it stands to reason that we likely wish the
# flexibility of changing the items inside that mutable object. For example - the above tuple set may be for the first
# exam of the year but we wish to be able to change the marks when we use our program for the 2nd and 3rd exam of the year
# and so forth. However, we do not expect the other elements of the tuple (such as roll no, name and age to change).

#NOTE - THIS IS NOT A RULE BUT A GENERAL GUIDELINE FOR UNDERSTANDING THE USE OF TUPLES.

In [62]:
#Mutating a tuple - is not possible. But we can - with a lot of manipulation change the items in the tuple object and create
# a new one - if our application demands it. E.g

#I wish to change the name of the student with roll call no. 1 to 'kkk'.

tup_nest = ((1, 'jkl', [62,70,82], 21),(2, 'ghi', [91,100,63], 22),(3, 'abc', [51,42,51], 24),
           (4, 'def', [62,81,71], 20),(5, 'xyz', [55,75,86], 19),(3, 'pqr', [91,99,92], 24))
print(tup_nest)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [75]:
x = list(tup_nest)

print(x)

[(1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24)]

In [65]:
lst_nest1 = list(tup_nest[0])

print(lst_nest1)

[1, 'jkl', [62, 70, 82], 21]

In [67]:
lst_nest1[1] = 'kkk'

lst_nest1 = tuple(lst_nest1)

print(lst_nest1)

(1, 'kkk', [62, 70, 82], 21)

In [79]:
tup_nest1 = ((tuple(lst_nest1),)) + tup_nest[1:]

print(tup_nest1)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [72]:
lst_nest = []

for x in tup_nest:
    lst_nest.append(list(x))
    
print(lst_nest)

[[1, 'jkl', [62, 70, 82], 21], [2, 'ghi', [91, 100, 63], 22], [3, 'abc', [51, 42, 51], 24], [4, 'def', [62, 81, 71], 20], [5, 'xyz', [55, 75, 86], 19], [3, 'pqr', [91, 99, 92], 24]]

In [73]:
lst_nest[0][1] = 'kkk'

print(lst_nest)

[[1, 'kkk', [62, 70, 82], 21], [2, 'ghi', [91, 100, 63], 22], [3, 'abc', [51, 42, 51], 24], [4, 'def', [62, 81, 71], 20], [5, 'xyz', [55, 75, 86], 19], [3, 'pqr', [91, 99, 92], 24]]

In [74]:
tup_nest_lst = []

for x in lst_nest:
    tup_nest_lst.append(tuple(x))
    
tup_nest_lst = tuple(tup_nest_lst)

print(tup_nest_lst)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [86]:
lst1 = ['yashoda', 'aakash', 'prakher', 'prashant', 'sachin']
lst2 
rollcall = list(enumerate(lst1, 1000))

print(rollcall)

[(1000, 'yashoda'), (1001, 'aakash'), (1002, 'prakher'), (1003, 'prashant'), (1004, 'sachin')]

In [82]:
for x in rollcall:
    print(x)

In [69]:
name_c = (tup_nest[0][:1])+ ('kkk',) +tup_nest[0][2:]

print(name_c)

((1,), 'kkk', [62, 70, 82], 21)

In [18]:
tup3x = tup_nest[1:]

print(tup3x)

((2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [19]:
tup_nest_rev = (name_c,) + tup3x

print(tup_nest_rev)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [21]:
print(tup_nest)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [20]:
#Of course, as one gets more proficient, we could do away with the intermediate variable and object and save space. 

name_c1 = (tup_nest[0][0]+ ('kkk',) + tup_nest[0][2:],) + tup_nest[1:]

print(name_c1)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [ ]:
#Aliasing Tuples

In [ ]:
tup1 = 1,2,3,[10,20,30]
print(tup1)
print(type(tup1))

In [ ]:
tup2 = tup1

# print(tup1)
# print(tup2)
print(id(tup1), id(tup2))
print(tup1 is tup2)

In [ ]:
tup1[3][1] = 201
print(tup1)
print(tup2)

In [ ]:
#Since tuples are immutable only the mutable objects inside them can be mutated, there really is no point in making a 
# shallow copy of a tuple and does not have a copy method

In [ ]:
tup1 = 1,2,3,[10,20,30]

tup3 = tup1[:]

print(tup1)
print(tup3)

In [ ]:
print(id(tup1), id(tup3))
print(tup1 is tup3)

In [ ]:
tup4 = tup1[1:]

print(tup4)

print(id(tup1), id(tup4))
print(tup1 is tup4)

In [ ]:
#Note however, that even though tup4 and tup1 are different objects they still contain only a memory reference to the last
# list object in them. So, a change in that list object will reflect in both of them. They exact same problem we had with
# shallow copy in lists. 


print(tup1)
print(tup4)

In [ ]:
tup1[3][1] = '2x2x'

print(tup1)
print(tup4)

In [ ]:
#So, just like lists (and dictionaries and sets), if we need copies of the original object where even the compound objects
# should be recursively copied with the elements contained in them - use the deepcopy function from the copy module. 

import copy
tup1 = (1,2,3,[10,2020,30])

tup2 = copy.deepcopy(tup1)

print(tup1)
print(tup2)

In [ ]:
tup1[3][1] = 20201

print(tup1)
print(tup2)

In [ ]:
print(dir(list))

In [10]:
print('Hi')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [11]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [27]:
#Tuple packing and unpacking. In tuples there is a very power tuple assignment feature called unpacking. 

#Packing a tuple is nothing but putting elements in a tuple. We have already seen the ways to 'pack' a tuple. 

tup1 = 1,2,3,4
print(type(tup1))

tup2 = (10,20,30,40)
print(type(tup2))

tup3 = tuple('abcde')
print(type(tup3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
p = tup1[0]
q = tup1[1]
r = tup1[2]
s = tup1[3]

In [34]:
#Unpacking is assigning tuple values to variables i.e. multiple variables on the left corresponding to the the values to
# be assigned on the right. 

p,q,r,s = tup1

print(p,q,r,s, sep= '\n')

1
2
3
4

In [29]:
print(tup2)

(10, 20, 30, 40)

In [30]:
p,q,r,s = tup2

print(p,q,r,s, sep= '\n')

10
20
30
40

In [31]:
print(tup3)

('a', 'b', 'c', 'd', 'e')

In [37]:
p,q,r,s,t= tup3

print(p,q,r,s,t, sep= '\n')

a
b
c
d
e

In [33]:
p,q,r = tup3

ValueError: too many values to unpack (expected 3)

In [ ]:
#In case we want only a couple of values assigned and the rest to be assigned to a single variabel(list by default) we
# can use the * symbol in front of the variable to show multiple arguments passed (*args)

print(tup3)

In [40]:
p,q, *s = tup3

s = tuple(s)

print(p,q,s, sep= '\n')

a
b
('c', 'd', 'e')

In [41]:
*p,q,s = tup3

print(p,q,s, sep = '\n')

['a', 'b', 'c']
d
e

In [ ]:
#Note, the order of the assignment of the regular variables and the *variable doesnt matter. First the n number of elements
# in tuple (n being equal to the number of regular variables passed) are passed to the regular variables and all the rest
# of the values are assigned to a single * prefixed variable. 

p,*s,q,r = tup3

print(p,s,q,r, sep = '\n')

In [ ]:
p,*s,*t = tup3

print(p,s,t, sep = '\n')

In [ ]:
#using this logic of tuple unpacking we can assign a single tuple with all the parameters to be used in a function into
# the function prefixed with a star and Python will automatically unpack the tuple and assign values to the parameters. 

def just_a_func(x,y,z,p,q):
    return p+q, (x+y*z)

func_tup = (2,2,3,'Rikki ', 'Rocks ')

In [ ]:
print(just_a_func(*func_tup))

#Do not forget the star in front of the tuple before passing into the function

In [ ]:
a,b = just_a_func(*func_tup)

print(a, b, sep = '\n')

In [ ]:
y = 10,20

print(y)
print(type(y))

In [ ]:
def tup_output_func():
    return 10,20

In [ ]:
x,y = tup_output_func()

print(x)
print(type(x))

In [ ]:
# We can also use the * in front of a parameter in a function definition when the number of elements (parameters) for the
# function are not known or defined. We will discuss this in deep in Functions. But for now, this is a simple idea.

In [ ]:
# def func_lst_r(*param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(*lst_r)

# #Note how the * in front of both the function parameter and the argument to the function call both have * prefixed - in the
# # first case - * in front of parameter - we are telling the program - we do not know how many elements will be passed to 
# # the function. In the second case - * in front of the argument - we are asking Python to unpack the elements in the list
# # into the variables defined in the function parameters. Since we already prefixed the parameters with a star signifying
# # unpack how many ever elements show up - everything works fine.

In [ ]:
#Note what happens when either of the * is missing. 

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(*lst_r)

In [ ]:
#Here we see the program throwing us an error saying only one argument was expected but there were 10 elements unpacked from
# the list.

In [ ]:
# def func_lst_r(*param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(lst_r)

In [ ]:
# # Of course, in this simple program we could have just not any *s and it would work but this was just an example of packing
# # and unpacking. 

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(lst_r)

In [ ]:
# #or the range object directly

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = range(10)

# func_lst_r(lst_r)

In [ ]:
x = 'Python'
y = 'Python'

z = 'Python#'
zz = 'Python#'


print(z is zz)

In [ ]:
print(dir(tuple))

In [43]:
lst1 = list('abcde')

print(lst1)

['a', 'b', 'c', 'd', 'e']

In [56]:
enum_lst1 = list(enumerate('ABCDE', 10))

print(enum_lst1)

[(10, 'A'), (11, 'B'), (12, 'C'), (13, 'D'), (14, 'E')]

In [57]:
for i in enumerate('ABCDE'):
    print(i[0], i[1]*5)

0 AAAAA
1 BBBBB
2 CCCCC
3 DDDDD
4 EEEEE

In [61]:
enum_lst2 = enumerate('ABCDE')

print(enum_lst2)

<enumerate object at 0x00000258B3CA0B80>

In [60]:
for x in enum_lst2:
    print(x)

In [ ]:
tup1 = tuple('abcdefghij')

print(tup1)

wIndex = list(enumerate(tup1, 101))

print(wIndex)

In [ ]:
lsttrial = [1,2,'a', 'f']

print(sorted(lsttrial))

In [ ]:
print(10 > '20')

In [ ]:
lst1 = [21,2,4,5,11,2123,42,349, 82, 62]

def sortedbyrikki(lst1):
    for x in lst1:
        for y in range(len(lst1)-1):
            print(lst1)
            if lst1[y]>lst1[y+1]:
                lst1[y], lst1[y+1] = lst1[y+1], lst1[y]
    return lst1
            
sortedbyrikki(lst1)

In [22]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']