### Datatype - Tuples, Aliasing/Copying/Deepcopying

In [ ]:
# Properties of tuples

#1. Derived
#2. Immutable
#3. Iterable
#4. Subscription - Indexing, slicing - supported, Assignemnt(indexing, slicing) - Not supported
#5. Can contain heterogenous datatypes
#6. Nesting is supported. 
#7. Ordered. Input - output order is maintained.

In [1]:
set1 = set('abcdefghijklmnopqrstuvwxyz')

print(set1)

{'v', 'r', 'o', 'q', 'm', 'b', 'i', 't', 'x', 'a', 'l', 's', 'h', 'w', 'e', 'p', 'j', 'u', 'f', 'y', 'g', 'k', 'd', 'n', 'z', 'c'}

In [2]:
tup1 = tuple('abcdefghijklmnopqrstuvwxyz')

print(tup1)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')

In [3]:
lst1 = list('abcdefghijklmnopqrstuvwxyz')

print(lst1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
# Dictionaries used to be unordered, now they are ordered.

In [ ]:
# Initialising tuples

In [4]:
tup1 = (1,2,3)

print(tup1)

(1, 2, 3)

In [5]:
tup2 = 1,2,3

print(tup2)

(1, 2, 3)

In [6]:
tup3 = 1,

print(tup3)

(1,)

In [7]:
tup4 = (1,)

print(tup4)

(1,)

In [8]:
tup5 = (1)

print(tup5)
print(type(tup5))

1
<class 'int'>

In [9]:
tup1 = tuple('abcde') # Explicit typecasting

print(tup1)

('a', 'b', 'c', 'd', 'e')

In [11]:
tup1 = tuple((1,2,3,4))

print(tup1)

(1, 2, 3, 4)

In [12]:
tup1 = tuple([1,2,3,4])

print(tup1)

(1, 2, 3, 4)

In [13]:
tuprange = tuple(range(10))

print(tuprange)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Indexing, Slicing on tuples

In [14]:
tup1 = tuple(range(1,11))

In [15]:
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [16]:
tup1[4:7]

(5, 6, 7)

In [17]:
tup1[7:2:-2]

(8, 6, 4)

In [18]:
tup1[3]

4

In [20]:
tup1[3] = 40 # Assignment is not supported

TypeError: 'tuple' object does not support item assignment

In [21]:
for x in tup1:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [22]:
# Concatenation

tup1 = tuple((1,2,3,4))
tup2 = tuple('abcde')

print(tup1)
print(type(tup1))

print(tup2)
print(type(tup2))

(1, 2, 3, 4)
<class 'tuple'>
('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [23]:
tup3 = tup1 + tup2

print(tup3)

(1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e')

In [24]:
print(id(tup1), id(tup2), id(tup3), sep = '\n')

2937696310992
2937695560464
2937663039856

In [25]:
tup4 = tup1*5

print(tup4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [26]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [27]:
tup1 = tuple('xyzahgjagbbbaacdeffe')

print(tup1)

('x', 'y', 'z', 'a', 'h', 'g', 'j', 'a', 'g', 'b', 'b', 'b', 'a', 'a', 'c', 'd', 'e', 'f', 'f', 'e')

In [28]:
x = tup1.count('a')

print(x)

4

In [29]:
y = tup1.index('a')

print(y)

3

In [37]:
tup1 = tuple(x*2 for x in range(10))

print(tup1)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [36]:
for x in tup1:
    print(x)

In [ ]:
# Generator object is a subclass of iterator objects. Its a datatype in Python.

In [ ]:
# A generator object can only be iterated over once.
# It is created using the 'yield' keyword while defining the function to create it <instead of the normal 'return' keyword>

In [38]:
tup1 = (x*2 for x in range(10))

print(tup1)

<generator object <genexpr> at 0x000002ABFC67D510>

In [40]:
for x in tup1:
    print(x)

In [41]:
tup2 = tuple(x*2 for x in range(10))

print(tup2)
print(type(tup2))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)
<class 'tuple'>

In [44]:
for x in tup2:
    print(x)

0
2
4
6
8
10
12
14
16
18

In [59]:
# Excercise for class:

tup1 = ((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

print(tup1)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [47]:
# Change 'jkl' to 'kkk' in tup1. You can (and WILL HAVE TO) create a new tuple <name it tup2> since tuples are immutable. 

# Hint - Slicing and indexing are permitted in tuples. 

# BTW - There are at least two ways to do this - one to convert the tuple to a list, alter it and then convert it back. This
# is the easy way. 

# But I also want to see the hard way i.e. without converting to list.

In [55]:
# swapnil

tup2 = tup1[0][:1]+('kkk',) + tup1[0][2:] + tup1[2:]

print(tup2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
# Parth
tup1 = ((1,'jkl',[62,70,82]))

lst1 = list(tup1)
lst1[1] = 'aaa'

tup2 = tuple(lst1)
print(tup2)

(1, 'aaa', [62, 70, 82])

In [68]:
# Sandeep

tup2 = (((tup1[0][0],'kkk',tup1[0][2:]) + tup1[1:]))

print(tup2)

(1, 'kkk', ([62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [61]:
print(tup2[0])

(1, 'kkk', ([62, 70, 82], 21))

In [62]:
print(len(tup2))

2

In [69]:
# Sandeep 2

tup2 = (tup1[0][0],'kkk',tup1[0][2:],tup1[1:])

print(tup2)

(1, 'kkk', ([62, 70, 82], 21), ((2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24)))

In [71]:
tup2 = tuple((tup1[0][0],)+('kkk',)+(tup1[0][2:],)+(tup1[1:],))

print(tup2)
print(len(tup2))

(1, 'kkk', ([62, 70, 82], 21), ((2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24)))
4

In [72]:
tup2[0]

1

In [73]:
# Rafiya

tup1=((1,'jkl',[1,2,3,4],21),(2,'abr',[2,34]),('hhh',[2,'h']))
tup2=()
tup2=(tup1[0][0],('hmk'),(tup1[0][2:]),(tup1[1:]))
print(tup2)

(1, 'hmk', ([1, 2, 3, 4], 21), ((2, 'abr', [2, 34]), ('hhh', [2, 'h'])))

In [74]:
# rakesh

tup1 = ((1, 'jkl', [62, 45, 65]), (2, 'ghj', [51, 'abc']))

list1 = list(tup1)

list1[0] = list1[0][:1] + ('xyz',) + list1[0][2:]
tup2 = tuple(list1)
print(tup2)

((1, 'xyz', [62, 45, 65]), (2, 'ghj', [51, 'abc']))

In [75]:
# Mehak

tup1 = ((1, 'jkl', [62,70,82], 21), (2,'ghi',[51,100,51],22))


tup3 = tuple((tup1[0][0] , 'kkk' , tup1[0][2:] )) + tup1[1:]
print(tup3)

(1, 'kkk', ([62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22))

In [77]:
print(tup3[0])

1

In [78]:
#

tup1 = ((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

print(tup1)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [87]:
tup1X0 = tup1[0]

print(tup1X0)

(1, 'jkl', [62, 70, 82], 21)

In [ ]:
tup1Xstep1 = (tup1X0[0],)+('kkk',)+tup1X0[2:]

In [88]:
tup1X = (tup1[0][0],)+('kkk',)+tup1[0][2:]

# (1,) + ('kkk',)+ ([62,70,82],21)

print(tup1X)

(1, 'kkk', [62, 70, 82], 21)

In [89]:
tup2 = (tup1X,)+tup1[1:]

print(tup2)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [84]:
tup2 = ((tup1[0][0],)+('kkk',)+tup1[0][2:],)+ tup1[1:]

print(tup2)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [51, 100, 51], 22), (3, 'abc', [60, 100, 70], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [90]:
# Difference between properties of lists and tuples?

# Tuples are immutable lists. Rest all properties are same i.e only assignment not supported in tuples (due to immutability)

### Aliasing, copying, deepcopying

In [91]:
import copy

In [92]:
lst1 = list(range(10))

lst2 = lst1[:]
lst3 = lst1.copy()
lst4 = copy.copy(lst1)

print(lst1, id(lst1))
print(lst2, id(lst2))
print(lst3, id(lst3))
print(lst4, id(lst4))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 2937697224192
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 2937697228032
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 2937697199296
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 2937697209152

In [96]:
lst1 = [1,'a', 10.2,[1000,2000,3000]]

lst2 = lst1
lst3 = lst1.copy()
lst4 = copy.deepcopy(lst1)



print(lst1, id(lst1))
print(lst2, id(lst2))
print(lst3, id(lst3))
print(lst4, id(lst4))

[1, 'a', 10.2, [1000, 2000, 3000]] 2937697243392
[1, 'a', 10.2, [1000, 2000, 3000]] 2937697243392
[1, 'a', 10.2, [1000, 2000, 3000]] 2937697191424
[1, 'a', 10.2, [1000, 2000, 3000]] 2937697155712

In [94]:
lst1[0] = 2

print(lst1)
print(lst2)
print(lst3)
print(lst4)

[2, 'a', 10.2, [1000, 2000, 3000]]
[2, 'a', 10.2, [1000, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]

In [95]:
lst1[3][0] = 1111

print(lst1)
print(lst2)
print(lst3)
print(lst4)

[2, 'a', 10.2, [1111, 2000, 3000]]
[2, 'a', 10.2, [1111, 2000, 3000]]
[1, 'a', 10.2, [1111, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]

In [97]:
print(lst1, lst2, lst3, lst4, sep = '\n')

[1, 'a', 10.2, [1000, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]
[1, 'a', 10.2, [1000, 2000, 3000]]

In [98]:
for x in range(len(lst1)):
    print(f'{lst1[x]} is the object.')
    print(id(lst1[x]), id(lst2[x]), id(lst3[x]), id(lst4[x]), sep = '---')

1 is the object.
2937616361776---2937616361776---2937616361776---2937616361776
a is the object.
2937618810352---2937618810352---2937618810352---2937618810352
10.2 is the object.
2937696268752---2937696268752---2937696268752---2937696268752
[1000, 2000, 3000] is the object.
2937697209152---2937697209152---2937697209152---2937697200640

In [99]:
lst1 = [1,'a',10.2,[1000,[2000,3000,[4000,5000]]]]

lst2 = copy.deepcopy(lst1)

print(lst1)
print(lst2)

[1, 'a', 10.2, [1000, [2000, 3000, [4000, 5000]]]]
[1, 'a', 10.2, [1000, [2000, 3000, [4000, 5000]]]]

In [100]:
print(id(lst1[3]))
print(id(lst2[3]))

2937697244096
2937696320768

In [101]:
print(id(lst1[3][1]))
print(id(lst2[3][1]))

2937697262912
2937697223104

In [102]:
print(id(lst1[3][1][2]))
print(id(lst2[3][1][2]))

2937697200704
2937697244032